/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * HTML base styles
 * 1) Set the html element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
html {
   min-height: 100vh; /* 1 */
}

/**
 * Body base styles
 * 1) Set the body element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 * 2) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
body {
   display: flex; /* 1 */
   flex-direction: column; /* 1 */
   min-height: 100vh; /* 1 */
   @include typographyBody;
   -webkit-text-size-adjust: 100%; /* 2 */
   background-color: $color-white;
   color: $color-gray-88;
}
