/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
a {
   color: $color-links;
   text-decoration: none;
   transition: color $anim-fade-quick $anim-ease;

   &:hover,
   &:focus {
      color: $color-links-hover;
   }

   &:focus {
      @include focus();
   }

   &:active {
      color: $color-links-active;
   }
}
