/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/

/**
 * Main element
 */
main {
	display: block;
	margin-top: 2rem;

	@media all and (min-width: $bp-med) {
		margin-top: 5rem;
	}
}
