<div class="field {{ styleModifier }}">
  <div class="field__input-wrapper">
    <label for="{{ id }}" class="field__label">{{ label }}</label>
    {{> atoms-input-type-text(id: id, placeholder: label,  className: "field__input") }}
    {{# message }}
      <p class="field__message">{{ message }}</p>
    {{/ message }}
    {{# error }}
      <p class="field__message field__message--error">{{ error }}</p>
    {{/ error }}
    {{# warning }}
      <p class="field__message field__message--warning">{{ warning }}</p>
    {{/ warning }}
  </div>
</div>