{{> molecules-field-mixin(typeText: true,  id: 'id1', label : 'Vestibulum ante' ) }}
{{> molecules-field-mixin(typePassword: true,  id: 'id2', label : 'Maecenas sed' ) }}
{{> molecules-field-mixin(typeTel: true,  id: 'id3', label : 'Phasellus blandit dolor' ) }}
{{> molecules-field-mixin(typeUrl: true,  id: 'id3', label : 'Curabitur ac dolor risus' ) }}
{{> molecules-field-mixin(typeEmail: true,  id: 'id4', label : 'Nulla eu ipsum' ) }}
{{> molecules-field-mixin(typeTextarea: true,  id: 'id5', label : 'Duis eget est consequat' ) }}
{{> molecules-field-mixin(typeSelect: true,  id: 'id6', label : 'Gollicitudin orci' ) }}

{{> molecules-field-mixin(typeText: true,  id: 'id1w', label : 'Praesent et accumsan',  styleModifier: 'field--show-floating-label' ) }}

{{> molecules-field-mixin(typeText: true,  id: 'id7', label : 'Donec convallis', message: 'Curabitur eu aliquam risus. Aliquam vitae fermentum neque.' ) }}
{{> molecules-field-mixin(typeText: true,  id: 'id8', label : 'In hac habitasse', error: 'Phasellus pharetra mauris molestie arcu rutrum porttitor.',  styleModifier: 'field--error' ) }}
{{> molecules-field-mixin(typeText: true,  id: 'id9', label : 'Curabitur at lacus', success: 'Nulla consequat massa quis enim.',  styleModifier: 'field--success' ) }}
{{> molecules-field-mixin(typeText: true,  id: 'id10', label : 'Quisque sedfelis', warning: 'Aenean condimentum mi mauris; nec finibus nulla cursus molestie.' ) }}

