<div class="field">
  <div class="field__input-wrapper">
    <label for="text" class="field__label">Text Input</label>
    <input id="text" type="text" placeholder="Text Input" class="field__input">
  </div>
</div>
<div class="field">
  <div class="field__input-wrapper">
    <label for="password" class="field__label">Password</label>
    <input id="password" type="password" placeholder="Password" class="field__input">
  </div>
</div>
<div class="field field--half field--show-floating-label">
  <div class="field__input-wrapper">
    <label for="webaddress" class="field__label">Web Address</label>
    <input id="webaddress" type="url" placeholder="Web Address" class="field__input" value="http://">
  </div>
</div>
<div class="field field--half">
  <div class="field__input-wrapper">
    <label for="emailaddress" class="field__label">Email Address</label>
    <input id="emailaddress" type="email" placeholder="Email Address" class="field__input">
  </div>
</div>
<div class="field">
  <div class="field__input-wrapper">
    <label for="search" class="field__label">Search</label>
    <input id="search" type="search" placeholder="Search" class="field__input">
  </div>
</div>

<div class="field">
  <div class="field__input-wrapper">
        <textarea id="textarea" rows="8" cols="48" placeholder="Textarea"
                  class="field__input"></textarea>
    <label for="textarea" class="field__label">Textarea</label>
  </div>
</div>

  <div class="field field--show-floating-label">
    <div class="field__input-wrapper">
      <label for="text" class="field__label">Input With Value</label>
      <input id="text" type="text" placeholder="Input With Value" class="field__input" value="{{excerpt.short}}">
    </div>
  </div>
  <div class="field field--show-floating-label">
    <div class="field__input-wrapper">
      <label for="textarea" class="field__label">Textarea With Value</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Textarea With Value"
                  class="field__input">{{excerpt.short}}</textarea>
    </div>
  </div>

  <div class="field field--optional">
    <div class="field__input-wrapper">
      <label class="field__label">An Optional Field</label>
      <input class="field__input" type="text" placeholder="An Optional Field">
    </div>
  </div>
  <div class="field field--required">
    <div class="field__input-wrapper">
      <label class="field__label">A Required Field</label>
      <input class="field__input" type="text" placeholder="A Required Field">
    </div>
  </div>

  <div class="field">
    <div class="field__input-wrapper">
      <label class="field__label">A Field With Message</label>
      <input class="field__input" type="text" placeholder="A Field With Message">

      <p class="field__message">{{excerpt.short}}</p>
    </div>
  </div>
  <div class="field field--error">
    <div class="field__input-wrapper">
      <label class="field__label">A Field With Error Message</label>
      <input class="is-error field__input" type="text" placeholder="A Field With Error Message">

      <p class="field__message field__message--error">{{excerpt.short}}</p>
    </div>
  </div>
  <div class="field field--required">
    <div class="field__input-wrapper">
      <label class="field__label">A Field With Suggestion Message</label>
      <input class="field__input" type="text" placeholder="A Field With Suggestion Message">

      <p class="field__message field__message--warning" data-email-suggestions="">{{excerpt.short}}</p>
    </div>
  </div>