.field {
  padding: .45em;
  width: 100%;
  &__input-wrapper {
    width: 100%;
    position: relative;
    &--select {
      @include icon('chevron-down');
      &:before {
        color: inherit;
        font-size: 1.35em;
        right: 2px;
        top: 8px;
        bottom: 8px;
        width: 40px;
        line-height: 1.85em;
        text-align: center;
        border-left: 1px solid $colorBorder;
        pointer-events: none;
        position: absolute;
      }
    }
  }
  &__label {
    font-family: $fontSecondary;
    color: $colorNevada;
    letter-spacing: 0.12em;
    -moz-user-select: none;
    box-sizing: border-box;
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 0.3em;
    opacity: 0;
    overflow: hidden;
    padding: 0 0.73333em;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    transform: translateY(3px);
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    transition: opacity $animationTimingFast ease-out;
  }
  &__input {
    font-family: $fontPrimary;
    width: 100%;
    padding: 0.9875em 0.625em 0.7875em;
    font-size: 0.875em;
    line-height: 1.525em;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border: 1px solid $colorBlack;
    background: transparent;
    &--select {
      line-height: 1.4em;
      padding-bottom: 0.375em!important;
      position: relative;
    }
    .field--show-floating-label & {
      padding-top: 1.5em;
      padding-bottom: 0.275em;
    }
  }
  &__message {
    font-family: $fontPrimary;
    font-weight: 300;
    font-size: 0.85714em;
    margin: 0.75em 0 0.25em;
    &--error {
      display: none;
      color: $colorError;
      line-height: 1.3em;
      .field--error & {
        display: block;
      }
    }
  }
  &--show-floating-label {
    .field {
      &__label {
        opacity: 1;
      }
    }
  }
}