.field {
  width: 100%;

  &__input-wrapper {
    margin: .45em 0;
    position: relative;

    &--select {
      @include icon('chevron-down');

      &:before {
        color: inherit;
        font-size: 1.35em;
        right: 2px;
        top: 8px;
        bottom: 8px;
        width: 40px;
        line-height: 1.5em;
        text-align: center;
        border-left: 1px solid $colorBorder;
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }
    }
  }

  &__label {
    font-family: $fontSecondary;
    color: $colorNevada;
    user-select: none;
    box-sizing: border-box;
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 0.3em;
    opacity: 0;
    overflow: hidden;
    padding: 0 0.73333em;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    transform: translateY(3px);
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    transition: opacity $animationTimingFast ease-out;
  }

  &__input {
    font-family: $fontSecondary;
    width: 100%;
    padding: 0.9875em 0.625em 0.7875em;
    font-size: 0.875em;
    line-height: 1.5714em;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border: 1px solid $colorBlack;
    background-color: $colorWhite;
    box-sizing:border-box;

    &--select {
      line-height: 1.4em;
      padding-bottom: 0.4286em !important;
      position: relative;
      box-sizing:border-box;
    }

    .field--show-floating-label & {
      padding-top: 1.5em;
      padding-bottom: 0.275em;
    }

    .field__input-wrapper--select & {
      padding-top: 1.5em;
      padding-bottom: 0.2em;
    }
  }

  &__message {
    &,
    &--warning {
      font-family: $fontSecondary;
      font-weight: 300;
      font-size: 0.85714em;
      margin: 0.75em 0.575em 0.25em;
    }

    &--error {
      display: none;
      color: $colorError;
      line-height: 1.3em;

      .field--error & {
        display: block;
      }
    }
    &--success {
      display: none;
      color: $colorValid;
      line-height: 1.3em;
      @include icon(check);

      &:before {
        margin-right : ($marginMini/3);
      }

      .field--success & {
        display: block;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 0.2em;
    width: 40px;
    height: 40px;
    margin-top: -20px;

    &:focus {
      outline: none;
    }
  }

  &--show-floating-label,
  &__input-wrapper--select {
    .field {
      &__label {
        opacity: 1;
      }
    }
  }
}