.newsletterForm {
  * {
    box-sizing : border-box;
  }
  &__container {
    @extend .field__container;
    display : flex;
    flex-direction : row;
    justify-content : space-between;

    &--fieldset {
      flex : 2;
      margin-right : 0.5em;
    }
    &--input {
      @extend .field__container--input;
      height : 40px;
      width : 100%;
      @media only screen and (min-width : $breakpointDesktop) {
        width : 300px;
      }
    }
    .message {
      max-width : 300px;
      display : block;
      margin-top : 1em;
      left: 0;
      font-size : 0.875em;
      font-family : $fontSecondary;
    }
    .success {
      font-size : 0.875em;
      font-weight : 500;
    }
    &--button {
      height : 40px;
    }
  }

  &__label {
    margin-bottom : 2em;
    font-size : 0.875em;
    display : block;
    text-transform : uppercase;
  }
}