<form action="#" method="post" class="newsletterForm">
    <label for="newsletter-scope" class="newsletterForm__label">JOIN US ON OUR JOURNEY</label>
    <div class="newsletterForm__container">
        <fieldset class="newsletterForm__container--fieldset">
	   		<input type="text" placeholder="Enter your email" id="newsletter-field" class="newsletterForm__container--input" />
        </fieldset>
        <button class="newsletterForm__container--button button">Join Now!</button>
    </div>
</form>

<form class="newsletterForm ">
    <label for="newsletter-email" class="newsletterForm__label">Join us on our journey</label>
    <div class="newsletterForm__container">
        <fieldset class="newsletterForm__container--fieldset">
            <input type="email" name="EMAIL" placeholder="Enter your Email" id="newsletter-email" class="newsletterForm__container--input">
            <span class="message">Something seems to be wrong with your email address. Please check it and try again.</span></fieldset>
        <button class="newsletterForm__container--button button" type="submit" name="submit" value="submit">Join Now!</button>
    </div>
</form>