<form action="#" method="post" class="newsletterForm">
    <fieldset>
	    <label for="newsletter-scope" class="field__container--label">Sign up for our newsletter</label>
	    <div class="inline-container field__container">
	   		<input type="text" placeholder="E-mail address" id="newsletter-field" class="field__container--input newsletterField" />
	    	<button class="newsletter-submit button">Sign Me Up</button>
		</div>
    </fieldset>
</form>