<form action="#" method="post" class="newsletterForm">
    <fieldset>
	    <label for="newsletter-scope" class="newsletterForm__label">JOIN US ON OUR JOURNEY</label>
	    <div class="newsletterForm__container">
	   		<input type="text" placeholder="Enter your email" id="newsletter-field" class="newsletterForm__container--input" />
	    	<button class="newsletterForm__container--button button">Join Now!</button>
		</div>
    </fieldset>
</form>