.radio {
  &-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    align-content: space-between;
    padding: 1.3em 1em;
    font-size: .875em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid $colorBorder;
    border-top: 1px solid $colorBorder;
    & + & {
      border-top: 0
    }
  }
  &__input {
    flex: 0 0 40px;
  }
  &__label {
    flex: 1 1;
    img {
      height: 1.5em;
      vertical-align: middle;
      margin-top: -.2em
    }
  }
  &__accessory {
    padding-left: 1em;
    text-align: right;
    .payment-icon {
      margin: -2px 0 -6px
    }
  }
}

