
{{> molecules-radio-mixin(id: 'molecules-radio-mixin3223', label : 'Pellentesque consequat velit neque. Aliquam nec feugiat nibh. Curabitur feugiat' ) }}
{{> molecules-radio-mixin(id: 'molecules-radio-mixin3456', label : 'Donec sit amet sollicitudin eros', accessory: 'morbi tristique' ) }}
{{> molecules-radio-mixin(id: 'molecules-radio-mixin3223', label : ' Nullam ante nunc, iaculis non finibus vel, vehicula et lacus.', typePayment: true ) }}