.checkbox {
  &-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-weight: 300;
    padding: 1.3em 1em;
    & + & {
      padding-top: 0
    }
  }

  &__input {
    flex: 0 0 30px;
    transform: translateY(-0.05em);
  }
  &__label {
    flex: 1 1;
    cursor: pointer;
    font-family : $fontSecondary;
  }
}

