
{{> molecules-checkbox-mixin(id: 'molecules-checkbox-mixin3223', checked: true, label : 'Pellentesque consequat velit neque. Aliquam nec feugiat nibh. Curabitur feugiat' ) }}
{{> molecules-checkbox-mixin(id: 'molecules-checkbox-mixin3456', checked: false, label : 'Donec sit amet sollicitudin eros', accessory: 'morbi tristique' ) }}