<form action="#" method="post" class="newsletterForm">
    <fieldset>
	    <legend>Sign up for our newsletter</legend>
	    <label for="newsletter-scope">Sign up for our newsletter</label>
	    <div class="inline-container">
	   		<input type="text" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
	    	<button class="newsletter-submit">Sign Me Up</button>
		</div>
    </fieldset>
</form>