.activateTA {
  text-align : center;
  margin-right : auto;
  margin-left : auto;
  max-width : 17.5em;

  .list {
    text-align : left;
    margin-right : auto;
    margin-left : auto;
    margin-bottom : $marginMini;
    @include font-fira-light(1.063em);
  }

  &__headline {
    margin-bottom : 0;
  }

  &__price {
    display : flex;
    align-items: center;
    margin-right : auto;
    margin-left : auto;
    justify-content: center;
  }

  &__number {
    @include font-tertiary-heavy(7.5em);
    text-transform: uppercase;
    letter-spacing : 0;
    margin-top: -0.5rem;
    margin-bottom: -0.3rem;
  }

  &__currency {
    letter-spacing : 0;
    text-align: left;
    margin-left : 0.3em;
    @include font-quaternary-uppercase();
  }

  &__footNote {
    margin-top : $marginMini;
    @include font-quaternary-lowercase($fontSizeSmall);
  }

  .button {
    margin-top : $marginMini;
  }
}
