<div class="activateTA">
    <p class="activateTA__headline headlineH5">{{ TA-headline || 'Vestibulum turpis sem aliquet eget Pellentesque commodo*' }}</p>
    <div class="activateTA__price"><span class="activateTA__number">{{ number || '#' }}</span><span class="activateTA__currency headlineH5">{{ currency || 'Eur' }}<br>{{ time || 'Month' }}</span></div>
    <p class="activateTA__subheadline headlineH5">{{ TA-subheadline || 'Vestibulum turpis sem aliquet eget Pellentesque commodo*' }}</p>
    {{> atoms-unordered }}
    {{> molecules-field-mixin(typeText: true)}}
    {{> molecules-field-mixin(typeText: true)}}
    {{> atoms-button(type: true, class: 'primary') }}
    <p class="activateTA__footNote">*Pellentesque habitant morbi tristique senectus</p>
</div>