.activateTA {
  text-align : center;
  margin-right : auto;
  margin-left : auto;
  max-width : 17.5em;

  .list {
    text-align : left;
    margin-right : auto;
    margin-left : auto;
    margin-bottom : $marginMini;
  }

  &__headline {
    margin-bottom : 0;
  }

  &__price {
    display : flex;
    align-items: center;
    margin-right : auto;
    margin-left : auto;
    justify-content: center;
  }

  &__number {
    @include font-secondary-medium-uppercase(7.5em);
    letter-spacing : 0;
    margin-top: -1rem;
    margin-bottom: -0.3rem;
  }

  &__currency {
    letter-spacing : 0;
    text-align: left;
    margin-left : 0.3em;
  }

  &__footNote {
    margin-top : $marginMini;
    font-size : 0.75em;
  }

  .button {
    margin-top : $marginMini;
  }
}