/*------------------------------------*\
    #FOOTER NAV
\*------------------------------------*/

/**
 * The nav inside the footer 
 */
.c-footer-nav {
   font-size: $font-size-sm-2;
   margin-bottom: $spacing;

   @media all and (min-width: $bp-med) {
      display: flex;
   }
}

.c-footer-nav__item {
   @media all and (min-width: $bp-med) {
      margin-right: $spacing-large;
   }
}
