/*------------------------------------*\
    #HEADING PERMALINK
\*------------------------------------*/

/**
 * Dynamically applied link icon 
 */

.heading-permalink {
  position: absolute;
  top: -3px;
  left: -20px;
  display: block;
  padding-right: 4px;
}

.heading-permalink__icon {
  width: 16px;
  height: 16px;
}
