/*------------------------------------*\
    #HERO
\*------------------------------------*/

.c-hero {
  padding: 2rem;
  background: url(https://patternlab.io/assets/icon-atom.svg);
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-hero__title {
  @include highlightEffect();
}

.c-hero__footer {
  position: absolute;
  bottom: -55px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
}
