.intro {
  background: var(--color-theme-highlight);

  &__summary {
    --flow-space: #{get-size(500)};
  }

  &__heading {
    max-width: 40ex;
  }

  &__meta {
    color: var(--color-theme-primary);
  }
}
