/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */
.c-page-header {
	margin-bottom: $spacing-large;
}

.c-page-header__kicker {
	color: $color-gray-50;
	margin-bottom: 0.5rem;
}

/**
 * Page header title
 */
.c-page-header__title {
	margin-bottom: $spacing;
	@include textShadowEffect();
}

/**
 * Page description
 */
.c-page-header__desc {
	margin-top: 1rem;
	margin-bottom: 2rem;
}
