.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-text);
  color: var(--color-bg);

  // Reverse selection colors
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};

  &__credit {
    text-align: center;

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
