/*------------------------------------*\
    #STACKED BLOCK LIST
\*------------------------------------*/

/**
 * Stacked block list item
 */
.c-stacked-block-list__item {
   border-bottom: 1px solid $color-gray-27;
   padding-bottom: 1rem;
   margin-bottom: 2rem;
}
