/*------------------------------------*\
    #TILE
\*------------------------------------*/

.c-tile {
	position: relative;
	padding: 2rem 0;
	background: $color-brand-green-transparent;
	@include boxShadowEffect();

	.c-tile-list__item & {
		height: 100%;
	}
}

.c-tile--gray-13 {
	background: $color-brand-green-transparent;
}

.c-tile--gray-27 {
	background: $color-brand-orange-transparent;
	@include boxShadowEffect('orange');
}

.c-tile--gray-50 {
	background: $color-brand-purple-transparent;
	@include boxShadowEffect('purple');
}

.c-tile__title {
	position: static;
}

.c-tile__link {
	text-decoration: underline;
}
