/*------------------------------------*\
    #TILE
\*------------------------------------*/

.c-tile-list {
   display: grid;
   grid-gap: $spacing-large;
   margin-bottom: $spacing-xl;

   @media all and (min-width: $bp-xl) {
      grid-template-columns: 1fr 1fr;
   }
}

.c-tile-list__item:nth-child(1) {
   @media all and (min-width: $bp-xl) {
      grid-row: span 2;
   }
}

.c-tile-list__item:nth-child(2) {
   @media all and (min-width: $bp-xl) {
      grid-column: 2/3;
   }
}
.c-tile-list__item:nth-child(3) {
   @media all and (min-width: $bp-xl) {
      grid-row: 2;
      grid-column: 2/3;
   }
}
