/*------------------------------------*\
    #TILE
\*------------------------------------*/

.c-tile {
	position: relative;
	padding: 2rem 0;
	background: $color-gray-07;

	.c-tile-list__item & {
		height: 100%;
	}
}

.c-tile--gray-13 {
	background: $color-gray-13;
}

.c-tile--gray-27 {
	background: $color-gray-27;
}

.c-tile--gray-50 {
	background: $color-gray-50;
	color: $color-white;
}

.c-tile__title {
	position: static;
}

.c-tile__link {
	text-decoration: underline;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 0px;
		height: 100%;
		background: $color-black;
		transition: width $anim-fade-quick $anim-ease;
	}

	&:hover,
	&:focus {
		&:before {
			width: 1rem;
		}
	}

	.c-tile--gray-50 & {
		color: $color-white;
	}
}
