.video-player {
  position: relative;
  padding-top: 56.25%;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // If it’s bleeding out in a post, it needs more padding
  .post & {
    padding-top: 63%;
  }

  @include media-query('md') {
    .post & {
      padding-top: 66%;
    }
  }
}
