**/*.json
**/README.md
**/node_modules/
**/bower_components/
**/dist/
**/public/
**/*.min.js
packages/core/scripts/api.handlebars
packages/core/scripts/events.handlebars
packages/core/test/files/annotations.js
packages/**/annotations.js
**/uikit-workshop/src/js/**/*
*.json
*.md
*.scss
**/_meta/_head.*
