**/README.md
**/node_modules/
**/bower_components/
**/dist/
**/public/
**/*.min.js
packages/core/scripts/api.handlebars
packages/core/scripts/events.handlebars
packages/core/test/files/annotations.js
packages/**/annotations.js
*.md
**/reset.scss
**/_meta/_head.*
**/_meta/_foot.*
**/development-edition*/source/_patterns/**
/dist
/coverage
