.list {
  @include font-secondary-medium-lowercase;

  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
  }
  ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 15em;
  }
  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: outside;
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    margin-left: 1em;
  }
}

