<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: hsl(0, 0%, 0%);"></span>
		<span class="sg-label">#ff0000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: hsl(55, 93%, 53%);"></span>
		<span class="sg-label">#00ff00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: hsl(0,0%,100%);"></span>
		<span class="sg-label">#0000ff</span>
	</li>

</ul>