<ul class="sg-colors patternlab">
    <li>
        <span class="sg-swatch background--colorWhite"></span>
        <span class="sg-label">White<br>#FFFFFF</span>
    </li>
	<li>
		<span class="sg-swatch background--colorGallery"></span>
		<span class="sg-label">Gallery<br>#EEEEEE</span>
	</li>
	<li>
		<span class="sg-swatch background--colorSilver"></span>
		<span class="sg-label">Silver<br>#C0C0C0</span>
	</li>
	<li>
		<span class="sg-swatch background--colorSilverChalice"></span>
		<span class="sg-label">Silver Chalice<br>#AAAAAA</span>
	</li>
	<li>
		<span class="sg-swatch background--colorNevada"></span>
		<span class="sg-label">Nevada<br>#6E7074</span>
	</li>
  <li>
    <span class="sg-swatch background--colorDarkGrey"></span>
    <span class="sg-label">Dark Grey<br>#38393b</span>
  </li>
	<li>
		<span class="sg-swatch background--colorBlack"></span>
		<span class="sg-label">Black<br>#000000</span>
	</li>
	<li>
		<span class="sg-swatch background--colorTussock"></span>
		<span class="sg-label">Tussock<br>#C39E42</span>
	</li>
    <li>
		<span class="sg-swatch background--colorBurntSienna"></span>
		<span class="sg-label">Burnt Sienna<br>#EB6355</span>
	</li>
</ul>
