.background--colorWhite {
  background-color : $colorWhite;
  border : 1px solid $colorGallery;
}

.background--colorGallery {
  background-color : $colorGallery;
}

.background--colorSilver {
  background-color : $colorSilver;
}

.background--colorSilverChalice {
  background-color : $colorSilverChalice;
}

.background--colorNevada {
  background-color : $colorNevada;
}

.background--colorBlack {
  background-color: $colorBlack;
}

.background--colorTussock {
  background-color: $colorTussock;
}

.background--colorBurntSienna {
  background-color: $colorBurntSienna;
}

.background--colorMagenta {
  background-color: $colorMagenta;
}

.background--colorRed {
  background-color: $colorRed;
}

.background--colorJapaneseLaurel {
  background-color : $colorJapaneseLaurel;
}
.background--colorDarkGrey {
  background-color : $colorDarkGrey;
}
