body {
  font-family: $fontPrimary;
  font-size: 16px;
}


.fontShowcase {
  margin-bottom : 1em;
}

.fontPrimary {
  font-family : $fontPrimary;

  @media only screen and (min-width: $breakpointTablet) {
    &__light {
      font-weight : 300;
    }
    &__black {
      font-weight : 900;
    }
  }
  &__normal {
    font-weight : 500;
  }

}

.fontSecondary {
  font-family : $fontSecondary;
}

.fontTertiary {
  font-family: $fontTertiary;
}

.fontQuaternary {
  font-family: $fontQuaternary;
}

.fontQuinary {
  font-family: $fontQuinary;
  &__light {
    font-weight: 300;
  }
  &__medium {
    font-weight: 500;
  }
  &__italic {
    font-weight: 300;
    font-style: italic;
  }
}
