<div class="fontShowcase fontPrimary fontPrimary__light patternlab">Primary font: Avenir Light<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontPrimary fontPrimary__normal patternlab">Primary font: Avenir Normal<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontPrimary fontPrimary__black patternlab">Primary font: Avenir Black<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontSecondary patternlab">Secondary font: Baskerville Normal<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>