@font-face {
  font-family:'Avenir';
  font-weight:300;
  font-style:normal;
  src:
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_300.woff2') format('woff2'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_300.woff') format('woff'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_300.ttf') format('ttf'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_300.eot') format('embedded-opentype');
}

@font-face {
  font-family:'Avenir';
  font-weight:500;
  font-style:normal;
  src:
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_500.woff2') format('woff2'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_500.woff') format('woff'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_500.ttf') format('ttf'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_500.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  font-style: normal;
  src: url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_900.woff2') format('woff2'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_900.woff') format('woff'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_900.ttf') format('ttf'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Avenir_900.eot') format('embedded-opentype');
}

@font-face {
  font-family:'Baskerville';
  font-weight:400;
  font-style:normal;
  src:
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400.woff2') format('woff2'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400.woff') format('woff'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400.ttf') format('ttf'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400.eot') format('embedded-opentype');
}

@font-face {
  font-family:'Baskerville';
  font-weight:400;
  font-style:italic;
  src:
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400_italic.woff2') format('woff2'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400_italic.woff') format('woff'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400_italic.ttf') format('ttf'),
  url('https://s3.eu-central-1.amazonaws.com/horizn-fonts/Baskerville_400_italic.eot') format('embedded-opentype');
}

body.patternlab {
  font-family: $fontPrimary;
  font-size: 16px;
}
// ????


.fontShowcase.patternlab {
  margin-bottom : 1em;
}

.fontPrimary.patternlab {
  font-family : $fontPrimary;
  &__light {
    font-weight : 300;
  }
  &__normal {
    font-weight : 500;
  }
  &__black {
    font-weight : 900;
  }
}

.fontSecondary.patternlab {
  font-family : $fontSecondary;
  font-style:italic;
}

