<div class="fontShowcase fontPrimary fontPrimary__light patternlab">Primary font: Avenir Light<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontPrimary fontPrimary__normal patternlab">Primary font: Avenir Normal<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontPrimary fontPrimary__black patternlab">Primary font: Avenir Black<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontSecondary patternlab">Secondary font: Baskerville Normal<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontTertiary patternlab">Tertiary font: AvenirLTStd-Heavy<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontQuaternary patternlab">Quaternary font: AvenirLTStd-Medium<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>

<div class="fontShowcase fontQuinary fontQuinary__light patternlab">Quinary font: FiraSans Light<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>
<div class="fontShowcase fontQuinary fontQuinary__medium patternlab">Quinary font: FiraSans Medium<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>
<div class="fontShowcase fontQuinary fontQuinary__italic patternlab">Quinary font: FiraSans Italic<br>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    !&/()$=@;:,.
</div>
