<p class="hide--mobile">This element is <strong>hidden</strong> on <strong>mobile</strong> screens<br></p>

<p class="hide--tablet">This element is <strong>hidden</strong> on <strong>tablet</strong> screens<br></p>

<p class="hide--desktop">This element is <strong>hidden</strong> on <strong>desktop</strong> screens<br></p>
<br>
<p class="show--mobile">This element is <strong>visible</strong> on <strong>mobile</strong> screens<br></p>

<p class="show--tablet">This element is <strong>visible</strong> on <strong>tablet</strong> screens<br></p>

<p class="show--desktop">This element is <strong>visible</strong> on <strong>desktop</strong> screens<br></p>