<p class="hide--mobile">This text is hidden on mobile screens</p>

<p class="hide--tablet">This text is hidden on tablet screens</p>

<p class="hide--desktop">This text is hidden on desktop screens</p>

<p class="hide--tablet hide--desktop"><em>This text is only visible on mobile screens</em></p>

<p class="hide--mobile hide--desktop"><em>This text is only visible on tablet screens</em></p>

<p class="hide--mobile hide--tablet"><em>This text is only visible on desktop screens</em></p>