<div class="columns">
  <div class="columns__column">
  </div>
</div>

<div class="columns">
	<div class="columns__column">
	</div>
  <div class="columns__column">
  </div>
</div>

<div class="columns">
  <div class="columns__column">
  </div>
  <div class="columns__column">
  </div>
  <div class="columns__column">
  </div>
</div>