<div class="columns demoColumns">
  <div class="columns__column demoColumns">
  </div>
</div>

<div class="columns demoColumns">
	<div class="columns__column demoColumns">
	</div>
  <div class="columns__column demoColumns">
  </div>
</div>

<div class="columns demoColumns">
  <div class="columns__column demoColumns">
  </div>
  <div class="columns__column demoColumns">
  </div>
  <div class="columns__column demoColumns">
  </div>
</div>