
.columns {
  @media only screen and (min-width: $breakpointDesktop) {
    display : flex;
    margin-left : -$marginMini;
    margin-right : -$marginMini;
  }

  &__column {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;

    @media only screen and (min-width: $breakpointTablet) {
      margin-left : $marginMini;
      margin-right : $marginMini;
      flex : 1;
    }
  }
}

/* STYLING FOR DEMO ONLY */
.demoColumns {
  background-color : $colorSilver;
  height : 50px;
  border : 1px solid $colorWhite;
}