<div class="columns patternlab">
  <div class="columns__column demoColumns">
  </div>
</div>

<div class="columns patternlab">
	<div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
</div>

<div class="columns patternlab">
  <div class="columns__column demoColumns"></div>
  <div class="columns__column demoColumns"></div>
  <div class="columns__column demoColumns"></div>
</div>

<div class="columns patternlab">
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
</div>

<div class="columns patternlab">
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
</div>

<div class="columns patternlab">
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
</div>

<div class="columns patternlab">
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
    <div class="columns__column demoColumns"></div>
</div>