.columns {
  display : flex;
  &__column {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    @media only screen and (min-width: $breakpointTablet) {
      &:nth-child(1):nth-last-child(2),
      &:nth-child(2):nth-last-child(1) {
        width: (100%/2);
      }

      &:nth-child(1):nth-last-child(3),
      &:nth-child(2):nth-last-child(2),
      &:nth-child(3):nth-last-child(1) {
        width: (100%/3);
      }

      &:nth-child(1):nth-last-child(4),
      &:nth-child(2):nth-last-child(3),
      &:nth-child(3):nth-last-child(2),
      &:nth-child(4):nth-last-child(1) {
        width: (100%/4);
      }

      &:nth-child(1):nth-last-child(5),
      &:nth-child(2):nth-last-child(4),
      &:nth-child(3):nth-last-child(3),
      &:nth-child(4):nth-last-child(2),
      &:nth-child(5):nth-last-child(1) {
        width: (100%/5);
      }

      &:nth-child(1):nth-last-child(6),
      &:nth-child(2):nth-last-child(5),
      &:nth-child(3):nth-last-child(4),
      &:nth-child(4):nth-last-child(3),
      &:nth-child(5):nth-last-child(2),
      &:nth-child(6):nth-last-child(1) {
        width: (100%/6);
      }

      &:nth-child(1):nth-last-child(7),
      &:nth-child(2):nth-last-child(6),
      &:nth-child(3):nth-last-child(5),
      &:nth-child(4):nth-last-child(4),
      &:nth-child(5):nth-last-child(3),
      &:nth-child(6):nth-last-child(2),
      &:nth-child(7):nth-last-child(1) {
        width: (100%/7);
      }
    }
  }
}

/* STYLING FOR DEMO ONLY */
.demoColumns {
  background-color : $colorSilver;
  height : 50px;
  border : 1px solid $colorWhite;
}