.logo {
  text-align:center;
  height : .875em;
  width: 11.5em;
  margin-top: -.15em;

  @media only screen and (min-width: $breakpointDesktop) {
    height: 1.55em;
    width: 16.75em;
    margin-top: -.25em;
  }

  &__text {
    display:block;
    width:0;
    height:0;
    overflow:hidden;
  }

  &__svg {
    display:block;
    height: 100%;
    svg {
      display: block;
      height: 100%;

    }
  }
}
