<div itemscope itemtype="http://schema.org/Brand">
    <a class="logo patternlab" itemprop="url" href="#" title="HORIZN STUDIOS – Luxury Designer Bags and Accessories">
        <img class="logo__image" itemprop="logo" src="https://s3.eu-central-1.amazonaws.com/horizn-frontend/0.1.7/magazine/logo-black-248x19.svg" alt="HORIZN STUDIOS – Luxury Designer Bags and Accessories" />
    </a>
</div>