.logo {
  text-align:center;
  width: 11.5em;
  margin-top: -.155em;

  @media only screen and (min-width: $breakpointDesktop) {
    width: 16.75em;
    margin-top: 0;
  }

  &__text {
    display:block;
    width:0;
    height:0;
    overflow:hidden;
  }

  &__svg {
    display:block;
    height: 100%;
    svg {
      display: block;
      height: 100%;

    }
  }
}

.header__logo.hide--desktop {
  display: none!important;
}
