<div itemscope itemtype="http://schema.org/Brand">
    <a itemprop="url" href="#" title="HORIZN STUDIOS – Luxury Designer Bags and Accessories">
        <img class="logo patternlab" itemprop="logo" src="{{ img.logo.src }}" alt="HORIZN STUDIOS – Luxury Designer Bags and Accessories" />
    </a>
</div>