@font-face {
	font-family: "horizn-icons";
	src: url('../fonts/horizn-icons.eot');
	src: url('../fonts/horizn-icons.eot?#iefix') format('eot'),
		url('../fonts/horizn-icons.woff2') format('woff2'),
		url('../fonts/horizn-icons.woff') format('woff'),
		url('../fonts/horizn-icons.ttf') format('truetype'),
		url('../fonts/horizn-icons.svg#horizn-icons') format('svg');
}

@mixin icon-styles {
	font-family: "horizn-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrowDown {
		$char: "\E001";
	}
	@if $filename == bag-outline {
		$char: "\E002";
	}
	@if $filename == bag {
		$char: "\E003";
	}
	@if $filename == bracket_left {
		$char: "\E004";
	}
	@if $filename == bracket_right {
		$char: "\E005";
	}
	@if $filename == check {
		$char: "\E006";
	}
	@if $filename == checkmark {
		$char: "\E007";
	}
	@if $filename == chevron-down {
		$char: "\E008";
	}
	@if $filename == chevron-left {
		$char: "\E009";
	}
	@if $filename == chevron-right {
		$char: "\E00A";
	}
	@if $filename == chevron-up {
		$char: "\E00B";
	}
	@if $filename == hamburgerMenu {
		$char: "\E00C";
	}
	@if $filename == help {
		$char: "\E00D";
	}
	@if $filename == logo {
		$char: "\E00E";
	}
	@if $filename == minus {
		$char: "\E00F";
	}
	@if $filename == phone_message {
		$char: "\E010";
	}
	@if $filename == plus {
		$char: "\E011";
	}
	@if $filename == x-large {
		$char: "\E012";
	}
	@if $filename == x-small {
		$char: "\E013";
	}
	@if $filename == facebook-block {
		$char: "\E014";
	}
	@if $filename == facebook {
		$char: "\E015";
	}
	@if $filename == instagram-block {
		$char: "\E016";
	}
	@if $filename == instagram {
		$char: "\E017";
	}
	@if $filename == twitter-block {
		$char: "\E018";
	}
	@if $filename == twitter {
		$char: "\E019";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrowDown {
	@include icon(arrowDown);
}
.icon-bag-outline {
	@include icon(bag-outline);
}
.icon-bag {
	@include icon(bag);
}
.icon-bracket_left {
	@include icon(bracket_left);
}
.icon-bracket_right {
	@include icon(bracket_right);
}
.icon-check {
	@include icon(check);
}
.icon-checkmark {
	@include icon(checkmark);
}
.icon-chevron-down {
	@include icon(chevron-down);
}
.icon-chevron-left {
	@include icon(chevron-left);
}
.icon-chevron-right {
	@include icon(chevron-right);
}
.icon-chevron-up {
	@include icon(chevron-up);
}
.icon-hamburgerMenu {
	@include icon(hamburgerMenu);
}
.icon-help {
	@include icon(help);
}
.icon-logo {
	@include icon(logo);
}
.icon-minus {
	@include icon(minus);
}
.icon-phone_message {
	@include icon(phone_message);
}
.icon-plus {
	@include icon(plus);
}
.icon-x-large {
	@include icon(x-large);
}
.icon-x-small {
	@include icon(x-small);
}
.icon-facebook-block {
	@include icon(facebook-block);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-instagram-block {
	@include icon(instagram-block);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-twitter-block {
	@include icon(twitter-block);
}
.icon-twitter {
	@include icon(twitter);
}
