<div class="icons patternlab">
    <span class="icon-facebook icons__icon"></span>
    <div class="icons__description"> icon-facebook</div>

    <span class="icon-instagram icons__icon"></span>
    <div class="icons__description"> icon-instagram</div>

    <span class="icon-twitter icons__icon"></span>
    <div class="icons__description"> icon-twitter</div>

    <span class="icon-arrow-down icons__icon"></span>
    <div class="icons__description"> icon-arrow-down</div>

    <span class="icon-bag icons__icon"></span>
    <div class="icons__description"> icon-bag</div>

    <span class="icon-logo icons__icon"></span>
    <div class="icons__description"> icon-logo</div>

    <span class="icon-menu icons__icon"></span>
    <div class="icons__description"> icon-menu</div>

    <span class="icon-minus icons__icon"></span>
    <div class="icons__description"> icon-minus</div>

    <span class="icon-plus icons__icon"></span>
    <div class="icons__description"> icon-plus</div>

    <span class="icon-x icons__icon"></span>
    <div class="icons__description"> icon-x</div>
</div>