<div class="basicLayout">
    <div class="basicLayout--inner">
        {{> organisms-header }}

        <div class="pageContent">
            {{> molecules-block-banner }}

            <div class="pageContent__blockMedia">
                {{> molecules-block-text }}
                {{> molecules-block-media }}
                {{> molecules-block-media-croppedImage }}
                {{> molecules-block-info }}
            </div>
        </div>
        {{> organisms-footer }}
    </div>
</div>



