.pageContent {
  max-width : $maxWidthLayout;
  margin : 0 auto;
  box-sizing: border-box;

  @media only screen and (min-width : $breakpointDesktop) {
    padding-top : 0;
  }

  &--stickyHeader {
    @media only screen and (min-width : $breakpointDesktop) {
      padding-top : 8.25em;
    }
  }
}

.page--full-width .pageContent {
  max-width : none;
}