.pageContent {
  max-width : 1500px;
  margin : 0 auto;
  &__blockMedia {
    div:nth-of-type(even) {
      @media only screen and (min-width : $breakpointTablet) {
        text-align: right;
      }
      @media only screen and (min-width : $breakpointDesktop) {
        flex-direction: row-reverse;
      }
    }
    div:nth-of-type(odd) {
      @media only screen and (min-width : $breakpointTablet) {
        text-align: left;
      }
    }
  }
}