{{> organisms-header }}
<div class="pageContent pageContent__smartTravel">
    {{> molecules-block-banner }}
    <div class="pageContent__blockMedia">
        {{> molecules-block-media-croppedImage }}
        {{> molecules-block-media-croppedImage }}
        {{> molecules-block-media-croppedImage }}
    </div>
</div>
{{> organisms-footer }}