.checkout {
  min-height: 100%;

  &.standard {
    // trusted shops hack
    min-height: 0;
  }

  @media only screen and (min-width: $breakpointDesktop) {
    background: linear-gradient(to right, $colorWhite 60%, $colorAlabaster 60%);
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    max-width: 78.5714em;
    margin: 0 auto;
    min-height: 100vh;
  }

  &__header-container {
    display: block;
    background: $colorWhite;
    flex: 1 100%;

    @media only screen and (min-width: $breakpointDesktop) {
      display: none;
    }
  }

  &__sidebar {
    flex: 1 100%;
    order: 1;
    background: $colorAlabaster;
    border-bottom: 1px solid $colorSilver;

    @media only screen and (min-width: $breakpointDesktop) {
      flex: 0.4;
      order: 2;
      border-left: 1px solid $colorSilver;
      align-self: stretch;
      border-bottom-width: 0;
    }

    &-container {
      overflow: hidden;
      width: 100%;
      max-width: $maxTabletWidth;
      margin: 0 auto;
      padding: 0 $checkoutFlexiblePadding;

      @media only screen and (min-width: $breakpointDesktop) {
        max-width: none;
      }

      @media only screen and (min-width: 1280px) {
        padding-right : 0;
      }

      .order-summary {
        transition: margin-top $animationTimingLong;

        &--is-collapsed {
          margin-top: -200%;
        }
        &--is-expanded {
          margin-top: 0 !important;
        }

        @media only screen and (min-width: $breakpointDesktop) {
          margin-top: 0 !important;
        }
      }
    }
  }

  &__content {
    flex: 1 100%;
    order: 2;
    background: $colorWhite;
    max-width: $maxTabletWidth;
    margin: 0 auto;
    padding: 0 $checkoutFlexiblePadding;

    @media only screen and (min-width: $breakpointDesktop) {
      flex: 0.6;
      min-height: 100vh;
      max-width: none;
      order: 1;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__content &__header {
    display: none;

    @media only screen and (min-width: $breakpointDesktop) {
      display: block;
    }
  }

  &__footer {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;

    &:before {
      content: '';
      flex-grow: 1;
    }
  }

  .field__input-wrapper {
    margin: 0.45em;
  }

  .order-summary__section--discount {
    .field__input-wrapper {
      margin : 0 0.45em;
    }
  }

  .section--shipping-address + .section--optional p {
    display:none;
  }

  .section__hanging-icon.exclamation-mark {
    height:0;
    margin-top:$marginStandard;

    @media only screen and (min-width: $breakpointDesktop) {
      margin-top:0;
    }
  }

  .stock-problems-table {
    width:100%;

    th {
      &:first-child {
        text-align:left;
      }
      &:last-child {
        text-align:right;
      }
    }

    .product__status {
      text-align:right;
    }

    .product__quantity,
    .product__clear-btn {
      display:none;
    }
  }
}