<div class="checkout">
    <div class="checkout__wrapper">
        <div role="main" class="checkout__content">
            {{> organisms-checkout-header }}
        </div>

        <aside class="checkout__sidebar">
          {{> molecules-checkout-product-table }}
          {{> molecules-checkout-total-line-table }}
        </aside>
    </div>
</div>