<div class="checkout">
    <div class="checkout__wrapper">
        <div class="checkout__header-container">
            {{> organisms-checkout-header }}
            {{> molecules-checkout-content-toggle }}
        </div>

        <div role="main" class="checkout__content">
            {{> organisms-checkout-header }}
            {{> organisms-checkout-form-customer-information }}
            {{> organisms-checkout-form-shipping-address }}
        </div>

        <aside class="checkout__sidebar">
            <div class="checkout__sidebar-container">
                <div class="order-summary order-summary--is-collapsed" data-order-summary data-set-by-height="-margin-top">
                    {{> organisms-checkout-price-header }}

                    {{> molecules-checkout-product-table }}
                    {{> organisms-checkout-form-voucher-sidebar }}
                    {{> molecules-checkout-total-line-table }}

                    {{> organisms-checkout-price-footer }}
                </div>
            </div>
        </aside>
    </div>
</div>