<div class="checkout">
    <div class="checkout__wrapper">
        <div role="main" class="checkout__content">
            {{> 02-organisms/02-checkout/01-header }}
        </div>
        <aside class="checkout__sidebar">
            todo: sidebar content
        </aside>
    </div>
</div>