.checkout {
  height:100%;
  background:linear-gradient(to right, $colorWhite 60%,$colorAlabaster 60%);

  &__wrapper {
    display:flex;
    flex-flow:row wrap;
    width:auto;
    max-width:78.5714em;
    margin:0 auto;
    height:100%;
  }

  &__sidebar {
    display:none;
    flex:0.4;
    padding:1.5em 0.75em;
    min-height:100%;
    background:$colorAlabaster;
    border-left:1px solid $colorSilver;

    @media only screen and (min-width: $breakpointDesktop) {
      display:block;
      padding:1.5em;
    }
  }

  &__content {
    flex:1;
    padding:0 0.75em 1.5em;
    min-height:100%;
    background:$colorWhite;

    @media only screen and (min-width: $breakpointDesktop) {
      flex:0.6;
      padding:0 1.5em 1.5em;
    }
  }
}