/*------------------------------------*\
    #drawer
\*------------------------------------*/

$pl-drawer-resizer-height: 14px;

pl-drawer {
  display: flex;
  flex-direction: column;
  position: relative;
  position: sticky;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow: visible;
  border-top: 1.1px solid $pl-color-gray-20; // sub-pixel bug in Chrome. border disappears sometimes when set to 1px
  
  border-top-color: $pl-color-gray-20;
  border-top-color: var(--theme-border, $pl-color-gray-20);
}


/**
 * 1) The drawer slides up from the bottom of the viewport when
 *    "show pattern info" is selected on the pattern detail screen.
 */
.pl-c-drawer {
  display: flex;
  flex-direction: column;
  font-family: $pl-font;
  background-color: $pl-color-gray-87;
  background-color: var(--theme-secondary, $pl-color-gray-87);
  color: $pl-color-gray-20;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  overflow: hidden;
  max-width: 100vw;

  .pl-c-body--theme-sidebar & {
    @media all and (min-width: $pl-bp-med) {
      max-width: calc(100vw - #{$pl-sidebar-width});
    }
  }

  .pl-c-body--theme-light & {
    // Modal / Drawer inside a light theme
    background-color: $pl-color-white;
    color: $pl-color-gray-70;
  }

  /**
     * Active drawer
     */
  &.pl-is-active {
    pointer-events: auto;
  }
}

.pl-c-drawer__wrapper {
  transform: translate3d(0, 0, 0);
}

.pl-c-drawer__wrapper > * {
  height: 100%;
}

.pl-c-drawer__content {
  flex-grow: 1;
  display: flex;
  width: 100%;
  overflow: hidden; // needed for IE 11 so scrollbars show up
}

.pl-c-drawer__toolbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; // so that the resizer height doesn't change unexpectedly
}

.pl-c-drawer__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden; // needed for IE 11 so scrollbars show up

  @supports (padding: env(safe-area-inset-top)){
    padding-right: calc(env(safe-area-inset-right) - 0.9rem);
  }
}

.pl-c-drawer__toolbar-controls {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  z-index: 10;
  flex-shrink: 0; // fix for IE 11 squishing UI controls
}

/**
 * drawer close button
 * 1) Closes the drawer popup
 */
.pl-c-drawer__close-btn {
  @include linkStyle;
  margin: 0;
  padding: 0.2rem;
  -webkit-appearance: none;
  flex-shrink: 0; // needed for IE 11
  
  @media all and (max-width: $pl-bp-med - 1) {
    border-radius: 20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  z-index: 2;
  opacity: 0.85;
  display: flex;
  justify-content: center;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:focus,
  &:active {
    opacity: 1;
  }
}

.pl-c-drawer__cover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 20;
  cursor: move;
}

.pl-c-drawer__resizer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  height: $pl-drawer-resizer-height;
  width: 100%;
  background-color: inherit;
  z-index: 2;
  cursor: ns-resize;

  &:after {
    content: '';
    height: 3px;
    width: 50px;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transition: opacity $pl-animate-normal ease-out;
    opacity: 0.5;
    background-color: currentColor;
    border-radius: 3px;
    display: block; // IE 11 bug fix
  }

  &:hover:after {
    opacity: 0.8;
  }

  &:focus:after,
  &:active:after {
    opacity: 0.95;
  }
}

/**
 * Close button icon
 * 1) Displayed as an e
 */
.pl-c-drawer__close-btn-icon {
  width: 20px;
  height: 20px;
  color: currentColor;
  fill: currentColor;
  transition: fill $pl-animate-quick ease-out;
  flex-shrink: 0; // needed for IE 11
  align-self: center; // valign in IE 11
}

.pl-c-code-copy-btn {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.2rem 0.4rem;
  background-color: $pl-color-gray-07;
  color: $pl-color-gray-87;
  border: 1px solid $pl-color-gray-13;
  border-radius: $pl-border-radius-med;
  font-family: $pl-font;
  font-size: $pl-font-size-norm;
  text-transform: lowercase;
  line-height: 1;
  cursor: pointer;
  z-index: 2;
  transition: background-color $pl-animate-quick ease-out;

  &:hover,
  &:focus {
    background-color: $pl-color-gray-20;
  }
}
