.fieldset {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + .9em);
  margin: 0 -.45em;


  & + .fieldset {
    margin-top: 2em;
  }

  .field {
    @media only screen and (min-width: $breakpointTablet) {
      flex: 0 1 100%;
      &--half {
        flex: 0 1 50%;
      }
      &--quarter {
        flex: 0 1 25%;
      }
      &--two-thirds {
        flex: 0 1 66.6667%;
      }
      &--third {
        flex: 0 1 33.333%;
      }
      &--three-eights {
        flex: 0 1 37.5%;
      }
    }
  }
}
