.fieldset {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + .9em);
  margin: -.45em;

  & + .fieldset {
    margin-top: 2em;
  }

  .field {
    @media only screen and (min-width: $breakpointTablet) {
      flex: 0 1 100%;
      &--half {
        flex: 0 1 50%;
      }
      &--quarter {
        flex: 0 1 25%;
      }
    }
  }
}
