.fieldset {
  &--inline {
    .field {
      flex: 2 1;
      &__input-wrapper {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .button {
      white-space: nowrap;
      display: block;
      height: 4em;
      margin-left: .45em;
      margin-right: .45em;
    }

  }
}
