<div data-update-order-summary="" data-shipping-address="" class="section section--shipping-address">

  <div class="section__header">
    <h2 class="section__title">
      Shipping address
    </h2>
  </div>

  <div class="section__content">
    <div class="fieldset">
      {{> molecules-field }}
    </div>
  </div>
</div>