<form class="fieldset fieldset--inline">
  {{> molecules-field-mixin(typeText: true,  id: id, label : label, error: error, styleModifier: styleModifier  ) }}
  <button class="button">{{ buttonText || 'Fusce dictum eget' }}</button>
</form>