.fieldset {
  &--inline {
    .field {
      flex: 2 1;
      padding-top: 0;
      padding-bottom: 0;
    }
    .button {
      white-space: nowrap;
      display: block;
      height: 4em;
      margin-left: .45em;
      margin-right: .45em;
    }

  }
}
