.activateTA__wrapper {
  @media only screen and (min-width: $breakpointTablet) {
    display : flex;
  }

  &__column {
    margin-bottom : $marginMedium;

    @media only screen and (min-width: $breakpointDesktop) {
      margin-bottom : $marginStandard;

      &:first-child {
        .activateTA {
          margin-right: $marginMini;
        }
      }

      &:last-child {
        .activateTA {
          margin-left: $marginMini;
        }
      }
    }
  }
}