.activateTA__wrapper {
  &__column {
    margin-bottom : $marginStandard;
    @media only screen and (min-width: $breakpointDesktop) {
      &:first-child {
        .activateTA {
          margin-right: $marginMini;
        }
      }

      &:last-child {
        .activateTA {
          margin-left: $marginMini;
        }
      }
    }
  }
}