<div class="columns activateTA__wrapper">
    <div class="columns__column activateTA__wrapper__column">
        {{> molecules-activate-travel-assistant }}
    </div>
    <div class="columns__column activateTA__wrapper__column">
        {{> molecules-activate-travel-assistant(buttonClass: 'secondary') }}
    </div>
</div>
