/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
* 1) Pattern Lab's header is fixed across the top of the viewport and
*    contains the primary pattern navigation, viewport resizing items,
*    and tools.
* 2) Display nav and controls horizontally
*/
.pl-c-header {
  position: fixed;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex; /* 2 */
  width: 100%;
  background-color: $pl-color-black;
  color: $pl-color-gray-50;
  font-family: $pl-font;
  font-size: $pl-font-size-sm;

  @supports(padding: max(0px)) {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/**
 * Nav toggle button
 * 1) Styles for the general nav toggle button, which
 *    only appears on small screens
 */
.pl-c-header__nav-toggle {
  @include linkStyle();
  border: 0;

  @media all and (min-width: $pl-bp-med) {
    display: none;
  }
}
