/*------------------------------------*\
    #MODAL
\*------------------------------------*/

/**
 * 1) The modal slides up from the bottom of the viewport when
 *    "show pattern info" is selected on the pattern detail screen.
 */
.pl-c-modal {
  display: flex;
  flex-direction: column;
  font-family: $pl-font;
  background-color: $pl-color-black;
  color: $pl-color-gray-20;
  position: relative;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 0;
  transition: transform 0.3s ease, height 0.3s ease;
  transform: translate3d(0, 100%, 0);
  pointer-events: none;
  will-change: height, transform;
  overflow: hidden;

  /**
     * Active modal
     */
  &.pl-is-active {
    transform: translate3d(0, 0, 0);
    height: 50vh; // default height unless manually resized
    transition: transform 0.3s ease;
    pointer-events: auto;
  }
}

.pl-c-modal__toolbar {
  display: flex;
}

.pl-c-modal__toolbar-controls {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

/**
 * Modal close button
 * 1) Closes the modal popup
 */
.pl-c-modal__close-btn {
  font-size: 70%;
  background-color: $pl-color-black;
  color: $pl-color-gray-50;
  border: 0;
  border-radius: $pl-border-radius-med $pl-border-radius-med 0 0;
  display: inline-block;
  padding: 0.5rem 0.5rem 0.3rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  transition: all $pl-animate-quick ease-out;

  &:hover,
  &:focus {
    background-color: $pl-color-gray-87;
    color: $pl-color-white;
  }

  &:focus,
  &:active {
    outline: 1px dotted $pl-color-gray-50;
    outline-offset: -2px;
  }

  /**
     * Modal close button inside active modal
     * 1) Move modal button outside of the modal window
     */
  .pl-c-modal.pl-is-active & {
    bottom: 100%; /* 1 */
  }
}

.pl-c-modal__cover {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 20;
  cursor: move;
}

.pl-c-modal__resizer {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  height: 14px;
  width: 100%;
  background-color: $pl-color-black;
  z-index: 2;
  cursor: ns-resize;

  &:after {
    content: '';
    height: 3px;
    width: 50px;
    border-top: 1px solid $pl-color-gray-50;
    border-bottom: 1px solid $pl-color-gray-50;
    transition: border-color $pl-animate-quick ease-out;
  }

  &:hover:after,
  &:focus:after {
    border-color: $pl-color-white;
  }
}

/**
 * Close button icon
 * 1) Displayed as an e
 */
.pl-c-modal__close-btn-icon {
  width: 12px;
  height: 12px;
  color: currentColor;
  fill: currentColor;
  transition: fill $pl-animate-quick ease-out;
}

.pl-c-code-copy-btn {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.2rem 0.4rem;
  background-color: $pl-color-gray-07;
  color: $pl-color-gray-87;
  border: 1px solid $pl-color-gray-13;
  border-radius: $pl-border-radius-med;
  font-family: $pl-font;
  font-size: $pl-font-size-norm;
  text-transform: lowercase;
  line-height: 1;
  cursor: pointer;
  z-index: 2;
  transition: background-color $pl-animate-quick ease-out;

  &:hover,
  &:focus {
    background-color: $pl-color-gray-20;
  }
}
