/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Navigation container
 * 1) Collapse height on small screens. Menu trigger button
 *    activates nav
 */
.pl-c-nav {
  @include accordionPanel;
  background-color: inherit; // allows the nav's children inherit from the parent header
  position: absolute;
  left: 0; // IE 11 layout broken
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: max-height $pl-animate-quick ease-out;

  // if nav was opened on smaller screen and screen is resized, it'll be cut off otherwise
  @media all and (min-width: $pl-bp-med) {
    overflow: visible;
    max-height: none;
  }

  /**
    * Active navigaiton
    * 1) Slide 
    * 2) Set the height to the vierport height minus the height
    *    of the header
    */
  &.pl-is-active {
    box-shadow: 0 1px 1px $pl-color-black;

    .pl-c-body--theme-light & {
      box-shadow: 0 1px 1px darken($pl-color-gray-20, 15%);
    }

    .pl-c-body--theme-sidebar & {
      @media all and (min-width: $pl-bp-med) {
        box-shadow: none;
      }
    }

    // if nav was opened on smaller screen and screen is resized, it'll be cut off otherwise
    @media all and (min-width: $pl-bp-med) {
      overflow: visible;
      max-height: none;
    }
  }

  @media all and (min-width: $pl-bp-med) {
    flex-direction: row;
    position: relative;
    top: auto;
    width: auto;
    box-shadow: none;
  }
}

/**
 * Nav list
 * 1) appears as an <ol>
 * 2) display as a horizontal list on larger screens
 * 3) On small screens, move the nav list after the typeahead form field
 */
.pl-c-nav__list {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0; // helps prevent top-level nav items from occasionally wrapping to multiple lines
  order: 2;
  background-color: inherit; // allows the nav's children inherit from the parent header

  @media all and (min-width: $pl-bp-med) {
    display: flex; /* 2 */
    order: 1;

    // workaround to Firefox-specific flexbox quirk
    .pl-c-body--theme-sidebar & {
      display: block;
    }
  }
}

/**
 * Nav list item
 */
.pl-c-nav__item {
  background-color: inherit; // allows the nav's children inherit from the parent header
  transform: translateZ(0); // helps with more consistent rendering in Safari
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically align nav items

  .pl-c-body--theme-sidebar & {
    display: block;
  }
}

/**
 * Last sublist item
 */
.pl-c-nav__sublist > .pl-c-nav__item:last-child {
  @media all and (min-width: $pl-bp-med) {
    overflow: hidden;
    border-bottom-left-radius: $pl-border-radius-med;
    border-bottom-right-radius: $pl-border-radius-med;
  }
}

/**
 * Nav link
 */
.pl-c-nav__link {
  @include linkStyle;
  display: flex;
  align-items: center;
  margin: 0; // remove default button margin in Safari

  // makes link layout / size more consistent in the sidebar layout, especially when display: flex styles are removed for more consistent IE 11 rendering
  .pl-c-body--theme-sidebar & {
    width: 100%;
  }
}

/**
 * Nav sublink
 * 1) Visually differentiate sub-item links from
 *    the other links. Creates better hierarchy.
 */
.pl-c-nav__link--sublink {
  text-transform: none;
  padding-left: $pl-space / 2;
}

/**
 * Nav link
 */
.pl-c-nav__link--dropdown {
  -webkit-appearance: none; // remove default button styling
  flex-grow: 1; // fill up extra space in parent nav item, if available
  /**
     * Dropdown caret after accordion handle
     */
  &:after {
    content: '\25bc';
    color: $pl-color-trans-white-25;
    display: inline-block;
    font-size: 7px;
    position: relative;
    top: 1px;
    right: -2px;
    transition: all $pl-animate-quick ease-out;
  }

  &:hover,
  &:focus {
    &:after {
      color: $pl-color-gray-50;
    }
  }

  /**
     * Active dropdown
     */
  &.pl-is-active {
    color: $pl-color-white;
    background-color: $pl-color-gray-87;

    /**
      * Caret rotation and positioning in active dropdown
      */
    &:after {
      color: $pl-color-gray-50;
      transform: rotate(180deg);
    }
  }
}

/**
 * Nav sublist
 * 1) On larger screens, display as dropdowns that
 *    hang over the header
 */
.pl-c-nav__sublist {
  background-color: inherit; // allows the nav's children inherit from the parent header
  @include listReset();

  @media all and (min-width: $pl-bp-med) {
    position: absolute;
    top: 100%; /* 1 */
    left: 0;
    min-width: 10rem;
    border-bottom-left-radius: $pl-border-radius-med;
    border-bottom-right-radius: $pl-border-radius-med;
  }
}

/**
 * Dropdown sublist
 */
.pl-c-nav__sublist--dropdown,
.pl-c-nav__subsublist--dropdown {
  @include listReset();
  @include accordionPanel();
  visibility: hidden;
}

/**
 * Dropdown sublist
 * 1) Set the height to the viewport height minus the height of the header
 */
.pl-c-nav__sublist--dropdown.pl-is-active,
.pl-c-nav__subsublist--dropdown.pl-is-active {
  margin-left: $pl-space / 2;
  visibility: visible;
  max-height: none;

  @media all and (min-width: $pl-bp-med) {
    height: auto;
    max-height: calc(100vh - #{$offset-top} - 1rem); /* 1 */
  }

  .pl-c-body--theme-sidebar & {
    max-height: none;
  }
}

.pl-c-nav__sublist--dropdown.pl-is-active {
  @media all and (min-width: $pl-bp-med) {
    margin-left: 0;
    border-width: 1px;
    border-style: solid;
    border-color: $pl-color-black;

    .pl-c-body--theme-light & {
      border-color: $pl-color-gray-20;
    }
  }
}

/**
 * Sub-navigation
 * 1) Third-level links are stylistically different
 * than first and second nav links.
 */
.pl-c-nav__subsublist {
  @include listReset();
}
