/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * 1) Tabs contain a set of horizontally-arranged tabs
 *    with accompanying panels. When a tab link is clicked
 *    the corresponding panel becomes visible
 */
.pl-c-tabs {
  padding: 0 0.5rem 0.5rem;
  background-color: $pl-color-white;
  border: 1px solid $pl-color-gray-13;
  border-radius: $pl-border-radius-med;
  font-family: $pl-font;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;

  /**
     * Tabs inside a code panel
     */

  .pl-c-pattern-info__panel--code & {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
  }

  .pl-c-drawer & {
    // adjusts the absolutely positioned tabs container when nested inside the PL drawer
    // @todo: refactor to eliminate the need for this
    @media all and (min-width: $pl-bp-med) {
      right: 1.5rem;

      @supports(padding: unquote('max(0px, env(safe-area-inset-right))')) {
        right: unquote('max(1.5rem, env(safe-area-inset-right))');
      }
    }

    @media all and (min-width: 848px) {
      right: 2.3rem;

      @supports(padding: unquote('max(0px, env(safe-area-inset-right))')) {
        right: unquote('max(2.3rem, calc(env(safe-area-inset-right) + 1.4rem))');
      }
    }

    @media all and (min-width: $pl-bp-xl) {
      left: 2rem;
    }
  }
}

/**
 * Tab List
 * 1) A unordered list that contains the tab links
 */
.pl-c-tabs__list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  padding-bottom: 0;
  background-color: $pl-color-white;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/**
 * Tab Link
 */
.pl-c-tabs__link {
  display: block;
  line-height: 1;
  border-bottom: 4px solid transparent;
  color: $pl-color-gray-50;
  background-color: $pl-color-white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $pl-animate-quick ease-out;
  padding: 8px;
  font-size: 13px;

  &:hover {
    color: $pl-color-gray-87;
  }

  /**
     * Active Tab
     * 1) Note: the active tab color corresponds with the Prism code block
     *    background color, which is why it doesn't use a Sass variable
     */
  &.pl-is-active-tab {
    color: $pl-color-gray-87;
    border-bottom-color: #bf6500;
  }
}

/**
 * Tab Content
 * 1) Tab content contains the tab panels
 */
.pl-c-tabs__content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;

  /**
     *  Tab content inside modal
     */
  .pl-c-drawer & {
    border: 0;
  }
}

/**
 * Tab panel
 * 1) Note: the active tab color corresponds with the Prism code block
 *    background color, which is why it doesn't use a Sass variable
 */
.pl-c-tabs__panel {
  display: none;
  min-height: 12rem;
  height: 100%;

  &.pl-is-active-tab {
    display: block;
    display: flex;
  }

  /**
     * Tab code
     * 1) Targeting pre tag in here as Prism is being used for the majority of the styles
     */
  pre[class*='language-'],
  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background-color: transparent;
    margin: 0;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border: 0;
    display: block;
    width: 100%;
  }

  code[class*='language-'] {
    background-color: transparent;
    margin: 0;
  }
}
