/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * 1) Tabs contain a set of horizontally-arranged tabs
 *    with accompanying panels. When a tab link is clicked
 *    the corresponding panel becomes visible
 */
.pl-c-tabs {
  padding: 0 0.5rem 0.5rem;
  background-color: $pl-color-white;
  border: 1px solid $pl-color-gray-13;
  border-radius: $pl-border-radius-med;
  font-family: $pl-font;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

/**
 * Tab List
 * 1) A unordered list that contains the tab links
 */
.pl-c-tabs__list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  padding-bottom: 0;
  background-color: $pl-color-white;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/**
 * Tab Link
 */
.pl-c-tabs__link {
  display: block;
  line-height: 1;
  border-bottom: 4px solid transparent;
  color: $pl-color-gray-50;
  background-color: $pl-color-white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $pl-animate-quick ease-out;
  padding: 8px;
  font-size: 13px;

  &:hover {
    color: $pl-color-gray-87;
  }

  /**
     * Active Tab
     * 1) Note: the active tab color corresponds with the Prism code block
     *    background color, which is why it doesn't use a Sass variable
     */
  &.pl-is-active-tab {
    color: $pl-color-gray-87;
    border-bottom-color: #bf6500;
  }
}

/**
 * Tab Content
 * 1) Tab content contains the tab panels
 */
.pl-c-tabs__content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/**
 * Tab panel
 * 1) Note: the active tab color corresponds with the Prism code block
 *    background color, which is why it doesn't use a Sass variable
 */
.pl-c-tabs__panel {
  display: none;

  &.pl-is-active-tab {
    display: flex;
    height: 100%;
    flex-grow: 1;
  }

  /**
     * Tab code
     * 1) Targeting pre tag in here as Prism is being used for the majority of the styles
     */
  pre[class*='language-'],
  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background-color: transparent;
    margin: 0;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border: 0;
    display: block;
    width: 100%; // fill parent container
  }

  code[class*='language-'] {
    background-color: transparent;
    margin: 0;
  }
}
