<div class="basicLayout">
    <div class="basicLayout--inner">
        {{> organisms-header }}

        <div class="pageContent cart">
            {{> molecules-filled-cart }}
        </div>

        {{> organisms-footer }}
    </div>
</div>
