<div class="basicLayout">
    <div class="basicLayout__inner">
        <div class="basicLayout__offCanvasA"></div>
        <div class="basicLayout__canvas">
            {{> organisms-header }}
            <div class="pageContent cart">
                {{> molecules-filled-cart }}
            </div>
            {{> organisms-footer }}
        </div>
        <div class="basicLayout__offCanvasB"></div>
    </div>
</div>
