<div class="basicLayout">
    <div class="basicLayout--inner">
        {{> organisms-header }}

        <div class="pageContent cart">
            {{> molecules-empty-cart }}
        </div>
    </div>
</div>
