@import '../../../sass/scss/core.scss';

pl-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $pl-color-gray-13;

  // Prevent extra scrollbars in just IE 11
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow: hidden;
  }

  &.pl-c-body--theme-sidebar {
    @media all and (min-width: $pl-bp-med) {
      flex-direction: row;
    }
  }

  &.pl-c-body--theme-light {
    background-color: $pl-color-white;
  }
}
