<div class="carousel">
    <div class="carousel__images">
        <a class="carousel__image carousel__image--visible" href="#">
            <img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
        </a>
        <a class="carousel__image carousel__image--visible" href="#">
            <img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
            <span class="carousel__text">
                <h2 class="carousel__text--primary">Red is the new black</h2>
                <h3 class="carousel__text--secondary">The new horizn backpack has arrived</h3>
            </span>
        </a>
    </div>

    <div class="carousel__handles">
        <button type="button" class="carousel__handle carousel__handle--active"></button>
        <button type="button" class="carousel__handle"></button>
    </div>
</div>