.carousel {
  overflow:hidden;
  margin-bottom : $marginStandard;
  position:relative;

  &__slide {
    display:none;
    flex-flow:row nowrap;
    margin:0 (-$marginMini/2);
    opacity:0;

    &s {
      position:relative;
    }

    &--visible {
      display:flex;
      animation: fade-in $animationTimingLong;
      opacity:1;
    }

    &--fadeOut {
      position:absolute;
      display:flex;
      animation: fade-out $animationTimingLong;
      left:0;
      right:0;
      top:0;
      z-index:1;
      pointer-events:none;
    }
  }

  &__image {
    position:relative;
    flex:1;
    height:calc(37.5vw - #{$marginMini / 2});
    width:100%;
    margin:0 ($marginMini/2);
    overflow:hidden;
    background-size:cover;
    background-position:center center;
    box-sizing:border-box;

    @media only screen and (max-width: $breakpointTabletEnd) {
      padding-top:75vw;

      &:nth-child(2) {
        display:none;
      }
    }

    video {
      display:none;

      @media only screen and (min-width: $breakpointTablet) {
        display:block;
        position:relative;
        min-width:100%;
        min-height:100%;
        box-sizing:border-box;
        padding:0;
        margin:0;
        z-index:0;
      }
    }
  }

  &__text {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding:3.225vw;
    background:transparentize($colorWhite, 0.5);
    text-align:center;

    &--primary {
      @include font-secondary-medium-uppercase(4.35vw);
      letter-spacing:0;
      margin:0;
      padding:0;
    }
    &--secondary {
      @include font-secondary-medium-uppercase(2.3vw);
      letter-spacing:0;
      margin:0;
      padding:0;
    }

    @media only screen and (min-width: $breakpointDesktop) {
      padding:1.6vw;

      &--primary {
        font-size:2.15vw;
      }

      &--secondary {
        font-size:1.125vw;
      }
    }
  }

  &__handle {
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:100%;
    background-color: transparent;
    padding:0;
    margin:0;
    border:0 none;
    cursor:pointer;

    &:after {
      content : "";
      transition:background-color $animationTimingNormal;
      width : 6px;
      height : 6px;
      position : absolute;
      border-radius : 50%;
      transform : translate(-50%, -50%);
      background-color: $colorSilverChalice;
    }

    &--active {
      cursor:default;

      &:after {
        background-color:$colorBlack;
      }
    }

    &s {
      margin:$marginMini 0;
      text-align:center;
      white-space:nowrap;
      cursor:default;
      font-size:$fontSizeNormal;
      line-height:$fontSizeNormal;
      letter-spacing:0.2em;
    }
  }
}