<div class="carousel">
    <div class="carousel__images">
        <a class="carousel__image carousel__image--visible" href="#">
            <img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
        </a>
        <a class="carousel__image carousel__image--visible" href="#">
            <img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
        </a>
    </div>

    <div class="carousel__handles">
        <button type="button" class="carousel__handle carousel__handle--active"></button>
        <button type="button" class="carousel__handle"></button>
    </div>
</div>