<div class="carousel">
    <div class="carousel__slides">
        <div class="carousel__slide carousel__slide--fadeOut">
            <a class="carousel__image" href="#" style="background-image:url({{ img.landscape-4x3.src }})" title="{{ img.landscape-4x3.alt }}"></a>
            <a class="carousel__image" href="#" style="background-image:url({{ img.landscape-4x3.src }})" title="{{ img.landscape-4x3.alt }}">
                <span class="carousel__text">
                    <h2 class="carousel__text--primary">Red is the new black</h2>
                    <h3 class="carousel__text--secondary">The new horizn backpack has arrived</h3>
                </span>
            </a>
        </div>

        <div class="carousel__slide carousel__slide--visible">
            <a class="carousel__image" href="#" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg)" title="{{ img.landscape-4x3.alt }}">
                <video autoplay poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" loop>
                    <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
                    <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
                </video>
                <span class="carousel__text">
                    <h2 class="carousel__text--primary">Red is the new black</h2>
                    <h3 class="carousel__text--secondary">The new horizn backpack has arrived</h3>
                </span>
            </a>
        </div>
    </div>

    <div class="carousel__handles">
        <button type="button" class="carousel__handle carousel__handle--active"></button>
        <button type="button" class="carousel__handle"></button>
    </div>
</div>