<div class="modal-backdrop modal-backdrop--is-visible" role="dialog">
    <div class="modal">
        <div class="modal__header">
            <h1 class="modal__header__title">Modal caption</h1>
            <div class="modal__close">
                <button class="icon icon--close-modal" type="button">
                  <span class="visually-hidden">
                    Schließen
                    </span>
                </button>
            </div>
        </div>
        <div class="modal__content">
            <p>This is a modal paragraph.</p>
            <p>This is another modal paragraph.</p>
            <p>This is a third paragraph with some more text, so that it is likely to be multiple lines long and so on.</p>
            <p>Generating paragraph text makes you tired.</p>
            <p>You should actually stick to use lorem ipsum, it creates less work.</p>
            <p>Buy these bags and get that chair for <strong>free</strong>!</p>
        </div>
    </div>
</div>