<div class="modal-backdrop modal-backdrop--is-visible" role="dialog">
    <div class="modal">
        <div class="modal__header">
            <h1 class="modal__header__title">Modal caption</h1>
            <div class="modal__close">
                <button class="icon icon--close-modal" type="button">
                  <span class="visually-hidden">
                    Schließen
                    </span>
                </button>
            </div>
        </div>
        <div class="modal__content">
          <svg class="modal__loading-icon icon icon--spinner" width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0v2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14h2z"></path></svg>
        </div>
    </div>
</div>