<div class="columns">
    <div class="columns__column">
        {{> molecules-block-text }}
        <button class="button button--primary">{{ buttonPrimary || 'Primary button' }}</button>
    </div>
    <div class="columns__column">
        {{> molecules-block-text }}
        <button class="button button--primary">{{ buttonPrimary || 'Primary button' }}</button>
    </div>
</div>