.hidden,
.no-js .shown-if-js,
.js .hidden-if-js {
  display: none
}

.hidden-on-desktop {
  @extend .hide--desktop;
}

.btn {
  @extend .button;
  // taken from shopify checkout css
  // start
  &__content {
    transition: opacity 0.3s ease-in-out 0s;
  }
  &--loading {
    cursor: default;
    pointer-events: none;
    .btn__content {
      opacity: 0;
    }
    .btn__spinner {
      animation: 0.5s linear 0s normal none infinite running rotate;
      opacity: 1;
    }
  }
  &__spinner {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.3s ease-in-out 0s;
  }
  // end
}

.step__footer__continue-btn {
  @extend .button, .button--primary;
}

.section {
  padding-bottom: 2em;
  &__header {
    margin-bottom: 1.25em;
  }
  &__title {
    @extend .headlineH2;
    margin-bottom: 0.5em;
  }
  &__header {
    margin-top: 2em;
    &.os-header {
      @media only screen and (min-width: $breakpointDesktop) {
        margin: 0;
      }
    }
  }
  &--optional {
    width: 17.5em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    @media only screen and (min-width: $breakpointTablet) {
      margin-right: 0;
      .checkbox-wrapper {
        padding-left: 0;
      }
    }
  }
}

.full-page-overlay__title {
  @extend .headlineH2;
}


.icon--spinner {
  animation: rotate 0.5s linear infinite;
}

// Tables
.product, .total-line {
  &-table {
    @extend .table;
  }

  &__image, &__description {
    @extend .table__cell;
    padding: 1.25em 0;
    width: auto;
  }

  &:first-child {
    border: none;
  }
}

.content-box {
  &__row {
    & + & {
      .radio-wrapper {
        border-top: none;
      }
    }
    #{&}#{&}--secondary {
      border-top: none;
      background: transparent;
      &.radio-wrapper {
        background: #F6F6F6;
      }
    }
  }
  &__header {
    margin-bottom: .5em;
    &__action {
      @include font-quaternary-lowercase(.75em);
      span[aria-hidden] {
        display: none;
      }
      .visually-hidden {
        display: block!important;
      }
    }
  }
}

.payment-icon.payment-icon--discover {
  background-image: url("../images/payment-providers/paypal.svg"), none;
}

.copyright-text {
  @include font-quaternary-lowercase($fontSizeSmall);
}
