@mixin font-primary-light-uppercase() {
  font-family: $fontPrimary;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin font-primary-medium-uppercase() {
  font-family: $fontPrimary;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}