/*------------------------------------*\
    $RESET
\*------------------------------------*/

/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
.patternlab {
	&, & * {
		box-sizing: border-box;
	}

	&, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, fieldset, span {
		margin: 0;
		padding: 0;
	}
	header, footer, nav, section, article, hgroup, figure {
		display: block;
	}

	body,
	body& {
		height: 100vh;
		box-sizing : border-box;
		color: $colorText;
	}
}

