/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors that have been named by http://chir.ag/projects/name-that-color
$colorWhite: #FFFFFF;
$colorGallery: #EEEEEE;
$colorSilver: #C0C0C0;
$colorSilverChalice: #AAAAAA;
$colorNevada: #6E7074;
$colorBlack: #000000;

$colorBisonHide: #C4BAA6;
$colorBarleyCorn: #9B875F;

$colorMagenta: #FF00FF;
$colorRed: #F00;
$colorJapaneseLaurel: #089e00;

$colorError: $colorRed;
$colorValid: $colorJapaneseLaurel;

//Typography
$fontPrimary: 'Avenir', 'HelveticaNeue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
$fontSecondary: 'Baskerville', 'Palatino', 'Palatino Linotype', 'Garamond', 'Times New Roman', 'Times', serif;

$fontSizeNormal: 1em;
$fontSizeSlightlyLarger: 1.0625em;
$fontSizeSlightlySmaller: 0.875em;
$fontSizeSmall: 0.75em;
$fontSizeLarge: 1.4375em;

$lineHeightNormal: 1.625em;

//Layout
$max-width: 72rem;
$offset-left-1: 4.5rem;

$l-sidebar-width: 19.75rem;

//Defaults
$space: 1rem;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-triple: $space*3;
$space-quad: $space*4;
$space-half: $space/2;
$space-quarter: $space/4;
$pad: 1rem;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 66em;
$bp-xl: 73em;
$bp-xxl: 89em;
$bp-xxxl: 93em;

//