/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors that have been named by http://chir.ag/projects/name-that-color
$colorWhite: #FFFFFF;
$colorAlabaster : #FAFAFA;
$colorGallery: #EEEEEE;
$colorSilver: #C0C0C0;
$colorSilverChalice: #AAAAAA;
$colorNevada: #6E7074;
$colorBlack: #000000;
$colorDarkGrey: #363A3B;

$colorAlabaster: #F6F6F6;

$colorTussock: #C39E42;
$colorBurntSienna: #EB6355;

$colorMagenta: #FF00FF;
$colorRed: #F00;
$colorJapaneseLaurel: #089e00;

$colorError: $colorBurntSienna;
$colorValid: $colorBlack;

$opacityOverlayBackground: 0.7;
$colorBackDrop: transparentize($colorBlack, $opacityOverlayBackground);

$colorText: $colorBlack;
$colorTextInvert: $colorWhite;

$colorBorder: $colorSilver;

//Typography
$fontPrimary: 'AvenirLTStd', 'HelveticaNeue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
$fontSecondary: 'Baskerville', 'Palatino', 'Palatino Linotype', 'Garamond', 'Times New Roman', 'Times', serif;
$fontTertiary: 'AvenirLTStd', 'HelveticaNeue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
$fontQuaternary: 'AvenirLTStd', 'HelveticaNeue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
$fontQuinary: 'FiraSans', 'HelveticaNeue', 'Helvetica', 'Arial', 'Verdana', sans-serif;

$fontSizeNormal: 1em;
$fontSizeSlightlyLarger: 1.0625em;
$fontSizeSlightlySmaller: 0.875em;
$fontSizeSmall: 0.75rem;
$fontSizeLarge: 1.4375rem;

$lineHeightNormal: 1.625em;

$blackDividerHeight: 2px;

$textBlockMaxWidth: 50em;

$checkoutSidebarHorizontalPadding: 0.7em;
$checkoutSidebarVerticalPadding: 1.25em;
$checkoutFlexiblePadding: calc(100vw * .035);

//Layout
$maxWidthLayout: 1500px;
$maxTabletWidth: 700px;
$widthMobileNavigation: 230px;
$widthCartSidebar: 440px;

//Responsiveness
$breakpointMobile: 480px;
$breakpointTablet: 750px;
$breakpointDesktop: 960px;
$breakpointMobileEnd: $breakpointTablet - 1;
$breakpointTabletEnd: $breakpointDesktop - 1;

//Timings
$animationTimingFast: 200ms;
$animationTimingNormal: 500ms;
$animationTimingLong: 1000ms;
$animationTimingExtraLong: 2000ms;
$animationTimingForever: 3000ms;

//Margins & Paddings
$marginStandard : 2.75em;
$marginMini : 0.5 * $marginStandard;
$marginSemiMedium : 1.5 * $marginStandard;
$marginMedium : 2 * $marginStandard;
$marginLarge : 3 * $marginStandard;

$paddingStandard : 2.75em;
$paddingMini : 0.5 * $paddingStandard;
$paddingMedium : 2 * $paddingStandard;
$paddingLarge : 3 * $paddingStandard;

//Shadows
$shadowTiny : 0 0 3px 1px transparentize($colorBlack, 0.925);
$shadowMedium : 0 0 $marginMini transparentize($colorBlack, 0.9);

%animationTextLinks {
  color : inherit;
  text-decoration : none;
  border-bottom: 1px solid transparent;
  transition: color, border-color;
  transition-timing-function: ease-in;
  transition-duration: $animationTimingNormal;
  cursor : pointer;
  &:hover {
    color: $colorTussock;
    border-color : $colorTussock;
    transition-timing-function: ease-out;
  }
  &:active {
    color: lighten($colorTussock, 10%);
    border-color: lighten($colorTussock, 10%);
  }
}
