/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors that have been named by http://chir.ag/projects/name-that-color
$colorWhite: #FFFFFF;
$colorAlabaster : #FAFAFA;
$colorGallery: #EEEEEE;
$colorSilver: #C0C0C0;
$colorSilverChalice: #AAAAAA;
$colorNevada: #6E7074;
$colorBlack: #000000;

$colorTussock: #C39E42;
$colorBurntSienna: #EB6355;

$colorMagenta: #FF00FF;
$colorRed: #F00;
$colorJapaneseLaurel: #089e00;

$colorError: $colorBurntSienna;
$colorValid: $colorJapaneseLaurel;

$opacityOverlayBackground: 0.7;
$colorBackDrop: transparentize($colorBlack, $opacityOverlayBackground);

$colorText: $colorBlack;
$colorTextInvert: $colorWhite;

$colorBorder: $colorSilver;

//Typography
$fontPrimary: 'Avenir', 'HelveticaNeue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
$fontSecondary: 'Baskerville', 'Palatino', 'Palatino Linotype', 'Garamond', 'Times New Roman', 'Times', serif;

$fontSizeNormal: 1em;
$fontSizeSlightlyLarger: 1.0625em;
$fontSizeSlightlySmaller: 0.875em;
$fontSizeSmall: 0.75em;
$fontSizeLarge: 1.4375em;

$lineHeightNormal: 1.625em;

//Layout
$maxWidthLayout: 1500px;
$widthOffCanvasA: 230px;
$widthOffCanvasB: 512px;

//Responsiveness
$breakpointMobile: 320px;
$breakpointTablet: 640px;
$breakpointDesktop: 960px;
$breakpointMobileEnd: 639px;
$breakpointTabletEnd: 959px;

//Timings
$animationTimingFast: 200ms;
$animationTimingNormal: 500ms;
$animationTimingLong: 1000ms;
$animationTimingExtraLong: 2000ms;
$animationTimingForever: 3000ms;

%animationTextLinks {
  color : inherit;
  text-decoration : none;
  border-bottom: 1px solid transparent;
  transition: color, border-color;
  transition-timing-function: ease-in;
  transition-duration: $animationTimingNormal;
  cursor : pointer;
  &:hover {
    color: $colorTussock;
    border-color : $colorTussock;
    transition-timing-function: ease-out;
  }
  &:active {
    color: lighten($colorTussock, 10%);
    border-color: lighten($colorTussock, 10%);
  }
}
