<div class="vCard">
	<div class="vCard__organisation">Company Name</div>
	<div class="vCard__address">
		<div class="vCard__street">1234 Main St.</div>
		<span class="vCard__locality">Anywhere</span>,
		<span class="vCard__postal-code">101010</span>,
		<abbr class="vCard__region" title="California">CA</abbr>
		<div class="vCard__country-name">U.S.A</div>
	</div>
	<div class="vCard__telefon">+1.888.123.4567</div>
</div>