<div class="headlineGroup">
   	<h1 class="headlineGroup__headline">This is the heading group's main heading</h1>
   	<span class="headlineGroup__subHeadline">This is the heading group's subheading</span>
</div>