<div class="headlineGroup">
   	<h1 class="headlineGroup__headline">This is the headline group's main heading</h1>
   	<span class="headlineGroup__subHeadline">This is the headline group's subheading</span>
</div>

<div class="headlineGroup--alt">
    <h1 class="headlineGroup__headline--alt">This is the headline group's alternate heading</h1>
    <span class="headlineGroup__subHeadline--alt">This is the headline group's alternate subheading</span>
</div>