
.headlineGroup{
  margin-bottom : $marginStandard;
  &__headline {
    letter-spacing : 0.12em;
    @include font-quaternary-uppercase(1.313em);
  }
  &__subHeadline {
    @include font-tertiary-heavy($fontSizeSmall);
    text-transform : uppercase;
    letter-spacing : 0.12em;
    color : $colorSilverChalice;
  }
  &__headline--alt {
    @include font-quaternary-lowercase(1.125em);
    text-transform : none;
  }
  &__subHeadline--alt {
    font-family : $fontPrimary;
    font-size : 16px;
    font-weight : 500;
    text-transform : none;
  }
}
