
.headlineGroup{
  margin-bottom : 3em;
  &__headline {
    font-family : $fontPrimary;
    text-transform : uppercase;
    letter-spacing : 0.12em;
    font-size : 21px;
    font-weight : 500;
  }
  &__subHeadline {
    font-family : $fontPrimary;
    font-size : 12px;
    text-transform : uppercase;
    letter-spacing : 0.12em;
    font-weight : 500;
    color : $colorTussock;
  }
  &__headline--alt {
    font-family : $fontPrimary;
    font-size : 20px;
    font-weight : 500;
    text-transform : none;
  }
  &__subHeadline--alt {
    font-family : $fontPrimary;
    font-size : 16px;
    font-weight : 500;
    text-transform : none;
  }
}