<div class="headlineGroup patternlab">
   	<h1 class="headlineGroup__headline patternlab">This is the headline group's main heading</h1>
   	<span class="headlineGroup__subHeadline patternlab">This is the headline group's subheading</span>
</div>

<div class="headlineGroup--alt patternlab">
    <h1 class="headlineGroup__headline--alt patternlab">This is the headline group's alternate heading</h1>
    <span class="headlineGroup__subHeadline--alt patternlab">This is the headline group's alternate subheading</span>
</div>