<div class="price">
    <span class="price__compare-price">190 €</span>
    <span class="price__price">95 €</span>
    <span class="price__compare-percentage">-60%</span>
</div>

<div class="price price--collection-page">
    <span class="price__compare-price">190 €</span>
    <span class="price__price">95 €</span>
    <span class="price__compare-percentage">-60%</span>
</div>


<div class="price price--product-page">
  <span class="price__compare-price">190 €</span>
  <span class="price__price">95 €</span>
  <span class="price__compare-percentage">-60%</span>
</div>