.button {
  display : inline-block;
  min-height: 4em;
  outline: none;
  border: 1px solid $colorBlack;
  padding: 1em 2em;
  font-family : $fontPrimary;
  line-height: 1.85em;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.12em;
  cursor: pointer;
  background-color: $colorBlack;
  color: white;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing:border-box;

  &:hover {
    background-color: $colorTussock;
    border-color:$colorTussock;
  }
  &:active {
    background-color: lighten($colorTussock, 10%);
    border-color: lighten($colorTussock, 10%);
  }
  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &--primary, &--secondary, &--tertiary {
    width : 100%;
    @media only screen and (min-width: 414px) {
      width: 280px;
    }
  }

  &--secondary {
    background-color: $colorNevada;
    border-color: $colorNevada;
  }

  &--tertiary {
    background-color : $colorSilver;
    border-color : $colorSilver;
  }

  &--contrastive {
    background-color : transparent;
    border-color : $colorWhite;
  }

  @media only screen and (min-width: $breakpointDesktop) {
    transition:all $animationTimingFast ease-in;

    &:hover,
    &:active {
      transition-timing-function: ease-out;
    }
  }

  &[disabled] {
    opacity:0.5;
    cursor:not-allowed;
    background-color:$colorNevada;
    border-color:$colorNevada;
  }

  &--busy,
  &--busy[disabled] {
    opacity:0.5;
    cursor:wait;
    background-color:$colorNevada;
    border-color:$colorNevada;
  }
}

.btn__content {
  // fixes script changes done by shopify in order to show spinner which we currently don't support
  opacity:1 !important;
}