<p><a href="#" class="button">Button</a></p>
<p><a href="#" class="button button--alt">Alternate Button</a></p>
<p><a href="#" class="button button--disabled">Disabled Button</a></p>
<p><a href="#" class="button button--text">Text Button</a></p>