<button class="button">{{ buttonInline || 'Inline button' }}</button>
<a href="#" class="button">{{ linkInline || 'Inline link' }}</a>

<button class="button button--primary">{{ buttonPrimary || 'Primary button' }}</button>
<a href="#" class="button button--primary">{{ linkPrimary || 'Primary link' }}</a>
<button class="button button--primary" disabled>Primary button disabled</button>
<button class="button button--primary button--busy">Primary button busy</button>

<button class="button button--secondary">{{ buttonSecondary || 'Secondary button' }}</button>
<a href="#" class="button button--secondary">{{ linkSecondary || 'Secondary link' }}</a>

<button class="button button--tertiary">{{ tertiaryButton || 'Tertiary button' }}</button>
<a href="#" class="button button--tertiary">{{ tertiaryLink || 'Tertiary link' }}</a>

