<button class="button">I am a button</button>
<button class="button button--primary">I am a button</button>
<button class="button button--secondary">I am a button</button>

<a class="button">I am a button</a>
<a class="button button--primary">I am a link</a>
<a class="button button--secondary">I am a link</a>

