.button {
  display : inline-block;
  min-height: 4em;
  outline: none;
  border: 1px solid $colorBlack;
  padding: 0 2em;
  line-height: 1.85em;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.12em;
  cursor: pointer;
  background-color: $colorBlack;
  color: white;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  vertical-align: middle;
  &:hover {
    background-color: $colorTussock;
    transition-timing-function: ease-out;
    border: 1px solid $colorTussock;
  }
  &:active {
    background-color: lighten($colorTussock, 10%);
    border: 1px solid lighten($colorTussock, 10%);
  }
  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &--primary {
    width : 100%;
    padding: 1em 1em;
    @media only screen and (min-width: 414px) {
      width: 280px;
    }
  }

  &--secondary {
    background-color: $colorNevada;
    border: 1px solid $colorNevada;
  }
}