<header class="header">
  <div class="header__container">
      <div class="header__claim">
          {{headline.short}}
      </div>
      <div class="header__space"></div>
      <div class="header__language">
          {{> molecules-language-switch }}
      </div>
      <div class="header__cart">
          {{> molecules-cart }}
      </div>
  </div>
  <div class="header__logo">
      {{> atoms-logo }}
  </div>
  <div class="header__navigation">
      {{> molecules-primary-nav }}
  </div>
</header>