.header {
  position:relative;
  width:100%;
  margin:0;
  padding:$paddingMini;
  font-size:1rem;
  background:$colorWhite;
  z-index:9;
  box-sizing:border-box;

  &--sticky {
    position:fixed;
  }
  &--scrolled {
    box-shadow: $shadowTiny;
    background-color: transparentize($colorWhite, 0.05);
  }

  &__logo {}

  &__container {
    display:flex;
    flex-flow:row nowrap;
    height : 0.9em;
    line-height:0.9em;
    margin-bottom:-0.9em;

    @media only screen and (min-width: $breakpointDesktop) {
      height : 1.25em;
      line-height:1.25em;
      margin-bottom:-1.25em;
    }
  }

  &__space {
    flex:1;
  }

  &__claim {
    display:none;
    flex:none;
    @include font-primary-light-lowercase(0.75em);
    letter-spacing:0;

    @media only screen and (min-width: $breakpointDesktop) {
      display:block;
    }
  }

  &__language {
    flex:none;
    margin:0 $marginMini;
  }

  &__cart {
    flex:none;
  }

  &__navigation {
    @media only screen and (min-width: $breakpointDesktop) {
      margin-top:$marginMini;
    }
  }
}