<header class="header" role="banner">
  <div class="header__logo">
    {{> atoms-logo }}
  </div>
  <div class="header__navigation">
    {{> molecules-primary-nav }}
  </div>
  <div class="header__cart">
    {{> molecules-language-switch }}
	  {{> molecules-cart }}
  </div>
  <div class="header__claim">
    {{headline.short}}
  </div>
</header>