<footer class="footer patternlab" role="contentinfo">
    <div class="footer__sectionLeft">
        {{> molecules-footer-nav }}
        {{> molecules-social-share }}
    </div>
    <div class="footer__sectionRight">
        <div class="footer__trustedShops">
            {{> atoms-trusted-shops }}
        </div>
        {{> molecules-newsletter }}
    </div>
</footer>
<div class="footer__copyright">© HORIZN STUDIOS 2015</div>
