<footer class="footer" role="contentinfo">
    <div class="footer__sectionLeft">
        {{> molecules-footer-nav }}
        {{> molecules-social-share }}
    </div>
    <div class="footer__sectionRight">
        <h3 class="navigation__footer--headline show--desktop">Join us on our Journey</h3>
        <div class="footer__trustedShops">
            {{> atoms-trusted-shops }}
        </div>
        {{> organisms-fieldset-inline(buttonText: 'Join Now!', id: '686482364', label: 'Enter your email', error: 'Please enter your email address.', styleModifier: 'field--error'  ) }}
    </div>
</footer>
<div class="footer__copyright">© HORIZN STUDIOS 2015</div>
