.footer {
  @media only screen and (min-width : $breakpointDesktop) {
    padding-left : $paddingMini;
    padding-right : $paddingMini;
  }

  &__wrapper {
    max-width : 1500px;
    margin : 0 auto;
    position : relative;

    @media only screen and (min-width : $breakpointDesktop) {
      display : flex;
      flex-direction : row;
      padding-left : $paddingMini;
      padding-right : $paddingMini;

      &::before {
        content: "";
        width : 100%;
        background-color : $colorBlack;
        height : 3px;
        position : absolute;
        top : 1.5em;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  }

  &__sectionLeft {
    @media only screen and (min-width : $breakpointDesktop) {
      width: 40%;
      display: flex;
      flex-direction: row;
      flex: 1;
    }
  }

  &__sectionRight {
    position : relative;
    margin : 0 $marginMini;

    @media only screen and (min-width : $breakpointDesktop) {
      margin : 0;
    }
  }

  .navigation__footer {
    margin: 0 $marginStandard 0 0;
  }

  &__copyright {
    padding : 1.25rem 0;
    text-align : center;
    font-size : 0.75em;
    text-transform : uppercase;
    letter-spacing : 0.1em;
  }

  &__trustedShops {
    position : absolute;
    bottom : 100%;
    width : 3em;
    right: 0;

    @media only screen and (max-width : $breakpointMobile) {
      bottom : 6.5em;
    }

    @media only screen and (min-width : $breakpointDesktop) {
      left: -3.75em;
      top : 2.375em;
      bottom: auto;
    }
  }

  .fieldset--inline {
    @media only screen and (max-width : $breakpointMobile) {
      flex-flow : column wrap;
    }

    @media only screen and (min-width : $breakpointDesktop) {
      margin-top : 0;
    }
    .field__input-wrapper {
      margin-bottom : 0.5em;
      //margin-top : $marginMini;
    }
    .field__message ~ .field__input-wrapper {
      color : green;
      margin-top : 2em;
    }

    .field__message {
      @media only screen and (max-width : $breakpointMobile) {
        top : -2em;
        position : absolute;
      }
    }
  }

  .socialShare {
      margin-left : $marginMini;
      padding-top : $paddingMini;
      margin-bottom : 0.3em;

    @media only screen and (min-width : $breakpointDesktop) {
      padding-top : 0;
      margin-left : 0;
    }
  }
}
