.basicLayout {
  min-height: 100vh;
  overflow: hidden;
  &__inner {
    height: 100%;
    transition: margin $animationTimingFast;
    position: relative;
    width: 100%;
    box-sizing: content-box;
    padding: 0 $widthOffCanvasB 0 $widthOffCanvasA;
    margin-left: -#{$widthOffCanvasA};
    .basicLayout--showOffCanvasA & {
      margin-left: 0;
      @media only screen and (min-width: $breakpointDesktop) {
        margin-left: -#{$widthOffCanvasA};
      }
    }
    .basicLayout--showOffCanvasB & {
      margin-left: calc(-#{$widthOffCanvasB} - #{$widthOffCanvasA});
    }
  }
  &__canvas {
    min-height: 100vh;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background: $colorBlack;
      opacity: 0;
      bottom: 100%;
      transition: opacity $animationTimingNormal linear $animationTimingFast;
      .basicLayout--showOffCanvasA &,
      .basicLayout--showOffCanvasB & {
        bottom: 0;
        opacity: $opacityOverlayBackground;
      }
      .basicLayout--showOffCanvasA & {
        @media only screen and (min-width: $breakpointDesktop) {
          bottom: 100%;
        }
      }
    }
  }
  &__offCanvasA,
  &__offCanvasB {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &__offCanvasA {
    width: $widthOffCanvasA;
    left: 0;
    background: $colorWhite;
  }
  &__offCanvasB {
    width: $widthOffCanvasB;
    right: 0;
    background: $colorWhite;
  }
}