.basicLayout{
  min-height: 100%;
  min-height: 100vh;
  overflow: hidden;
  &__inner {
    height: 100%;
    transition: margin $animationTimingFast;
    position: relative;
    width: 100%;
    box-sizing: content-box;
    padding: 0 $widthOffCanvasB 0 $widthOffCanvasA;
    margin-left: -#{$widthOffCanvasA};
  }
  &__canvas {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background: $colorBlack;
      opacity: 0;
      bottom: 100%;
      z-index: 1;
      transition: opacity $animationTimingNormal linear $animationTimingFast;
    }
  }
  &__offCanvasA,
  &__offCanvasB {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &__offCanvasA {
    width: $widthOffCanvasA;
    left: 0;
    background: $colorWhite;
  }
  &__offCanvasB {
    width: $widthOffCanvasB;
    right: 0;
    background: $colorWhite;
  }
}

.basicLayout--showOffCanvasA,
.basicLayout--showOffCanvasB {
  .basicLayout__canvas:after {
    bottom: 0;
    opacity: $opacityOverlayBackground;
  }
}
.basicLayout--showOffCanvasA {
  .basicLayout__inner {
    margin-left: 0;
    @media only screen and (min-width: $breakpointDesktop) {
      margin-left: -#{$widthOffCanvasA};
    }
  }
  .navigation--primary {
    left: 0;
  }
  .basicLayout__canvas:after {
    @media only screen and (min-width: $breakpointDesktop) {
      bottom: 100%;
    }
  }
}
.basicLayout--showOffCanvasB {
  .basicLayout__inner {
    margin-left: calc(-#{$widthOffCanvasB} - #{$widthOffCanvasA});
  }
}