<div class="basicLayout basicLayout--{{styleModifier}}">
  <div class="basicLayout__inner">
    <div class="basicLayout__offCanvasLeft"></div>
    <div class="basicLayout__canvas"></div>
    <div class="basicLayout__offCanvasRight"></div>
  </div>
</div>