<div class="basicLayout {{styleModifier}}">

  <div class="basicLayout--inner">
      <img src="{{ img.landscape-18x5.src }}" alt="{{ img.landscape-18x5.alt }}" style="display:block" />
  </div>
</div>