<div class="basicLayout {{styleModifier}} patternlab">
  <div class="basicLayout__inner">
    <div class="basicLayout__offCanvasA"></div>
    <div class="basicLayout__canvas"></div>
    <div class="basicLayout__offCanvasB"></div>
  </div>
</div>