/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin bottom none
 * 1) Force margin bottom of 0
 */
 .u-margin-bottom-none {
	margin-bottom: 0 !important;
}

/**
 * Margin bottom small
 * 1) Force margin bottom of $spacing-small variable
 */
.u-margin-bottom-small {
	margin-bottom: $spacing-small !important;
}

/**
 * Margin bottom
 * 1) Force margin bottom of $spacing variable
 */
.u-margin-bottom {
	margin-bottom: $spacing !important;
}

/**
 * Margin bottom large
 * 1) Force margin bottom of $spacing-large variable
 */
.u-margin-bottom-large {
	margin-bottom: $spacing-large !important;
}

.u-margin-bottom-large-to-xxl {
	margin-bottom: $spacing-large !important;

	@media all and (min-width: $bp-large) {
		margin-bottom: $spacing-large*4 !important;
	}
}
/**
 * Margin top none
 * 1) Force margin top of 0
 */
.u-margin-top-none {
	margin-top: 0 !important;
}

/**
 * Margin top small
 * 1) Force margin top of $spacing-small variable
 */
.u-margin-top-small {
	margin-top: $spacing-small !important;
}

/**
 * Margin top
 * 1) Force margin top of $spacing variable
 */
.u-margin-top {
	margin-top: $spacing !important;
}

/**
 * Margin top large
 * 1) Force margin top of $spacing-large variable
 */
.u-margin-top-large {
	margin-top: $spacing-large !important;
}

.u-margin-top-booking {
	margin-top: 28rem !important;
}

/**
 * Margin right none
 * 1) Force margin right of 0
 */
.u-margin-right-none {
	margin-right: 0 !important;
}

/**
 * Margin right small
 * 1) Force margin right of $spacing-small variable
 */
.u-margin-right-small {
	margin-right: $spacing-small !important;
}

/**
 * Margin right
 * 1) Force margin right of $spacing variable
 */
.u-margin-right {
	margin-right: $spacing !important;
}

/**
 * Margin right large
 * 1) Force margin right of $spacing-large variable
 */
.u-margin-right-large {
	margin-right: $spacing-large !important;
}

/**
 * Margin left none
 * 1) Force margin left of 0
 */
.u-margin-left-none {
	margin-left: 0 !important;
}

/**
 * Margin left small
 * 1) Force margin left of $spacing-small variable
 */
.u-margin-left-small {
	margin-left: $spacing-small !important;
}

/**
 * Margin left
 * 1) Force margin left of $spacing variable
 */
.u-margin-left {
	margin-left: $spacing !important;
}

/**
 * Margin left large
 * 1) Force margin left of $spacing-large variable
 */
.u-margin-left-large {
	margin-left: $spacing-large !important;
}

/**
 * Center display block contents
 */
.u-margin-center {
	margin: 0 auto !important;
}

/**
 * Padding none
 */
.u-padding-none {
	padding: 0 !important;
}

/**
 * Padding small
 */
.u-padding-small {
	padding: $spacing-small !important;
}

/**
 * Padding
 */
.u-padding {
	padding: $spacing !important;
}

/**
 * Padding large
 */
.u-padding-large {
	padding: $spacing-large !important;
}

/**
 * Padding top none
 */
.u-padding-top-none {
	padding-top: 0 !important;
}

/**
 * Padding top small
 */
.u-padding-top-small {
	padding-top: $spacing-small !important;
}

/**
 * Padding top
 */
.u-padding-top {
	padding-top: $spacing !important;
}

/**
 * Padding top large
 */
.u-padding-top-large {
	padding-top: $spacing-large !important;
}

/**
 * Padding bottom none
 */
.u-padding-bottom-none {
	padding-bottom: 0 !important;
}

/**
 * Padding bottom small
 */
.u-padding-bottom-small {
	padding-bottom: $spacing-small !important;
}

/**
 * Padding bottom
 */
.u-padding-bottom {
	padding-bottom: $spacing !important;
}

/**
 * Padding bottom large
 */
.u-padding-bottom-large {
	padding-bottom: $spacing-large !important;
}

/**
 * Padding right none
 */
.u-padding-right-none {
	padding-right: 0 !important;
}

/**
 * Padding right small
 */
.u-padding-right-small {
	padding-right: $spacing-small !important;
}

/**
 * Padding right
 */
.u-padding-right {
	padding-right: $spacing !important;
}

/**
 * Padding right large
 */
.u-padding-right-large {
	padding-right: $spacing-large !important;
}

/**
 * Padding left none
 */
.u-padding-left-none {
	padding-left: 0 !important;
}

/**
 * Padding left small
 */
.u-padding-left-small {
	padding-left: $spacing-small !important;
}

/**
 * Padding left
 */
.u-padding-left {
	padding-left: $spacing !important;
}

/**
 * Padding left large
 */
.u-padding-left-large {
	padding-left: $spacing-large !important;
}
