/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/**
 * Body Styles 
 * 1) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
@mixin typographyBody() {
  font-family: $font-primary;
  font-size: $font-size-med-2;
  font-weight: 500;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; /* 1 */
}

/**
 * XL Type Styles
 */
@mixin typographyBodyLarge() {
  font-size: $font-size-med-2;
  line-height: $line-height-large;
}

/**
 * XL Heading Styles
 */
@mixin typographyHeadingXl() {
  font-weight: $font-weight-bold;
  font-size: $font-size-large-2;
  line-height: 1.1;

  @media all and (min-width: $bp-med) {
    font-size: $font-size-xl;
  }
}

/**
 * Large Heading Styles
 */
@mixin typographyHeadingLarge() {
  font-size: $font-size-large;
  font-weight: 700;
  line-height: 1.6;
}

/**
 * Medium 2 Heading Styles
 */
@mixin typographyHeadingMed2() {
  font-size: $font-size-med-2;
  font-weight: 700;
  line-height: 1.2;
}

/**
 * Medium Heading Styles
 */
@mixin typographyHeadingMed() {
  font-size: $font-size-med;
  font-weight: 700;
  line-height: 1.2;
}

/*------------------------------------*\
    #FOCUS
\*------------------------------------*/

@mixin focus() {
  outline: 2px dotted $color-black;
  outline-offset: 4px;
}

@mixin focusInverted() {
  outline: 1px dotted $color-white;
  outline-offset: 4px;
}
