/*------------------------------------*\
    #ISH SIZING
\*------------------------------------*/

/**
 * Viewport size form
 * 1) This is the form for the form that houses the current
 *    viewport size in px and em
 */
.pl-c-viewport-size {
  margin: 0;
  border: 0;
  padding: 0.3rem 0.5rem 0.4rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

/**
 * Size input fields
 */
.pl-c-viewport-size__input {
  padding: 0.1rem;
  margin: 0;
  border: 0;
  border-radius: $pl-border-radius;
  background-color: transparent;
  font-size: inherit;
  color: $pl-color-gray-50;
  width: 35px;
  text-align: right;
  transition: all $pl-animate-quick ease-out;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover {
    color: $pl-color-white;
    background-color: $pl-color-gray-87;
  }

  &:active,
  &:focus {
    color: $pl-color-white;
    background-color: $pl-color-gray-87;
    outline: 1px dotted $pl-color-gray-50;
    outline-offset: -1px;
  }
}

/**
 * Size input labels
 */
.pl-c-viewport-size__label {
  display: block;
  margin: 0;
  padding: 0;
}
