<div class="multi-step patternlab">
    <div class="main__header">
        <a class="logo logo--left" href="http://horizn-studios.com">
            <h1 class="logo__text">Horizn Studios</h1>
        </a>

        <ul class="breadcrumb">
            <li class="breadcrumb__item breadcrumb__item--completed">
                <a href="http://horizn-studios.com/cart" class="breadcrumb__link">Cart</a>
            </li>

            <li class="breadcrumb__item breadcrumb__item--current">
                Customer information
            </li>
            <li class="breadcrumb__item breadcrumb__item--blank">
                Shipping method
            </li>
            <li class="breadcrumb__item breadcrumb__item--blank">
                Payment method
            </li>
        </ul>
    </div>
</div>