<nav class="navigation navigation--primary" role="navigation">
	<ul>
		<li><a href="#">Women</a></li>
		<li><a href="#">Men</a></li>
		<li><a href="#">Smart Travel</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Magazine</a></li>
	</ul>
</nav>
