<nav class="navigation navigation--primary patternlab" role="navigation">
  <a href="#" class="navigation--primary__hamburger"></a>
  <ul class="navigation__list navigation__list--firstLevel">
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">Women</a>
    </li>
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">Men</a>
    </li>
    <li class="navigation__list__item">
      <a href="#" class="navigation__link navigation__link--active">Smart Travel</a>
      <ul class="navigation__list navigation__list--secondLevel">
        <li class="navigation__list__item">
          <a href="#" class="navigation__link">Travel Assistant</a>
        </li>
        <li class="navigation__list__item">
          <a href="#" class="navigation__link">Smart Charger</a>
        </li>
        <li class="navigation__list__item">
          <a href="#" class="navigation__link">Smart in Development</a>
        </li>
      </ul>
    </li>
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">About us</a>
      <ul class="navigation__list navigation__list--secondLevel">
        <li class="navigation__list__item">
          <a href="#" class="navigation__link">Brand</a>
        </li>
        <li class="navigation__list__item">
          <a href="#" class="navigation__link navigation__link--active">Craft</a>
        </li>
        <li class="navigation__list__item">
          <a href="#" class="navigation__link">Designers</a>
        </li>
      </ul>
    </li>
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">Magazine</a>
     </li>
  </ul>
</nav>
