.navigation--primary {
  font-size : 0.75em;
  text-transform : uppercase;
  font-weight : 300;
  letter-spacing : 0.1em;
  width : 400px;
  ul {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    list-style : none;
  }
}