<nav class="navigation navigation--primary" role="navigation">
  <a href="#" class="navigation--primary__hamburger"></a>
  <ul class="navigation__list navigation__list--firstLevel">
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">Women</a>
    </li>
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">Men</a>
    </li>
    <li class="navigation__list__item">
      <a href="javascript:void(0)" class="navigation__link navigation__link--active mobile-accordion__handle--base mobile-js-accordion__handle">Smart Travel</a>
      <ul class="navigation__list navigation__list--secondLevel mobile-accordion__panel">
            <li class="navigation__list__item">
              <a href="#" class="navigation__link mobile-accordion__panel__content accordion__panel__content--link">Travel Assistant</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__link mobile-accordion__panel__content accordion__panel__content--link">Smart Charger</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__link mobile-accordion__panel__content accordion__panel__content--link">Smart in Development</a>
            </li>
      </ul>
    </li>
    <li class="navigation__list__item">
      <a href="javascript:void(0)" class="navigation__link mobile-accordion__handle--base mobile-js-accordion__handle mobile-accordion__handle--expanded">About us</a>
      <ul class="navigation__list navigation__list--secondLevel mobile-accordion__panel">
        <li class="navigation__list__item">
          <a href="#" class="navigation__link mobile-accordion__panel__content accordion__panel__content--link">Brand</a>
        </li>
        <li class="navigation__list__item">
          <a href="#" class="navigation__link navigation__link--active mobile-accordion__panel__content accordion__panel__content--link">Craft</a>
        </li>
        <li class="navigation__list__item">
          <a href="#" class="navigation__link mobile-accordion__panel__content accordion__panel__content--link">Designers</a>
        </li>
      </ul>
    </li>
    <li class="navigation__list__item">
      <a href="#" class="navigation__link">Magazine</a>
     </li>
  </ul>
</nav>