.navigation {
  &--primary {
    @extend .fontPrimary__light;
    text-transform: uppercase;
    font-size: 0.75em;
    &:before {
      @include icon('logo');
      font-size : 1.25em;
      padding : 0.75em 0;
      display: none;
    }
    &__hamburger {
      @include icon('hamburgerMenu');
      position: absolute;
      right: -1.35em;
      top: 0.2175em;
      font-size: 3.25em;
      display: none;
      &:before {
        display: block;
        height: 0.9em;
        line-height: 0.9em;
        text-align: center;
        padding-left: 0.065em;
        background-color: $colorWhite;
      }
      @media only screen and (max-width: $breakpointTabletEnd) {
        display: block;
      }
    }
  }
  &__list {
    text-align: left;
    list-style: none;
    &--secondLevel {
      &:after {
        content: "";
        border-top: 1px solid $colorSilver;
        border-bottom: 1px solid $colorSilver;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
      }
    }
  }
}



@media only screen and (max-width: $breakpointTabletEnd) {

  .navigation {
    &--primary {
      position: fixed;
      left: -#{$widthOffCanvasA};
      top: 0;
      z-index: 20;
      width: $widthOffCanvasA;
      line-height: 1.333em;
      letter-spacing: 0.1em;
      transition: left $animationTimingFast;
      &:before {
        display: block;
      }
    }
    &__list {
      &--secondLevel {
        margin: 0 0.75em;
        position: relative;
      }
      &__item {
        position: relative;
        .navigation__list--secondLevel & {
          display: none;
        }
      }
    }
    &__link {
      display: block;
      padding: 1.333em;
      border: none;
      background-color : white;
      &--active {
        background: $colorBlack;
        color: $colorTextInvert;
        border: none;
        &:before {
          color: $colorTextInvert;
        }
        &:after {
          content: "";
          border-top: 1px solid $colorBlack;
          border-bottom: 1px solid $colorBlack;
          top : 0;
          bottom : 0;
          position: absolute;
          left: 0;
          right: 0;
          display: block;
          z-index: 2;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpointDesktop) {
  .navigation {
    &--primary {
      width: 100%;
      text-align: center;
    }
    &__list {
      &--firstLevel {
        display: inline;
        list-style: none;
      }
      &--secondLevel {
        font-size: 0.9em;
        line-height: 1.25em;
        display: none;
        position: absolute;
        text-align: left;
        background: $colorWhite;
        min-width: 7.5em;
        &:hover {
          display: block;
        }
      }
      &__item {
        display: inline-block;
        position: relative;
        .navigation__list--secondLevel & {
          padding: 0.25em 0.5em;
        }
      }
    }
    &__link {
      padding: 0.25em 0.625em;
      display: block;
      &--active {
        color: $colorTussock;
        .navigation__list--secondLevel & {
          text-decoration: underline;
        }
      }
      &:hover {
        color: $colorTussock;
        & + .navigation__list--secondLevel {
          display: block;
        }
      }
    }
  }
}