<div class="navigation__footer patternlab">
    <h3 class="navigation__footer--headline mobile-accordion__handle">Support</h3>
    <ul class=" mobile-accordion__panel">
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">FAQs</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Payment and Delivery</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Return policy</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Terms & Conditions</a>
    </ul>
</div>

<div class="navigation__footer patternlab">
    <h3 class="navigation__footer--headline mobile-accordion__handle">About</h3>
    <ul class="mobile-accordion__panel">
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Store</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Jobs</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Press</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">About us</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Craft</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Designer</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Privacy</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content">Imprint</a>
    </ul>
</div>

