
.navigation__footer{
  width : 100%;

  @media only screen and (min-width : $breakpointDesktop) {
    margin: 0 1.25em 0 1.25em;
    text-align : left;
    width : auto;
    vertical-align : top;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    white-space: nowrap;
  }

  &--headline {
    @media only screen and (min-width : $breakpointDesktop) {
      border-bottom : none;
      padding-top : 0;
      padding-bottom : 0;
      padding-left : 0;
      margin-bottom : 2em;
      background-color : transparent;
      font-size : 0.875em;
      font-weight : normal;
      text-transform : uppercase;
    }
  }

  &--item {
    @media only screen and (min-width : $breakpointDesktop) {
      font-size : 0.875em;
      line-height : 1.625em;
      display : block;
      letter-spacing : 0;
      text-transform : none;
      border-bottom : none;
      font-family : $fontSecondary;
      padding-top : 0;
      padding-bottom : 0;
      padding-left : 0;
      font-weight : 500;
      transition-duration: 500ms;
      transition-timing-function: ease-in;
      &:hover {
        color: $colorTussock;
        transition-timing-function: ease-out;
      }
      &:active {
        color: lighten($colorTussock, 10%);
      }
    }
  }
}