<div class="navigation__footer">
    <h3 class="navigation__footer--headline mobile-accordion__handle">Support</h3>
    <div class=" mobile-accordion__panel">
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">FAQs</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Payment and Delivery</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Return policy</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Terms & Conditions</a>
    </div>
</div>

<div class="navigation__footer">
    <h3 class="navigation__footer--headline mobile-accordion__handle">About</h3>
    <div class="mobile-accordion__panel">
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Store</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Jobs</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Press</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">About us</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Craft</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Designer</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Privacy</a>
        <a href="#" class="navigation__footer--item mobile-accordion__panel__content accordion__panel__content--link">Imprint</a>
    </div>
</div>
