<span>Support</span>
<ul class="navigation navigation--footer">
	<li><a href="#">FAQs</a></li>
	<li><a href="#">Payment and Delivery</a></li>
	<li><a href="#">Return policy</a></li>
	<li><a href="#">Terms & Conditions</a></li>
</ul>

<span>About</span>
<ul class="navigation navigation--footer">
    <li><a href="#">Store</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Press</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Craft</a></li>
    <li><a href="#">Designer</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Imprint</a></li>
</ul>