.patternlab.navigation__footer,
.patternlab .navigation__footer{
  width : 100%;

  @media only screen and (min-width : $breakpointDesktop) {
    padding-left : 1.25em;
    text-align : left;
    display : inline-block;
    width : 50%;
    min-width : 150px;
    vertical-align : top;
  }

  &--headline {
    &:first-of-type {
      border-top : 1px solid $colorSilver;
      @media only screen and (min-width : $breakpointDesktop) {
        border-top : none;
      }
      .navigation__footer + .navigation__footer & {
        border-top : none;
      }
    }
    @media only screen and (min-width : $breakpointDesktop) {
      border-bottom : none;
      padding-top : 0;
      padding-bottom : 0;
      padding-left : 0;
      margin-bottom : 2em;
      background-color : transparent;
      font-size : 0.875em;
      font-weight : normal;
      text-transform : uppercase;
    }
  }

  &--item {
    @media only screen and (min-width : $breakpointDesktop) {
      display : block;
      letter-spacing : 0;
      text-transform : none;
      border-bottom : none;
      font-family : $fontSecondary;
      padding-top : 0;
      padding-bottom : 0;
      padding-left : 0;
      font-weight : 500;
    }
  }
}