.navigation-flyout {
  position: absolute;
  background-color: $colorWhite;
  left: 0;
  right: 0;
  margin-top: 2em;
  padding: 1.625em 6.250em;
  &.flyout-open {
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-name: fade-in;
    display: block !important;
  }
  &[data-type=block_nav_1_image_with_links] {
    .columns {
      margin: 0;
      width: 70%;
      float: left;
      > div {
        text-align: left;
        p {
          padding-top: 0.625em;
          a {
            text-transform: none;
            line-height: 1.563em;
            font-family: $fontPrimary;
          }
        }
        hr {
          margin-right: 50%;
          border: 0;
          border-bottom: 0.125em solid $colorBlack;
        }
        h2 {
          padding-top: 1.250em;
          font-weight: initial;
        }
      }
      &__column {
        padding-left: 0;
      }
      &__image {
        display: inline-block;
        width: 30%;
        margin: 1.250em 0;
        figure {
          a {
            color: $colorWhite;
            position: relative;
            display: block;
            h3 {
              display: flex;
              position: absolute;
              width: 100%;
              height: 63%;
              flex-flow: column;
              align-items: center;
              left: 0;
              justify-content: center;
              &:before {
                content: '';
                border-top: 0.125em solid;
                border-color: inherit;
                position: absolute;
                display: table;
                width: 38.8%;
                margin-left: 30.5%;
                top: 2.188em;
              }
            }
          }
        }
      }
    }
  }
  &[data-type=block_nav_2_images] {
    .columns {
      padding: 0 18%;
      figure {
        figcaption {
          color: $colorBlack;
          display: inline-block;
          font-size: inherit;
          border-bottom: 0.125em solid transparent;
          padding-top: 1.8em;
          &:after {
            content: '';
            border-bottom: 0.125em solid transparent;
            width: 100%;
            display: inline-block;
            margin-bottom: 0.250em;
          }
        }
        a {
          color: $colorWhite;
          position: relative;
          display: block;
          h3 {
            display: flex;
            position: absolute;
            width: 100%;
            height: 52%;
            flex-flow: column;
            align-items: center;
            left: 0;
            justify-content: center;
            &:before {
              content: '';
              border-top: 0.125em solid;
              border-color: inherit;
              position: absolute;
              display: table;
              width: 38.8%;
              margin-left: 30.5%;
              top: 3.188em;
            }
          }
          &:hover {
            figcaption {
              &:after {
                content: '';
                border-bottom: 0.125em solid $colorBlack;
                width: 100%;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  &[data-type=block_nav_3_images] {
    .columns {
      figure {
        figcaption {
          color: $colorBlack;
          display: inline-block;
          font-size: inherit;
          border-bottom: 0.125em solid transparent;
          padding-top: 1.8em;
          &:after {
            content: '';
            border-bottom: 0.125em solid transparent;
            width: 100%;
            display: inline-block;
            margin-bottom: 0.250em;
          }
        }
        a {
          color: $colorWhite;
          position: relative;
          display: block;
          h3 {
            display: flex;
            position: absolute;
            width: 100%;
            height: 52%;
            flex-flow: column;
            align-items: center;
            left: 0;
            justify-content: center;
            &:before {
              content: '';
              border-top: 0.125em solid;
              border-color: inherit;
              position: absolute;
              display: table;
              width: 38.8%;
              margin-left: 30.5%;
              top: 3.188em;
            }
          }
          &:hover {
            figcaption {
              &:after {
                content: '';
                border-bottom: 0.125em solid $colorBlack;
                width: 100%;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }


  &[data-type=block_nav_4_images] {
    .columns {
      figure {
        figcaption {
          color: $colorBlack;
          display: inline-block;
          font-size: inherit;
          border-bottom: 0.125em solid transparent;
          padding-top: 1.8em;
          &:after {
            content: '';
            border-bottom: 0.125em solid transparent;
            width: 100%;
            display: inline-block;
            margin-bottom: 0.250em;
          }
        }
        a {
          color: $colorWhite;
          position: relative;
          display: block;
          h3 {
            display: flex;
            position: absolute;
            width: 100%;
            height: 52%;
            flex-flow: column;
            align-items: center;
            left: 0;
            justify-content: center;
            &:before {
              content: '';
              border-top: 0.125em solid;
              border-color: inherit;
              position: absolute;
              display: table;
              width: 38.8%;
              margin-left: 30.5%;
              top: 3.188em;
            }
          }
          &:hover {
            figcaption {
              &:after {
                content: '';
                border-bottom: 0.125em solid $colorBlack;
                width: 100%;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

}
