.navigation-flyout {
  position: fixed;
  background-color: $colorWhite;

  font-size: 1rem;
  z-index: 10;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  animation-duration: .2s;
  animation-delay: .3s;
  animation-fill-mode: both;
  animation-name: fade-in;

  @media only screen and (min-width: $breakpointDesktop) {
    display: block !important;
    left: -20000px;
    right: auto;
    top: -20000px;
    opacity: 0;

    &.flyout-open {
      animation-delay: 0s;
      left: 0;
      right: 0;
      top: 0;
      opacity: 1;
      margin-top: 68px;
    }
  }

  &__columns {
    padding: 1.625em (1.625em * 2.5) 1.75em;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__column {
    flex: 0;
    position: relative;
    overflow: hidden;
    height: 200px;
    &:first-child:nth-last-child(2) {
      &, & ~ * {
        flex-basis: calc(50% - 20px);
      }
    }
    &:first-child:nth-last-child(3) {
      &, & ~ * {
        flex-basis: calc(33.3% - 20px);
      }
    }
    &:first-child:nth-last-child(4) {
      &, & ~ * {
        flex-basis: calc(25% - 20px);
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-color: #f1f1f1;
  }

  &__title {
    color: $colorWhite;
    top: 27%;
    width: 50%;
    max-width: 125px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $fontSizeSmall;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    @include font-tertiary-heavy($fontSizeSmall);
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      top: -1.5em;
      background: $colorWhite;

    }
  }
}
