/*------------------------------------*\
    #TOOLS
\*------------------------------------*/

// vertical align in <pl-header> container
pl-tools-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**
 * The tools dropdown contains more utilities such as show/hide
 * pattern info and pattern search, and also links to open in a
 * new window and view the documentation
 */
.pl-c-tools {
  position: relative;
  display: flex;
}

/**
 * Tools menu button
 * 1) This is the button that contains the toggle and 
 *    triggers the tools dropdown list
 */
.pl-c-tools__toggle {
  @include linkStyle();
  margin: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 30px;
}

/**
 * Tools Toggle SVG icon
 * 1) Cog icon
 * 2) Set the width and height of the icon to be the same height of font
 */
.pl-c-tools__toggle-icon {
  transition: inherit; // inherit transition styles from parent toggle
  // pointer-events: none;
}

/**
 * Tools dropdown list
 */
.pl-c-tools__list {
  @include listReset();
  @include accordionPanel();
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10; // make sure context dropdown z-index is higher than nav dropdown z-index
  width: 10rem;
  border-bottom-left-radius: $pl-border-radius-med;
  border-bottom-right-radius: $pl-border-radius-med;
}

/**
 * Tools dropdown actions
 * 1) Links and buttons inside of the tools dropdown
 */
.pl-c-tools__action {
  @include linkStyle();
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
}

// Make sure the text and icon align to the opposite ends
.pl-c-tools__action-icon {
  margin-left: auto;
}
