<ul class="breadcrumb ">
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="http://horizn-studios.com/cart">Cart</a>
    </li>

    <li class="breadcrumb__item breadcrumb__item--current">
        Customer information
    </li>
    <li class="breadcrumb__item breadcrumb__item--blank">
        Shipping method
    </li>
    <li class="breadcrumb__item breadcrumb__item--blank">
        Payment method
    </li>
</ul>