<div class="order-summary__section">
  <table class="total-line-table">
    <thead>
    <tr>
      <th scope="col"><span class="visually-hidden">Description</span></th>
      <th scope="col"><span class="visually-hidden">Price</span></th>
    </tr>
    </thead>
    <tbody>
    <tr class="total-line total-line--subtotal">
      <td class="total-line__name">Subtotal</td>
      <td class="total-line__price">
        <span data-checkout-subtotal-price-target="123" class="order-summary__emphasis">€1.23</span>
      </td>
    </tr>
    <tr class="total-line total-line--shipping">
      <td class="total-line__name">Shipping</td>
      <td class="total-line__price">
        <span data-checkout-total-shipping-target="0" class="order-summary__emphasis">Free</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="order-summary__section order-summary__section--total">
  <table class="total-line-table">
    <thead>
    <tr>
      <th scope="col"><span class="visually-hidden">Description</span></th>
      <th scope="col"><span class="visually-hidden">Price</span></th>
    </tr>
    </thead>
    <tbody>
    <tr class="total-line">
      <td class="total-line__name payment-due-label">
        Total
        <br>
              <span class="order-summary__small-text">
                Including <span>€12.77</span> in taxes
              </span>
      </td>
      <td class="total-line__price payment-due">
        <span class="payment-due__currency">EUR</span>
        <span data-checkout-payment-due-target="8123" class="payment-due__price">€81.23</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>