<div class="basicLayout">
    <div class="basicLayout--inner">
        {{> organisms-header }}

        <div class="pageContent pageContent__magazineHome">
            {{> molecules-homepage-article-block }}
            {{> molecules-homepage-article-block }}
            {{> molecules-homepage-article-block }}
            {{> molecules-homepage-article-block }}
            {{> molecules-homepage-article-block }}
            {{> molecules-homepage-article-block }}
            {{> molecules-homepage-article-block }}
        </div>
        {{> organisms-footer }}
    </div>
</div>



