<div class="basicLayout">
    <div class="basicLayout__inner">
        <div class="basicLayout__offCanvasA"></div>
        <div class="basicLayout__canvas">
            {{> organisms-header }}
            <div class="pageContent pageContent__magazineHome">
                {{> molecules-homepage-article-block }}
                {{> molecules-homepage-article-block }}
                {{> molecules-homepage-article-block }}
                {{> molecules-homepage-article-block }}
                {{> molecules-homepage-article-block }}
                {{> molecules-homepage-article-block }}
                {{> molecules-homepage-article-block }}
            </div>
            {{> organisms-footer }}
        </div>
        <div class="basicLayout__offCanvasB"></div>
    </div>
</div>
