.pageContent__magazineHome {
  .magArticle__summary {
    margin-right : auto;
    margin-left : auto;
    margin-bottom : $marginStandard;
    margin-top : $marginMini;
    max-width : 60em;
  }

  .magArticle__text {
    margin-bottom : 0;
  }
}