<div class="basicLayout">
    <div class="basicLayout--inner">
        {{> organisms-header }}

        <div class="pageContent magArticle">
            <div class="magArticle__text">
                <div class="magArticle__date">{{ headline.mini }}</div>
                <h2 class="headlineGroup__headline--alt">{{ headline.mini }}:<br>{{ headline.short }}</h2>
            </div>

            {{> molecules-block-banner }}
            <div class="magArticle__interview">

                <div class="columns magArticle__columns">
                    <div class="block columns__column">{{> molecules-figure-with-caption }}</div>
                    <div class="block columns__column magArticle__columns--text">
                        <p>Interview by <span class="magArticle__interviewer">Horizn Studios</span></p>
                        {{> atoms-block-elements(paragraph: true) }}
                        {{> atoms-block-elements(interviewQuestion: true) }}
                        {{> atoms-block-elements(paragraph: true) }}
                        {{> atoms-block-elements(interviewQuestion: true) }}
                        {{> atoms-block-elements(paragraph: true) }}
                    </div>
                </div>

                <div class="columns magArticle__columns">
                    <div class="block columns__column magArticle__columns--blockquote">
                        {{> atoms-block-elements(blockquote: true) }}
                    </div>
                    <div class="block columns__column">{{> molecules-figure-with-caption }}</div>
                </div>

                <div class="columns magArticle__columns">
                    <div class="block columns__column magArticle__sidebar">
                        <div class="magArticle__sidebar__innerWrapper">
                            {{> atoms-heading(level: 2) }}
                            <p><span class="magArticle__altFont">{{ headline.mini }}: </span>{{ headline.short }}</p>
                            <p><span class="magArticle__altFont">{{ headline.short }}: </span>{{ excerpt.mini }}</p>
                            <p><span class="magArticle__altFont">{{ headline.mini }}: </span>{{ excerpt.short }}</p>
                            <p><span class="magArticle__altFont">{{ headline.short }}: </span>{{ headline.mini }}</p>
                        </div>
                    </div>
                    <div class="block columns__column magArticle__columns--text">
                        {{> atoms-block-elements(paragraph: true) }}
                        {{> atoms-block-elements(interviewQuestion: true) }}
                        {{> atoms-block-elements(paragraph: true) }}
                        {{> atoms-block-elements(interviewQuestion: true) }}
                        {{> atoms-block-elements(paragraph: true) }}
                    </div>
                </div>

                <div class="columns magArticle__columns">
                    <div class="block columns__column">
                        {{> molecules-figure-with-caption }}
                    </div>
                    <div class="block columns__column">
                        {{> molecules-figure-with-caption }}
                    </div>
                    <div class="block columns__column">
                        {{> molecules-figure-with-caption }}
                    </div>
                </div>

            </div>

        </div>
        {{> organisms-footer }}
    </div>
</div>
