<div class="basicLayout">
    <div class="basicLayout--inner">
        {{> organisms-header }}

        <div class="pageContent magArticle">
            <div class="magArticle__text">
                <div class="magArticle__date">{{ headline.mini }}</div>
                <h2 class="headlineGroup__headline--alt">{{ headline.mini }}:<br>{{ headline.short }}</h2>
            </div>

            {{> molecules-block-banner }}
            {{> molecules-block-media }}
            {{> molecules-block-quote }}
            {{> molecules-block-sidebar }}
            {{> molecules-block-multimedia }}

            </div>

        </div>
        {{> organisms-footer }}
    </div>
</div>
