<div class="basicLayout">
    <div class="basicLayout__inner">
        <div class="basicLayout__offCanvasA"></div>
        <div class="basicLayout__canvas">
            {{> organisms-header }}
            <div class="pageContent magazineArticle__interview">
                <div class="magArticle__text">
                    <div class="magArticle__date">{{ headline.mini }}</div>
                    <h2 class="headlineGroup__headline--alt">{{ headline.mini }}:<br>{{ headline.short }}</h2>
                </div>
                {{> molecules-block-banner }}
                <div class="columns magazineArticle__columns">
                    <div class="block columns__column">{{> molecules-figure-with-caption }}</div>
                    <div class="block columns__column magazineArticle__columns--text">
                        <p class="magazine__magazineArticle__firstParagraph">{{ excerpt.long }}</p><br>
                        <p>{{ excerpt.long }}</p><br>
                        <blockquote class="pullQuote">
                            <p>A pull quotation is a a brief, attention-catching quotation taken from the main text of an article</p>
                        </blockquote>
                    </div>
                </div>
                <div class="columns magazineArticle__columns">
                    <div class="block columns__column">{{> molecules-figure-with-caption }}</div>
                    <div class="block columns__column">{{> molecules-figure-with-caption }}</div>
                </div>
                <div class="columns magazineArticle__columns">
                    <div class="block columns__column"></div>
                    <div class="block columns__column magazineArticle__columns--text">
                        <p>{{ excerpt.long }}</p><br>
                        <p>{{ excerpt.long }}</p><br>
                        <blockquote class="pullQuote">
                            <p>A pull quotation is a a brief, attention-catching quotation taken from the main text of an article</p>
                        </blockquote>
                        <p>{{ excerpt.long }}</p><br>
                        <p>{{ excerpt.long }}</p><br>
                    </div>
                </div>
            </div>
            {{> organisms-footer }}
        </div>
        <div class="basicLayout__offCanvasB"></div>
    </div>
</div>
