<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">Selected Comments</h2>
		<ul class="comment-list">
				{{> molecules-single-comment(description: 'We are all in the gutter, but some of us are looking at the stars.') }}
        {{> molecules-single-comment(description: 'A life is like a garden. Perfect moments can be had, but not preserved, except in memory.') }}
		</ul>
	</div>
</section>
