<h1 class="headlineH1">Heading Level 1</h1>
<h2 class="headlineH2">Heading Level 2</h2>
<h3 class="headlineH3">Heading Level 3</h3>
<h4 class="headlineH4">Heading Level 4</h4>
<h5 class="headlineH5">Heading Level 5</h5>
<h6 class="headlineH6">Heading Level 6</h6>

<h1 class="headlineH1">
  <a href="#" class="headlineH1__link">Heading 1 with link</a>
</h1>
<h2 class="headlineH2">
  <a href="#" class="headlineH2__link">Heading 2 with link</a>
</h2>
<h3 class="headlineH3">
  <a href="#" class="headlineH3__link">Heading 3 with link</a>
</h3>
<h4 class="headlineH4">
  <a href="#" class="headlineH4__link">Heading 4 with link</a>
</h4>
<h5 class="headlineH5">
  <a href="#" class="headlineH5__link">Heading 5 with link</a>
</h5>
<h6 class="headlineH6">
  <a href="#" class="headlineH6__link">Heading 6 with link</a>
</h6>