.headlineH1 {
  font-family : $fontPrimary;
  &__link {

  }
}

.headlineH2 {
  font-family : $fontPrimary;
  &__link {

  }
}

.headlineH3 {
  font-family : $fontPrimary;
  &__link {

  }
}

.headlineH4 {
  font-family : $fontPrimary;
  &__link {

  }
}

.headlineH5 {
  font-family : $fontPrimary;
  &__link {

  }
}

.headlineH6 {
  font-family : $fontPrimary;
  &__link {

  }
}