{{# paragraph}}<p>{{ description }}</p>{{/paragraph}}

{{# interviewQuestion }}<p class="interviewQuestion">Interview Question {{ headline.short }}?</p>{{/interviewQuestion}}

{{# blockquote }}<blockquote class="pullQuote patternlab">
  <p>A pull quotation is a a brief, attention-catching quotation taken from the main text of an article</p>
</blockquote>{{/blockquote}}

