p {
  @include font-secondary-medium-lowercase;
  margin-bottom : $marginMini;
}

.interviewQuestion {
  font-weight : 500;
}

.pullQuote {
  @include font-secondary-medium-lowercase(1.5em);
  font-family : $fontSecondary;
  line-height : 1.5em;
  text-align  : center;

  @media only screen and (min-width : $breakpointDesktop) {
    font-size : 2em;
  }
}
