a {
  color : inherit;
  text-decoration : none;
}

p {
  a {
    color : $colorBlack;
    text-decoration : none;
    transition: color, border-color;
    border-bottom: 1px solid transparent;
    transition-duration: 500ms;
    transition-timing-function: ease-in;

    &:hover {
      color: $colorTussock;
      border-bottom : 1px solid $colorTussock;
      transition-timing-function: ease-out;
    }
  }
}



strong, b {

}

em, i {

}

del {
}

ins {

}

s {

}

sup {
}

sub {
}

small {
}

abbr {
}

kbd {

}

q {
}

cite {
}

dfn {
}

mark {
}

code {
}

samp {
}

var {

}