<!--<div class="text">-->
	<!--<p><a href="#">This is a text link</a></p>-->

	<!--<p><strong>Strong is used to indicate strong importance</strong></p>-->

	<!--<p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>-->

	<!--<p>The <i>i element</i> is text that is set off from the normal text</p>-->

	<!--<p><small>This small text is small for for fine print, etc.</small></p>-->

	<!--<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>-->

<!--</div>-->
