a {
  color : inherit;
  text-decoration : none;
  outline: none;
}

 p {
  a {
    @extend %animationTextLinks;
  }
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

strong, b {
  font-weight: inherit;
}

.anchorCTA {
  text-transform : uppercase;
  font-size : 0.75em;
  letter-spacing : 1px;

  &:hover {
    color: $colorTussock;
  }

  &:active {
    color: lighten($colorTussock, 10%);
  }

  @media only screen and (min-width: $breakpointDesktop) {
    transition: all $animationTimingFast ease-in;

    &:hover,
    &:active {
      transition-timing-function: ease-out;
    }
  }
}

//
//del {
//}
//
//ins {
//
//}
//
//s {
//
//}
//
//sup {
//}
//
//sub {
//}
//
//small {
//}
//
//abbr {
//}
//
//kbd {
//
//}
//
//q {
//}
//
//cite {
//}
//
//dfn {
//}
//
//mark {
//}
//
//code {
//}
//
//samp {
//}
//
//var {
//
//}