<p class="emphasisColor emphasisColor--error">This is what error text looks like</p>
<p class="emphasisColor emphasisColor--valid">This is what valid text looks like</p>
<p class="emphasisColor emphasisColor--warning">This is what warning text looks like</p>
<p class="emphasisColor emphasisColor--information">This is what information text looks like.</p>