/*------------------------------------*\
    #PATTERN LAB BODY
\*------------------------------------*/

/**
* The HTML and body elements for the Pattern Lab shell.
* 1) These exist indepenedent of any project-specific styles
* 2) Styled as IDs to avoid collisions with user <body> tag
*/
.pl-c-body {
  margin: 0;
  padding: 0;
  background-color: $pl-color-gray-13;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
