<input type="text" placeholder="Text Input">
<br><br>
<input type="password" placeholder="Password">
<br><br>
<input type="url" placeholder="Web Address">
<br><br>
<input type="email" placeholder="Email Address">
<br><br>
<input type="search" placeholder="Search">
<br><br>
<input type="tel" placeholder="Telefon">
<br><br>
<input type="checkbox">
<br><br>
<input type="radio">
<br><br>
<textarea rows="8" cols="48" placeholder="Textarea"></textarea>
<br><br>
<select>
  <optgroup label="Option Group">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
  </optgroup>
</select>
<br>

