@mixin placeholder() {
  font-family: $fontSecondary;
  color: $colorBlack;
  letter-spacing: 0.12em;
  transition: color $animationTimingFast ease-out;
  font-weight: 300;
  opacity: 1 !important;
}

@mixin placeholderFocus() {
  color: transparent;
}

input, textarea, select {
  font-family: $fontPrimary;
  padding: .3em;
  font-size: 0.875em;
  border: 1px solid $colorBlack;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

select {
  appearance: none;
  text-transform: none;
}

::-webkit-input-placeholder {
  @include placeholder()
}

::-moz-placeholder {
  @include placeholder();
}

:-moz-placeholder {
  @include placeholder()
}

:-ms-input-placeholder {
  @include placeholder()
}
