<fieldset>
    <div class="field__container">
        <label for="text" class="field__container--label">Text Input <abbr title="Required">*</abbr></label>
        <input id="text" type="text" placeholder="Text Input" class="field__container--input">
    </div>
    <div class="field__container">
        <label for="password" class="field__container--label">Password</label>
        <input id="password" type="password" placeholder="Type your Password" class="field__container--input">
    </div>
    <div class="field__container">
        <label for="webaddress" class="field__container--label">Web Address</label>
        <input id="webaddress" type="url" placeholder="http://yoursite.com" class="field__container--input">
    </div>
    <div class="field__container">
        <label for="emailaddress" class="field__container--label">Email Address</label>
        <input id="emailaddress" type="email" placeholder="name@email.com" class="field__container--input">
    </div>
    <div class="field__container">
        <label for="search" class="field__container--label">Search</label>
        <input id="search" type="search" placeholder="Enter Search Term" class="field__container--input">
    </div>
    <div class="field__container">
        <label for="text" class="field__container--label">Number Input <abbr title="Required">*</abbr></label>
        <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*" class="field__container--input">
    </div>
    <div class="field__container">
        <label for="textarea" class="field__container--label">Textarea</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here" class="field__container--input"></textarea>
    </div>
    <div class="field__container">
        <label class="error field__container--label">Error Input</label>
        <input class="is-error field__container--input" type="text" placeholder="Text Input">
    </div>
    <div class="field__container">
        <label  class="valid field__container--label">Valid</label>
        <input  class="is-valid field__container--input" type="text" placeholder="Text Input">
    </div>
</fieldset>