<div class="checkbox__input">
  <input type="checkbox" id="{{ id }}" placeholder="{{ placeholder }}"
         value="{{ value }}" {{# checked }}checked="checked"{{/ checked }} class="input-checkbox">
</div>