/*------------------------------------*\
    #RESET
\*------------------------------------*/

/**
 * Apply border-box to all elements
 *
 * 1) This is a broadly-applied style that affects every
 * element on the screen. This can bleed into user's styles
 * but since it's been a best practice for years now we're
 * going to default to this.
 */
.pl-c-body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}