<h2 class="cart__headline headlineH2">My shopping bag</h2>

<form class="cart__form">
    <table class="cart__table">
        <thead>
        <tr>
            <th class="cart__table-caption cart__table-caption--product" colspan="2">Product</th>
            <th class="cart__table-caption cart__table-caption--price">Price</th>
            <th class="cart__table-caption cart__table-caption--quantity">Qty</th>
            <th class="cart__table-caption cart__table-caption--actions">Delete</th>
            <th class="cart__table-caption cart__table-caption--total">Total</th>
        </tr>
        </thead>

        <tbody>
        <tr class="cart__table-row">
            <td class="cart__table-cell cart__table-cell--image">
                <a href="#">
                    <img alt="Messenger Bag - Leather / Nylon / Black" src="//cdn.shopify.com/s/files/1/0877/0786/products/horizn_studios-the_belleville_collection-messenger_bag-black-N0_compact.jpg?v=1449771014" />
                </a>
            </td>
            <td class="cart__table-cell cart__table-cell--description">
                <a href="#">
                    <h3>Messenger Bag - Leather / Nylon / Black</h3>
                    <p>€340.00</p>
                </a>
            </td>
            <td class="cart__table-cell cart__table-cell--price">€340.00</td>
            <td class="cart__table-cell cart__table-cell--quantity cart__table-cell--aligned-to-image">
                <input type="text" value="1" name="updates[]">
            </td>
            <td class="cart__table-cell cart__table-cell--actions">
                <a class="cart__table-action icon-x-large" href="#">Remove</a>
            </td>
            <td class="cart__table-cell cart__table-cell--total cart__table-cell--aligned-to-image">€340.00</td>
        </tr>

        <tr class="cart__table-row">
            <td class="cart__table-cell cart__table-cell--image">
                <a href="#">
                    <img alt="The Tote - Vacchetta Leather / Tan" src="//cdn.shopify.com/s/files/1/0877/0786/products/horizn_studios-the_wynwood_collection-the_tote-tan-f-N0_compact.jpg?v=1449858104" />
                </a>
            </td>
            <td class="cart__table-cell cart__table-cell--description">
                <a href="#">
                    <h3>The Tote - Vacchetta Leather / Tan</h3>
                    <p>€590.00</p>
                </a>
            </td>
            <td class="cart__table-cell cart__table-cell--price">€590.00</td>
            <td class="cart__table-cell cart__table-cell--quantity cart__table-cell--aligned-to-image">
                <input type="text" value="1" name="updates[]">
            </td>
            <td class="cart__table-cell cart__table-cell--actions">
                <a class="cart__table-action icon-x-large" href="#">Remove</a>
            </td>
            <td class="cart__table-cell cart__table-cell--total cart__table-cell--aligned-to-image">€590.00</td>
        </tr>
        </tbody>

        <tfoot>
        <tr class="cart__table-row">
            <td colspan="2"></td>
            <td class="cart__table-cell cart__table-cell--legend" colspan="2">Subtotal</td>
            <td class="cart__table-cell cart__table-cell--total" colspan="2">€930.00</td>
        </tr>

        <tr class="cart__table-row cart__table-row--shortened">
            <td colspan="2"></td>
            <td class="cart__table-cell cart__table-cell--update" colspan="2">
                <button class="cart__button button button--secondary">Update</button>
            </td>
            <td class="cart__table-cell cart__table-cell--checkout" colspan="2">
                <button class="cart__button button button--primary">Checkout</button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
