<div class="cart__icon">
    <h2 class="cart__headline headlineH2">Lorem ipsum dolor sit amet, consectetuer adipiscing.</h2>
    <h3 class="cart__headline2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h3>
    <button class="cart__button button button--primary">Shop Women</button>
    <button class="cart__button button button--primary">Shop Men</button>
</div>