<ul class="breadcrumb {{ display_class || 'something else' }}">
    <li class="breadcrumb__item {{ class_first || 'breadcrumb__item--completed' }}">
        <a class="breadcrumb__link" href="http://horizn-studios.com/cart">{{ breadcrumbText_first || 'Lorem Ipsum' }}</a>
    </li>
    <li class="breadcrumb__item {{ class_second || 'breadcrumb__item--current' }}">
        {{ breadcrumbText_second || 'Quis autemn' }}
    </li>
    <li class="breadcrumb__item {{ class_third || 'breadcrumb__item--blank' }}">
        {{ breadcrumbText_third || 'Nam libero tempore' }}
    </li>
    <li class="breadcrumb__item {{ class_fourth || 'breadcrumb__item--blank' }}">
        {{ breadcrumbText_fourth || 'Et harum' }}
    </li>
</ul>