.breadcrumb {
  &__item {
    font-family : $fontPrimary;
    font-size : 0.75rem;
    color : $colorBlack;
    display : inline-block;
    &:last-child {
      &:after {
        display : none;
      }
    }
    &--completed {

    }
    &-current {

    }
    &--blank {
      color : $colorSilverChalice;
      font-weight : 300;
    }

    .icon-svg {
      height: .75em;
      display: inline-block;
      vertical-align: baseline;
    }
  }
}