<table class="product-table">
  <thead>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr class="product">
    <td class="product__image">
      <div class="product__image__inner">
        <span class="product__quantity">1</span>
        <img src="{{ img.placeholder_blockMedia.src }}">
      </div>
    </td>
    <td class="product__description">
      <span class="product__description__name order-summary__emphasis">{{ product_title_first || Mauris acru }}</span>
      <span class="product__description__variant order-summary__small-text">{{ product_description_first || Maecenas / Eget }}</span>
    </td>
    <td class="product__price">
      <span class="order-summary__emphasis">{{ product_price_first || €1.23 }}</span>
    </td>
  </tr>
  <tr class="product">
    <td class="product__image">
      <div class="product__image__inner">
        <span class="product__quantity">8</span>
        <img src="{{ img.placeholder_blockMedia.src }}">
      </div>
    </td>
    <td class="product__description">
      <span class="product__description__name order-summary__emphasis">{{ product_title_second || modi tempora incidunt ut labore }}</span>
      <span class="product__description__variant order-summary__small-text">{{ product_description_second || Nisi ut aliquid / Exea com}}</span>
    </td>
    <td class="product__price">
      <span class="order-summary__emphasis">{{ product_price_second || €9999.99 }}</span>
    </td>
  </tr>
  <tr class="product">
    <td class="product__image">
      <div class="product__image__inner">
        <span class="product__quantity">10</span>
        <img src="{{ img.placeholder_blockMedia.src }}">
      </div>
    </td>
    <td class="product__description">
      <span class="product__description__name order-summary__emphasis">{{ product_title_third || Suspendisse pharetra facilisis vehicula cras amet }}</span>
      <span class="product__description__variant order-summary__small-text">{{ product_description_third || Nam rutrum ipsum  / Dolor sit amet consectetur }}</span>
    </td>
    <td class="product__price">
      <span class="order-summary__emphasis">{{ product_price_third || €660.00 }}</span>
    </td>
  </tr>
  </tbody>
</table>