.product-table {
  thead {
    display: none
  }
}
.product {
  border-top: 1px solid $colorBorder;
  &__image {
    height: 90px;
    &__inner {
      position: relative;
      width: 88px;
      height: 88px;
      line-height: 88px;
      background: $colorWhite;
      border: 1px solid $colorBorder;
    }
    img {
      line-height: 88px;
      vertical-align: middle;
    }
  }
  &__quantity {
    display: block;
    background-color: $colorBlack;
    color: $colorTextInvert;
    border-radius: 2em;
    font-size: 0.85714em;
    line-height: 2em;
    width: 1.8em;
    height: 1.8em;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &__description {
    vertical-align: middle;
    &__name,
    &__variant {
      display: block;
    }
    &__name {
      @include font-primary-light-uppercase();
      margin-bottom : 0.25em;
    }
  }
  &__price {
    vertical-align: middle;
    text-align: right;
    padding-right : 3%;
  }
}