.order-summary__section {
  border-top: 1px solid $colorBorder;
  padding: $checkoutSidebarVerticalPadding $checkoutSidebarHorizontalPadding;
  &--product-list {
    padding: 0;
  }
}

.total-line-table {
  thead {
    display: none
  }
  td {
    border: none;
    padding: 0.25em 0;
  }
}

.total-line {
  line-height: 1em;
  &__price {
    text-align: right;
    @include font-quaternary-lowercase($fontSizeSmall);
  }
  &__name,
  &__price {
    .order-summary__section--total & {
      @include font-quaternary-lowercase($fontSizeSmall);
    }
    .order-summary__small-text {
      font-family: $fontSecondary;
      text-transform: none;
      letter-spacing: 0;
      font-size: 14px;
      line-height: 2em;
    }
    .payment-due__currency {
      display: none;
    }
  }
  &__name {
    @include font-quaternary-lowercase($fontSizeSmall);
    letter-spacing: 0;
    text-transform: none;
  }
}

.applied-reduction-code {
  font-weight: 300;
  font-size: 0.875em;
  svg {
    display: none;
  }
}

.applied-reduction-code__clear-button {
  @include icon('x-small');
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  height: 1.75em;
  width: 2em;
  vertical-align: middle;
  display: inline;
  margin-left: -0.5em;

  &:before {
    color: $colorError;
  }
}
