.order-summary__section {
  border-top: 1px solid $colorBorder;
  padding: 1.25em 3%;
}
.total-line-table {
  thead {
    display: none
  }
  td {
    border: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
.total-line {
  line-height: 1em;
  &__price {
    text-align: right;
    font-family : $fontSecondary;
  }
  &__name,
  &__price {
    .order-summary__section--total & {
      @include font-primary-medium-uppercase();
      font-size: 1.3125em;
    }
    .order-summary__small-text {
      font-family : $fontSecondary;
      text-transform : none;
      letter-spacing : 0;
      font-size : 14px;
      line-height : 2em;
    }
    .payment-due__currency {
      display: none;
    }
  }
  &__name {
    @include font-primary-medium-lowercase();
    letter-spacing : 0;
    text-transform : none;
  }
}

.applied-reduction-code {
  font-weight: 300;
  font-size : 0.875em;
  svg {
    display: none;
  }
}
.applied-reduction-code__clear-button {
  @include icon('x-small');
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  height: 1.75em;
  width: 2em;
  vertical-align: middle;
  display: inline;
  margin-left: -0.5em;

  &:before {
    color : $colorError;
  }
}