.step__footer {
  text-align : center;
  margin : 3em 0 1em;

  @media only screen and (min-width: $breakpointTablet) {
    display : flex;
    flex-direction : row-reverse;
    justify-content : space-between;
    align-items: center;
  }
  &__continue-btn {
    display : block;
    margin : 0 auto 1em;
    min-height : 3em;
    width: 320px;

    @media only screen and (min-width: $breakpointTablet) {
      display : inline-block;
      margin : 0 0 1em;
    }
  }
  &__info, &__previous-link {
    @include font-primary-medium-uppercase();
    font-size : 0.75rem;
    margin-bottom : 1em;
    margin-top: 1em;
    display: inline-block;
    a {
      border-bottom-color: inherit;
    }
    @media only screen and (min-width: $breakpointTablet) {
      margin-top: 0;
      text-align : left;
    }
  }
  &__previous-link {
    position : relative;
    .icon-svg {
      height: .75em;
      display: inline-block;
      vertical-align: baseline;
      padding-right : .5em;
    }
  }
}