<div class="step__footer">
  <a href="#" class="btn step__footer__continue-btn">
    <span class="btn__content">{{ shoppingButtonText || 'Morbi vestibulum facilisis' }}</span>
    <i class="btn__spinner icon icon--button-spinner"></i>
  </a>
  <p class="step__footer__info">
    <i class="icon icon--os-question"></i>
    <span>{{ questionText || 'Maecenas vulputate amet?' }} <a href="#">{{ linkText || 'Pellentesque nec risus mi' }}</a></span>
  </p>
</div>


