<div class="step__footer">
  <button name="button" type="submit" class="btn step__footer__continue-btn" onclick="document.location.href='{{ buttonUrl || # }}';">
    <span class="btn__content">{{ nextButtonText || Pellentessque malesuada }}</span>
    <i class="btn__spinner icon icon--button-spinner"></i>
  </button>
  <a class="step__footer__previous-link" href="{{ linkUrl || # }}">
    <svg class="previous-link__icon icon--chevron icon" xmlns="http://www.w3.org/2000/svg" width="6.7" height="11.3"
         viewBox="0 0 6.7 11.3">
      <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
    </svg>
    {{ prevLinkText || At semper augue nisl vel risus }}</a>
</div>