<div class="section">
    <div class="section__header os-header">
        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" stroke-width="2" class="os-header__hanging-icon os-header__hanging-icon--animate checkmark">
            <path class="checkmark__circle" d="M25 49c13.255 0 24-10.745 24-24S38.255 1 25 1 1 11.745 1 25s10.745 24 24 24z"/>
            <path class="checkmark__check" d="M15 24.51l7.307 7.308L35.125 19"/>
        </svg>
        <div class="os-header__heading">
            <span class="os-order-number">Order #1150457</span>
            <h2 class="os-header__title">Thank you test!</h2>
        </div>
    </div>
</div>