.step__footer {
  text-align : center;
  margin : 3em 0 1em;

  @media only screen and (min-width: $breakpointTablet) {
    display : flex;
    flex-direction : row-reverse;
    justify-content : space-between;
    align-items: center;
  }
  &__continue-btn {
    display : block;
    margin : 0 auto 1em;
    height : 3em;
    padding : 1.35em;
    @media only screen and (min-width: $breakpointTablet) {
      display : inline-block;
      margin : 0 0 1em;
    }
  }
  &__info, &__previous-link {
    @include font-primary-medium-uppercase();
    font-size : 0.75rem;
    margin-bottom : 1em;
    margin-top: 1em;
    display: inline-block;
    a {
      border-bottom-color: inherit;
    }
    @media only screen and (min-width: $breakpointTablet) {
      margin-top: 0;
      text-align : left;
    }
  }
  &__previous-link {
    @include icon('chevron-left');
    position : relative;
    padding-left : 1.25em;
    padding-top: .3em;
    &:before {
      font-size : 1rem;
      position : absolute;
      top : 50%;
      left : 0;
      transform: translateY(-40%);
    }
    .icon--chevron {
      display : none;
    }
  }
}