<div class="section section--shipping-address-recap">
    <div class="section__header">
        <h2 class="section__title">Shipping address</h2>
    </div>
    <div class="section__content">
        <p>
            test test<br>Julie-Wolfthorn-Straße 1<br>10115, Berlin<br>Germany
            <a class="edit-link edit-link--small" href="#">Edit shipping address</a>
        </p>
    </div>
</div>