.section--shipping-address-recap {

  p {
    font-family : $fontSecondary;
  }

  .edit-link {
    display : inline;
    border-bottom : 1px solid $colorNevada;
    @extend %animationTextLinks;
    color : $colorNevada;
    font-size : 0.875em;

    &:before {
      content : '';
      display : block;
      margin : 1em 0 0.5em;
    }
  }
  .section__title {
    @include font-primary-medium-lowercase();
    text-transform: none;
    letter-spacing : 0;
  }
}