<div class="section section--shipping-address-recap">
    <div class="section__header">
        <h2 class="section__title">Shipping address</h2>
    </div>
    <div class="section__content">
      {{> atoms-checkout-address(address.name: address.name, address.street: address.street, address.postal: address.postal, address.town: address.town, address.country: address.country, editLinkText: editLinkText || 'Phasellus et tempor lorem.') }}

    </div>
</div>