<div class="content-box">
    <div class="content-box__row content-box__row--no-border">
        <h2>Customer information</h2>
    </div>
    <div class="content-box__row">
        <div class="section__content">
            <div class="section__content__column section__content__column--half">
                <h3>Shipping address</h3>
                <p>test test<br>Julie-Wolfthorn-Straße 1<br>10115, Berlin<br>Germany</p>
                <h3>Shipping method</h3>
                <p>1. Kostenloser Versand</p>
            </div>
            <div class="section__content__column section__content__column--half">
                <h3>Billing address</h3>
                <p>test test<br>Julie-Wolfthorn-Straße 1<br>10115, Berlin<br>Germany</p>
                <h3>Payment method</h3>
                <ul class="payment-method-list">
                    <li class="payment-method-list__item">
                        <i class="payment-method-list__item__icon payment-icon payment-icon--generic">
                            <span class="visually-hidden">Invoice / Rechnung</span>
                        </i>
                        <span class="payment-method-list__item__info">Invoice / Rechnung —</span>
                        <span class="payment-method-list__item__amount emphasis">€1.23</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>