.content-box {
  p {
    font-family : $fontSecondary;
  }

  h2 {
    margin : 2em 0 0;
    @include font-primary-medium-uppercase(1.3125em);
  }

  h3 {
    @include font-primary-medium-lowercase();
    margin : 2em 0 1.25em;
    letter-spacing : 0;
  }

  .section__content {
    display : block;

    @media only screen and (min-width: $breakpointTablet) {
      display : flex;
      flex-direction : row;
      justify-content : space-between;
    }

    &__column--half {
      @media only screen and (min-width: $breakpointTablet) {
        display : inline-block;
        vertical-align : top;
        min-width : 17.5em;
      }
    }
  }
  .payment-method {
    &-list {
      list-style-type : none;
      position : relative;

      &__item {
        font-family : $fontSecondary;

        &__icon {
          vertical-align: middle;
          margin: -0.25em 0.25em 0 0;
        }
      }
    }
  }

  &__row {
    &--secondary {
      background: $colorAlabaster;
    }
  }
}