.checkout__travelAssistant {
    display : none;

    .page--thank-you & {
        display : block;
        text-align : center;
        margin: 2em auto;
        font-family : $fontSecondary;

        @media only screen and (min-width: $breakpointTablet) {
            margin-right : 0;
            width : 320px;
        }

        &Text {
            max-width : 320px;
            margin : auto;
        }

        .button--primary {
            margin-top : 1em;
            width: 100%;
        }
    }
}

