<div class="alt-payment-list-container">
  <ul class="alt-payment-list ">
    <li class="alt-payment-list__item">
      <a href="#">
        <img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" alt="Paypal" title="Paypal">
      </a>
    </li>
  </ul>
</div>