<div class="checkout__travelAssistant">
    <div class="checkout__travelAssistantText">{{ text || headline.medium || 'LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.' }}</div>
    <a href="#" class="button button--primary">{{ textButton || headline.mini || 'Primary Button' }}</a>
</div>