<div class="checkout__travelAssistant">
    <div class="checkout__travelAssistantText">{{ text || headline.medium || 'LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.' }}</div>
    <button class="button--primary">{{ textButton || headline.mini || 'Primary Button' }}</button>
</div>