<div class="content-box">
  <div class="content-box__row content-box__row--no-padding">
    <div data-mapbox="" data-token="pk.eyJ1Ijoic2hvcGlmeSIsImEiOiJRS1hjczRZIn0.-QXj2pCqs2oirQ6KaP0c1A"
         class="map leaflet-container leaflet-fade-anim" style="position: relative;" tabindex="0">
      <div data-lng="13.411325454711914" data-lat="52.52068328857422" data-marker="true" data-type="shipping"
           style="display: none;"><span class="small-text">Shipping address</span><br>
      <span class="emphasis">
          Test
      </span>
      </div>
      <div class="leaflet-map-pane" style="transform: translate(-3px, 0px);">
        <div class="leaflet-tile-pane">
          <div class="leaflet-layer">
            <div class="leaflet-tile-container"></div>
            <div class="leaflet-tile-container leaflet-zoom-animated"><img class="leaflet-tile leaflet-tile-loaded"
                                                                           style="height: 256px; width: 256px; transform: translate(249px, -49px);"
                                                                           src="https://b.tiles.mapbox.com/v4/mapbox.streets/13/4401/2686.png?access_token=pk.eyJ1Ijoic2hvcGlmeSIsImEiOiJRS1hjczRZIn0.-QXj2pCqs2oirQ6KaP0c1A"><img
                class="leaflet-tile leaflet-tile-loaded"
                style="height: 256px; width: 256px; transform: translate(-7px, -49px);"
                src="https://a.tiles.mapbox.com/v4/mapbox.streets/13/4400/2686.png?access_token=pk.eyJ1Ijoic2hvcGlmeSIsImEiOiJRS1hjczRZIn0.-QXj2pCqs2oirQ6KaP0c1A"><img
                class="leaflet-tile leaflet-tile-loaded"
                style="height: 256px; width: 256px; transform: translate(505px, -49px);"
                src="https://a.tiles.mapbox.com/v4/mapbox.streets/13/4402/2686.png?access_token=pk.eyJ1Ijoic2hvcGlmeSIsImEiOiJRS1hjczRZIn0.-QXj2pCqs2oirQ6KaP0c1A">
            </div>
          </div>
        </div>
        <div class="leaflet-objects-pane">
          <div class="leaflet-shadow-pane"></div>
          <div class="leaflet-overlay-pane"></div>
          <div class="leaflet-marker-pane">
            <div class="leaflet-marker-icon shipping-location-indicator leaflet-zoom-animated leaflet-clickable"
                 style="margin-left: -9px; margin-top: -11.5px; width: 18px; height: 23px; transform: translate(296px, 100px); z-index: 100;"
                 tabindex="0"></div>
          </div>
          <div class="leaflet-popup-pane">
            <div class="leaflet-popup  leaflet-zoom-animated"
                 style="opacity: 1; transform: translate(296px, 100px); bottom: -7px; left: -81px;">
              <div class="leaflet-popup-content-wrapper">
                <div class="leaflet-popup-content" style="width: 161px;"><span
                    class="small-text">Shipping address</span><br>
                <span class="emphasis">
                    Test
                </span>
                </div>
              </div>
              <div class="leaflet-popup-tip-container">
                <div class="leaflet-popup-tip"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-left">
          <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#"
                                                                           title="Zoom in">+</a><a
              class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a></div>
        </div>
        <div class="leaflet-top leaflet-right">
          <div class="leaflet-control-grid map-tooltip leaflet-control" style="display: none;"><a class="close" href="#"
                                                                                                  title="close">close</a>

            <div class="map-tooltip-content"></div>
          </div>
        </div>
        <div class="leaflet-bottom leaflet-left">
          <div class="mapbox-logo leaflet-control"></div>
        </div>
        <div class="leaflet-bottom leaflet-right">
          <div class="map-legends wax-legends leaflet-control" style="display: none;"></div>
          <div class="leaflet-control-attribution leaflet-control leaflet-compact-attribution"><a target="_blank"
                                                                                                  href="https://www.mapbox.com/about/maps/">&copy;
            Mapbox</a> <a target="_blank" href="https://openstreetmap.org/about/">&copy; OpenStreetMap</a> <a
              target="_blank" href="https://www.mapbox.com/map-feedback/#mapbox.streets/13.411/52.521/13"
              class="mapbox-improve-map">Improve this map</a></div>
        </div>
      </div>
    </div>
  </div>
</div>