.order-summary-toggle {
  display: block;
  width: 100%;
  background: $colorAlabaster;
  border: 0 solid $colorSilver;
  border-top-width: 1px;
  cursor: pointer;
  line-height: 1.5em;
  font-family: $fontPrimary;
  font-size: $fontSizeSlightlyLarger;

  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0 none;
  }

  &__inner {
    max-width: $maxTabletWidth;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75em $checkoutFlexiblePadding;
    .order-summary-toggle__total-recap {
      padding-right: $checkoutSidebarHorizontalPadding;
    }
    .order-summary-toggle__icon-wrapper {
      padding-left: $checkoutSidebarHorizontalPadding;
    }
  }

  &__icon {
    display : none;
  }

  &__text {
    @include icon(bag);
    display: none;
    flex: 1;
    text-align: left;
    padding-right: 1.5em;

    &:before {
      padding: 0.5em;
    }
  }

  &--show &__text--show,
  &--hide &__text--hide {
    display: block;
  }

  &__icon-wrapper,
  &__total-recap {
    flex: none;
  }
}