.order-summary-toggle {
  display:block;
  width:100%;
  background:$colorAlabaster;
  border:0 solid $colorSilver;
  border-top-width:1px;
  padding:0;
  cursor:pointer;
  line-height:1.5em;
  font-family: $fontPrimary;
  font-size:$fontSizeSlightlyLarger;

  &:focus {
    outline:none;
  }
  &::-moz-focus-inner {
    border:0 none;
  }

  &__inner {
    max-width:($breakpointTablet + (($breakpointDesktop - $breakpointTablet) / 2));
    margin:0 auto;
    padding:0.75em;
    display:flex;
    flex-flow:row nowrap;
  }

  &__text {
    display:none;
    flex:1;
    text-align:left;
    padding:0 1.5em;
  }

  &--show &__text--show,
  &--hide &__text--hide {
    display:block;
  }

  &__icon-wrapper,
  &__total-recap {
    flex:none;
  }
}