<div class="patternlab">
    <!-- code is taken from shopify checkout, because it cannot be altered -->
    <button class="order-summary-toggle order-summary-toggle--show" data-toggle-class="order-summary-toggle--show order-summary-toggle--hide && order-summary--is-expanded order-summary--is-collapsed : [data-order-summary]">
        <div class="wrap">
            <div class="order-summary-toggle__inner">
                <div class="order-summary-toggle__icon-wrapper">
                    <svg class="order-summary-toggle__icon" xmlns="http://www.w3.org/2000/svg" height="19" width="20">
                        <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"/>
                    </svg>
                </div>
                <div class="order-summary-toggle__text order-summary-toggle__text--show">
                    <span>Show order summary</span>
                    <svg fill="#000" class="order-summary-toggle__dropdown" xmlns="http://www.w3.org/2000/svg" height="6" width="11"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"/></svg>
                </div>
                <div class="order-summary-toggle__text order-summary-toggle__text--hide">
                    <span>Hide order summary</span>
                    <svg fill="#000" class="order-summary-toggle__dropdown" xmlns="http://www.w3.org/2000/svg" height="7" width="11"><path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"/></svg>
                </div>
                <div class="order-summary-toggle__total-recap total-recap">
                    <span class="total-recap__final-price">€590.00</span>
                </div>
            </div>
        </div>
    </button>
</div>