<div class="content-box__row">
    <h2 class="os-step__title">Your order is confirmed</h2>
    <p class="os-step__description">
        We've accepted your order, and we're getting it ready. A confirmation email has been sent to <span class="emphasis">marimar.hollenbach@project-a.com</span>. Come back to this page for updates on your order status.
    </p>
</div>