/*------------------------------------*\
    #PATTERN STATES
\*------------------------------------*/

/**
* Pattern states add color-coded dots next to patterns
* in the dropdown navigation.
*/
.pl-c-pattern-state {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    left: 0;
    border-radius: 50%;
    background: $pl-color-state-info;
    line-height: 4px;
    text-indent: 10px;

    &--complete {
        background: $pl-color-state-complete;
    }

    &--inreview {
        background: $pl-color-state-inreview;
    }

    &--deprecated {
        background: $pl-color-state-deprecated;
    }
}

/**
* Complete state
*/
.complete:before {
    color: #03790F !important;
}
