<div class="magazine__articleSummary">
    <div class="magazine__articleSummary__text">
        <div class="magazine__articleSummary__date">{{ headline.mini }}</div>
        <h2 class="headlineGroup__headline--alt">{{ headline.mini }}:<br>{{ headline.short }}</h2>
        <h3 class="headlineGroup__subHeadline magazine__articleSummary__readMore">&#8594; {{ headline.mini }}</h3>
    </div>
    <div class="magazine__articleSummary__image">{{> atoms-landscape-4x3 }}</div>
</div>