<div class="magArticle">
    <div class="magArticle__text">
        <div class="magArticle__date">{{ headline.mini }}</div>
        <h2 class="headlineGroup__headline--alt">{{ headline.mini }}:<br>{{ headline.short }}</h2>
        <h3 class="headlineGroup__subHeadline magArticle__readMore">&#8594; {{ headline.mini }}</h3>
    </div>
    <div class="magArticle__image">{{> atoms-landscape-4x3 }}</div>
</div>