.magArticle__summary {
  text-align : center;

  @media only screen and (min-width : $breakpointTablet) {
    display : flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    border-top : 1px solid $colorSilver;
    border-bottom : 1px solid $colorSilver;

    .magArticle {
      &__image {
        margin-left : $marginMini;
        width : 50%;
      }
      &__text {
        @media only screen and (min-width : $breakpointTablet) {
          margin-left : 0;
          width : 50%;
        }
      }
    }
  }

  .headlineGroup {
    &__headline--alt {
      margin-bottom : $marginMini;

      @media only screen and (min-width : $breakpointTablet) {
        margin-bottom : $marginStandard;
      }
    }

    &__subHeadline {
      margin-bottom : $marginMini;

      @media only screen and (min-width : $breakpointTablet) {
        margin-bottom : 0;
      }
    }
  }
}

.magArticle {
  &__text {
    margin-right : $marginMini;
    margin-left : $marginMini;
  }

  &__date {
    @include font-secondary-medium-lowercase(0.875em);
    margin-bottom : $marginMini;
  }
  &__readMore {
    color: $colorTussock;
  }
}
