<div class="checkout">
  <div class="checkout__wrapper">
    <div class="checkout__header-container">
      {{> organisms-checkout-header }}
      {{> molecules-checkout-content-toggle }}
    </div>

    <div role="main" class="checkout__content">
      {{> organisms-checkout-header(show_breadcrumbs: true, class_second: 'breadcrumb__item--completed', class_third: 'breadcrumb__item--current', breadcrumbText_first: 'Cart', breadcrumbText_second: 'Customer information', breadcrumbText_third: 'Shipping method', breadcrumbText_fourth: 'Payment method') }}

      {{> molecules-checkout-customer-address(address.name: 'Max Mustermann', address.street: 'Gartenstraße 44', address.postal: '12345', address.town: 'Berlin', address.country: 'Germany', editLinkText: 'Edit shipping address') }}
      {{> organisms-checkout-form-shipping-method(sectionTitleText: 'Shipping method',  radio.first.label: '1. Kostenloser Versand', radio.second.label: '2. Kostenlose Abholung im Store (Alte Schönhauer Str. 33-34, 10119 Berlin)') }}

      {{> molecules-checkout-step-footer-next(prevLinkText: 'Return to customer information', nextButtonText: 'Continue to payment method') }}
      {{> organisms-checkout-main-footer(firstItemText: 'Privacy policy', secondItemText: 'Refund policy', thirdItemText: 'Terms of service') }}
    </div>

    <aside class="checkout__sidebar">
      <div class="checkout__sidebar-container">
        {{> organisms-checkout-sidebar }}
      </div>
    </aside>
  </div>
</div>