<div class="checkout">
    <div class="checkout__wrapper">
        <div class="checkout__header-container">
            {{> organisms-checkout-header }}
            {{> molecules-checkout-content-toggle }}
        </div>

        <div role="main" class="checkout__content">
            {{> organisms-checkout-header }}


            {{> organisms-checkout-form-payment-method }}

            <div class="section section--optional">
                <div class="section__content">
                    {{> molecules-checkbox-mixin(id: 'molecules-checkbox-mixin234', label : 'Subscribe to our newsletter ' ) }}
                </div>
            </div>

            {{> molecules-checkout-step-footer-next(prevLinkText: 'Return to shipping method', nextButtonText: 'Complete order') }}
            {{> organisms-checkout-main-footer(firstItemText: 'Privacy policy', secondItemText: 'Refund policy', thirdItemText: 'Terms of service') }}
        </div>

        <aside class="checkout__sidebar">
            <div class="checkout__sidebar-container">
                <div class="order-summary order-summary--is-collapsed" data-order-summary data-set-by-height="-margin-top">
                    {{> organisms-checkout-price-header }}

                    {{> molecules-checkout-product-table }}
                    {{> organisms-checkout-voucher-form }}
                    {{> molecules-checkout-total-line-table }}

                    {{> organisms-checkout-price-footer }}
                </div>
            </div>
        </aside>
    </div>
</div>