<div class="checkout">
    <div class="checkout__wrapper">
        <div class="checkout__header-container">
            {{> organisms-checkout-header }}
            {{> molecules-checkout-content-toggle }}
        </div>

        <div role="main" class="checkout__content">
            {{> organisms-checkout-header }}

            {{> molecules-checkout-status }}
            {{> molecules-checkout-map(popWindowHeadline: 'Shipping method', popWindowContent, 'Test') }}
            {{> molecules-checkout-customer-information(address.name: 'Max Mustermann', address.street: 'Gartenstraße 44', address.postal: '12345', address.town: 'Berlin', address.country: 'Germany' ) }}
            {{> molecules-checkout-step-footer-continue-shopping(shoppingButtonText: 'Continue shopping', questionText: 'Need help?', linkText: 'Contact us') }}
            {{> organisms-checkout-main-footer(firstItemText: 'Privacy policy', secondItemText: 'Refund policy', thirdItemText: 'Terms of service') }}
        </div>

        <aside class="checkout__sidebar">
            <div class="checkout__sidebar-container">
                <div class="order-summary order-summary--is-collapsed" data-order-summary data-set-by-height="-margin-top">
                    {{> organisms-checkout-price-header(headerText_first: 'Secure Payment', headerText_second: 'Free shipping & Return', trustedShops_description: 'Authorized Partner' ) }}

                    {{> molecules-checkout-product-table(product_title_first: 'Weekender', product_description_first: 'Nappa Leather / Black', product_price_first: '€450.00', product_title_second: 'The Tote', product_description_second: 'Vacchetta Leather / Tan', product_price_second: '€590.00', product_title_third: 'iPhone 6 Plus Sleeve', product_description_third: 'Full-Grain Leather / Red', product_price_third: '€70.00', ) }}
                    {{> molecules-checkout-total-line-table }}

                    {{> organisms-checkout-price-footer(footerText.first: 'Finest Italian leather', footerText.second: 'Free Travel Assistent Service', footerText.third: 'Smart Technology') }}
                </div>
            </div>
        </aside>
    </div>
</div>