<table class="table">
  <thead class="table__header">
      <tr>
        <th class="table__cell">{{headline.short}}</th>
        <th class="table__cell">{{headline.short}}</th>
        <th class="table__cell">{{headline.short}}</th>
        <th class="table__cell">{{headline.short}}</th>
      </tr>
  </thead>
  <tbody class="table__body">
      <tr>
        <td class="table__cell">{{excerpt.short}}</td>
        <td class="table__cell">{{excerpt.short}}</td>
        <td class="table__cell">{{excerpt.short}}</td>
        <td class="table__cell">{{excerpt.short}}</td>
      </tr>
  </tbody>
</table>