table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

th,
td {
  text-align: left;
  padding: 20px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
th {
  @include font-primary-light();
  vertical-align: bottom;
  padding-bottom: 5px;
}


td {
  border-top: 1px solid $colorSilver;
}


