<table>
  <thead>
  <tr>
    <th>{{headline.short}}</th>
    <th>{{headline.short}}</th>
    <th>{{headline.short}}</th>
    <th>{{headline.short}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{excerpt.short}}</td>
    <td>{{excerpt.short}}</td>
    <td>{{excerpt.short}}</td>
    <td>{{excerpt.short}}</td>
  </tr>
  </tbody>
</table>