.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;

  &__cell {
    text-align: left;
    //
    padding: 20px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    //
  }

  &__header &__cell {
    @include font-primary-light-uppercase();
    vertical-align: bottom;
    padding-bottom: 5px;
  }

  &__body &__cell {
    border-top: 1px solid $colorSilver;
    vertical-align: top;
  }
}


