<div class="blockMedia">
    <div class="blockMedia__image">
      {{> atoms-square }}
    </div>
    <div class="blockMedia__text">
        <h1 class="headlineGroup__headline">{{ headline.mini }}</h1>
        <span class="headlineGroup__subHeadline">{{ headline.short  }}</span>
        <p>{{ excerpt.medium }}</p>
    </div>
</div>