<div class="blockWrapper">
    <div class="columns {{ class || ''}}">
        <div class="block columns__column {{#isCentered}}{{/isCentered}}">
            {{> molecules-figure-with-caption }}
        </div>
        <div class="block columns__column">
            <div class="blockMedia__text">
                <div class="headlineGroup">
                    <h1 class="headlineGroup__headline">{{ headline.mini }}</h1>
                    <div class="headlineGroup__subHeadline">The image in this Block Media is never cropped</div>
                </div>
                <p class="blockMedia__text__content">This example becomes one column on a medium viewport {{ excerpt.medium }}</p>
                <p class="blockMedia__text__content">This example becomes one column on a medium viewport {{ excerpt.medium }}</p>
                <p class="blockMedia__text__content">This example becomes one column on a medium viewport {{ excerpt.medium }}</p>
                <p class="blockMedia__text__content">This example becomes one column on a medium viewport {{ excerpt.medium }}</p>
                {{# displayVcard }}{{> molecules-vcard }}{{/ displayVcard }}
            </div>
        </div>
    </div>
</div>