<div class="blockBanner">
  <a href="#" class="blockBanner__inner">
    <div class="blockBanner__image">
      {{> atoms-landscape-18x5 }}
    </div>
    <div class="blockBanner__text">
        <h1>{{ headline.mini }}</h1>
    </div>
  </a>
</div>