
.blockBanner {
  position : relative;
  margin : 0 auto 2.75em;
  text-align : center;
  &__inner {

  }
  &__image {
    width : 100%;
  }
  &__text {
    @include font-primary-bold-uppercase();
    font-size : 1.3125em;
    margin-top : -10px;
    display : block;
    text-align : center;
    color : $colorWhite;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width : 100%;

    @media only screen and (min-width: $breakpointTablet) {
      margin-top : -20px;
      font-size : 2.1428571429em;
    }
    &:after {
      width: 55px;
      height: 20px;
      border-bottom: 3px solid $colorWhite;
      position: absolute;
      content: "";
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
