.blockBanner {
  position : relative;
  margin : 0 auto;
  text-align : center;

  &__image {
    width : 100%;
  }

  &__text {
    @include font-primary-bold-uppercase();
    font-size : 1.3125em;
    display : block;
    text-align : center;
    width : 100%;
    position : relative;
    margin-top : $marginStandard;
    margin-bottom : $marginStandard;

    @media only screen and (min-width: $breakpointTablet) {
      font-size : 2.1428571429em;
    }

    &:after {
      width: 55px;
      height: 20px;
      border-bottom: 3px solid $colorWhite;
      position: absolute;
      content: "";
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .blockBanner__text {
    margin-top : -10px;
    margin-bottom : 0;
    color : $colorWhite;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);

    @media only screen and (min-width: $breakpointTablet) {
      margin-top : -20px;
    }

    &--noImage {
      &:after {
        border-color : $colorBlack;
      }
    }
  }
}
