<div class="blockBanner">
  <a href="#" class="blockBanner__inner">
    <div class="blockBanner__image">
      {{> atoms-landscape-18x5 }}
    </div>
    <div class="blockBanner__text">
      <h2 class="headlineH2 blockBanner__text--headline">{{ headline.mini }}</h2>
      <div class="blockBanner__text--tagline">{{ excerpt.mini }}</div>
    </div>
  </a>
</div>