<div class="blockMedia">
  <a href="#" class="blockMedia__inner">
    <div class="blockMedia__image">
      {{> atoms-square }}
    </div>
    <div class="blockMedia__text">
      <h2 class="headlineH2">{{ headline.short }}</h2>
      <p>{{ excerpt.medium }}</p>
    </div>
  </a>
</div>