<div class="blockBanner">
  <a href="#" class="blockBanner__inner">
    <div class="blockBanner__image">
      {{> atoms-landscape-16x9 }}
    </div>
    <div class="blockBanner__text">
      <h2 class="headlineH2">{{ headline.short }}</h2>
      <p>{{ excerpt.small }}</p>
    </div>
  </a>
</div>