.blockMedia {
  &__verticallyCentered {
    @media only screen and (min-width : $breakpointDesktop) {
      display : flex;
      align-items: center;
    }
  }

  &--display {
    flex-direction : row-reverse;
    .blockMedia__text {
      text-align : center;
      p {
        @include font-fira-light(1.063em);
      }
      @media only screen and (min-width : $breakpointDesktop) {
        text-align : right;
        max-width : 100%;
      }
    }

    &--reverse {
      @media only screen and (min-width : $breakpointDesktop) {
        flex-direction: inherit;
        .blockMedia__text {
          text-align : left;
        }
      }
    }

    &--croppedMedia {
      @media only screen and (max-width : $breakpointTabletEnd) {
        .image__wrapper {
          height : 300px;
          overflow : hidden;

          .image {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  &__text {
    padding : 0 $marginMini;
    h6 {
      margin-bottom: 1em;
      @include font-fira-medium(1.063em);
    }
    @media only screen and (min-width : $maxWidthLayout) {
      padding : 0;
    }
  }

  .vCard {
    text-align : center;
    margin-top : $marginMini;
  }
}
