<div class="block blockMedia">
    <div class="blockMedia__text">
        <div class="headlineGroup">
            <h1 class="headlineGroup__headline">{{ headline.mini }}</h1>
            <div class="headlineGroup__subHeadline">The image in this Block Media is never cropped</div>
        </div>
        <p class="blockMedia__text__content">This example becomes one column on a medium viewport {{ excerpt.medium }}</p>
        {{# displayVcard }}{{> molecules-vcard }}{{/ displayVcard }}
    </div>
    <div class="blockMedia__image">
        {{> atoms-landscape-4x3() }}
    </div>
</div>

<div class="block blockMedia blockMedia--alignRight">
    <div class="blockMedia__text">
        <div class="headlineGroup">
            <h1 class="headlineGroup__headline">{{ headline.mini }}</h1>
            <div class="headlineGroup__subHeadline">The image in this Block Media is never cropped</div>
        </div>
        <p class="blockMedia__text__content">This example becomes one column on a medium viewport {{ excerpt.medium }}</p>
        {{# displayVcard }}{{> molecules-vcard }}{{/ displayVcard }}
    </div>
    <div class="blockMedia__image">
        {{> atoms-landscape-4x3() }}
    </div>
</div>