.blockBanner {
  position : relative;
  margin-bottom : 2.75em;
  &__inner {

  }
  &__image {
  }

  &__text {
    margin-top : -20px;
    display : block;
    text-align : center;
    font-weight : 900;
    color : $colorWhite;
    text-transform : uppercase;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width : 100%;
    &--headline {
      font-size : 21px;
      @media screen and (min-device-width: $breakpointDesktop) {
        font-size : 45px;
      }
    }
    &:after {
      width: 55px;
      height: 20px;
      border-bottom: 3px solid $colorWhite;
      position: absolute;
      content: "";
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}