<div class="blockMedia">
    <div class="blockMedia__text">
        <h1 class="headlineGroup__headline patternlab">{{ headline.mini }}</h1>
        <div class="headlineGroup__subHeadline patternlab">This example becomes one column on a medium viewport</div>
        <p>{{ excerpt.medium }}</p>
    </div>
    <div class="blockMedia__image blockMedia__image--cropped">
        {{> atoms-landscape-4x3 }}
    </div>
</div>