.blockText {
  text-align : center;
  max-width : $textBlockMaxWidth;
  margin : 0 auto;
  padding-right : $paddingMini;
  padding-left : $paddingMini;
  p {
    @include font-fira-light();
    font-size: 1.063em;
  }
  @media only screen and (min-width: $breakpointDesktop) {
    padding-right : 0;
    padding-left : 0;
  }

  &__body--base {
    text-align : left;

    h2 {
      @include font-primary-medium-uppercase();
      padding-top : $paddingMini;
      padding-bottom : $paddingMini;
    }
  }
}
