.blockInfo {
  padding : $paddingStandard $paddingMini;
  background-color : $colorGallery;
  text-align : center;


  @media only screen and (min-width: $breakpointTablet) {
    padding : $paddingStandard;
  }
  //
  //@media only screen and (min-width : $maxWidthLayout) {
  //  margin : 0 $marginMini;
  //}

  &:before {
    display : block;
    font-size : 3.5em;
    margin: 0 auto 0.5em;

  }
  .headlineH3 {
    max-width : $textBlockMaxWidth;
    margin: 0 auto;
  }
}