.blockInfo {
  padding : $paddingStandard $paddingMini;
  background-color : $colorGallery;
  text-align : center;
  margin-bottom: $marginStandard;

  @media only screen and (min-width: $breakpointDesktop) {
    padding : ($paddingStandard + $paddingMini) $paddingStandard;
  }

  &:before {
    display : block;
    font-size : 3.5em;
    margin: 0 auto 0.5em;

  }
  .headlineH3 {
    max-width : $textBlockMaxWidth;
    margin: 0 auto;
  }
}