.blockMultimedia {
  justify-content : center;
  margin-right : auto;
  margin-left: auto;

  .columns__column {
    max-width: 37.5em;
    margin-right: auto;
    margin-left: auto;


    @media only screen and (min-width: $breakpointDesktop) {
      padding-right: $paddingMini;
      padding-left: $paddingMini;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &--product {
    text-align:center;

    .image {
      overflow:hidden;
      position:relative;
      margin-bottom:$paddingMini;

      &:only-child {
        margin-bottom:0;
      }

      .button {
        position:absolute;
        left:50%;
        top:50%;
        z-index:0;
        transform:translateX(-50%) translateY(-50%);
        white-space:nowrap;
      }
    }

    &.columns {
      @media only screen and (min-width: $breakpointMobile) {
        display : flex;
        padding-left : $paddingMini;
        padding-right: $paddingMini;
        margin-right : auto;
        margin-left: auto;
      }

      @media only screen and (min-width : $breakpointTablet) {
        margin-left : -$marginMini;
        margin-right : -$marginMini;
      }
    }

    .columns__column {
      max-width: 37.5em;
      @media only screen and (min-width: $breakpointMobile) {
        width: 33%;
        display : flex;
        flex-direction : column;
        justify-content: space-between;
      }

      @media only screen and (min-width: $breakpointTablet) {
        padding-right: $paddingMini;
        padding-left: $paddingMini;

        &:first-child {
          padding-left: $paddingMini;
        }

        &:last-child {
          padding-right: $paddingMini;
        }
      }

      @media only screen and (min-width: $breakpointDesktop) {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}