<!-- Block Product -->
<div class="columns blockMultimedia blockMultimedia--product">
    <!--To do: make it DRY!-->
    <div class="block columns__column">
        <figure class="figureWithCaption">
            <div class="image">
                {{> atoms-square }}
            </div>
            <h3>Vestibulum ante ipsum primis</h3>
            <p>Duis lobortis massa imperdiet quam</p>
            <a href="#" class="anchorCTA">&#8594; Donec mollis hendrerit</a>
        </figure>
    </div>
    <div class="block columns__column">
        <figure class="figureWithCaption">
            <div class="image">
                {{> atoms-square }}

                <div class="button__area">
                    <button class="button button--contrastive">some big CTA</button>
                </div>
            </div>
            <h3>Vestibulum ante ipsum primis</h3>
            <p>Duis lobortis massa imperdiet quam</p>
            <a href="#" class="anchorCTA">&#8594; Donec mollis hendrerit</a>
        </figure>
    </div>
    <div class="block columns__column">
        <figure class="figureWithCaption">
            <div class="image">
                {{> atoms-square }}
            </div>
            <h3>Vestibulum ante ipsum primis</h3>
            <p>Duis lobortis massa imperdiet quam</p>
            <a href="#" class="anchorCTA">&#8594; Donec mollis hendrerit</a>
        </figure>
    </div>
</div>