<div class="columns blockMultimedia">
    <div class="block columns__column">
        {{> molecules-figure-with-caption }}
    </div>
    <div class="block columns__column">
        {{> molecules-figure-with-caption }}
    </div>
    <div class="block columns__column">
        {{> molecules-figure-with-caption }}
    </div>
</div>