.blockQuote {
  &__verticallyCentered {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pullQuote {
    @include font-fira-italic(1.500em);
    padding : 0 $marginMini;

    @media only screen and (min-width : $breakpointDesktop) {
      padding : 0;
    }
  }

  &__citation {
    @include font-tertiary-heavy($fontSizeSmall);
    text-transform: uppercase;
  }
}
