<div class="blockWrapper blockQuote">
    <div class="columns {{ class || ''}}">
        <div class="block columns__column blockQuote__verticallyCentered">
            {{> atoms-block-elements(blockquote: true) }}
            <div class="blockQuote__citation">—{{ headline.mini }}</div>
        </div>
        <div class="block columns__column blockQuote__verticallyCentered">
            {{> molecules-figure-with-caption }}
        </div>
    </div>
</div>