$default-figure-h3-width: 30%;
$default-figure-h3-left: 35%;

.blockMultimediaGrid {
  -webkit-transition: visibility .2s ease;
  -moz-transition: visibility .2s ease;
  transition: all .2s ease;
  justify-content : center;
  margin-right : auto;
  margin-left: auto;
  &.visible {
    visibility: visible;
  }

  @media only screen and (min-width: $breakpointMobile) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  @media only screen and (min-width: $breakpointTablet) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-right: $paddingMini;
    margin-left: $paddingMini;
  }
  @media only (min-width: $breakpointTablet) and (max-width: $breakpointDesktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: hidden;
  }
  @media only screen and (min-width: $breakpointDesktop) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-right : auto;
    margin-left: auto;
  }
  > figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      &:first-child {
        margin-right: $paddingMini !important;
      }
    }
  }
  .columns__column {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .block {
    margin-bottom: $paddingMini / 1.3;
    &.flex-grow-two {
      flex-grow: 2;
    }
    > figure {
      position: relative;
    }
    &.text {
      &-black {
        color: $colorBlack;
        border-color: $colorBlack;
        a {
          @media only (min-width: $breakpointTablet) {
            &:hover {
              color: $colorWhite;
              border-color: $colorWhite;
              h3 {
                &:before {
                  color: $colorWhite;
                  border-color: $colorWhite;
                }
              }
            }
          }
        }
      }
      &-white {
        color: $colorWhite;
        border-color: $colorWhite;
      }
    }
    a {
      color: inherit;
      border-color: inherit;
      position: relative;
      img {
        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        transition: all .3s ease;

        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -o-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
        column-break-inside: avoid;
        -webkit-backface-visibility: hidden;
      }
      figure {
        color: inherit;
        border-color: inherit;
        position: relative;
        h3 {
          text-transform: uppercase;
          width: 100%;
          color: inherit;
          border-color: inherit;
          font-size: $fontSizeSlightlySmaller;
          display:inline-block;
          @media only (max-width: $breakpointTablet) {
            padding-bottom: $paddingMini;
          }
          @media only screen and (min-width: $breakpointTablet) {
            -webkit-transition: opacity .3s ease;
            -moz-transition: opacity .3s ease;
            transition: all .3s ease;
            margin-top: -38px;
            opacity: 0;
            position: absolute;
            left: 0;
          }
          @media only (min-width: $breakpointTablet) and (max-width: $breakpointDesktop) {
            font-size: 1.2vw;
          }
          &:before {
            content: '';
            border-top: 2px solid;
            border-color: inherit;
            position: absolute;
            display: table;
            width: $default-figure-h3-width;
            margin-left: $default-figure-h3-left;
            bottom: 35px;
            opacity: 0;
            -webkit-transition: opacity .3s ease;
            -moz-transition: opacity .3s ease;
            transition: all .3s ease;
            @media only (min-width: $breakpointTablet) and (max-width: $breakpointDesktop) {
              bottom: 25px;
            }
          }
        }
      }
      &:hover {
        @media only (min-width: $breakpointTablet) {
          img {
            opacity: .6;
            transform: scale(1.2);
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
          }
          figure {
            background-color: $colorBlack;
            h3 {
              &:before {
                opacity: 1;
              }
              opacity: 1;
            }
          }
          .anchorCTA {
            opacity: 0;
          }
        }
      }
      .anchorCTA {
        color: inherit;
        width: 100%;
        display: table;
        font-size: $fontSizeSlightlySmaller;
        display:inline-block;
        width:100%;
        padding: $paddingMini 0 0;
        @media only (min-width: $breakpointTablet) {
          font-size: 1.2vw;
          position: absolute;
          bottom: 1.5vw;
          left: 0;
          padding: 0;
        }
      }
    }
  }
  &--product {
    text-align:center;
    .image {
      overflow: hidden;
      position: relative;
    }
    .button__area {
      @media only screen and (max-width: $breakpointTablet) {
        color: $colorBlack;
        button {
          &.white {
            border-color: $colorBlack;
            color: inherit;
            &:hover {
              border-color: $colorWhite;
            }
          }
        }
      }
      @media only screen and (min-width: $breakpointTablet) {
        padding:$paddingMini / 2;
        position:absolute;
        color: inherit;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display:flex;
        flex-flow:column nowrap;
        justify-content:center;
        align-items:center;
      }
      @media only screen and (max-width: $breakpointTablet) {
        padding-top: $paddingMini;
      }
    }
    &.columns {
      @media only screen and (min-width: $breakpointMobile) {
        display : flex;
        padding-left : $paddingMini;
        padding-right: $paddingMini;
        margin-right : auto;
        margin-left: auto;
      }
      @media only screen and (min-width : $breakpointTablet) {
        margin-left : -$marginMini;
        margin-right : -$marginMini;
      }
    }
  }
}
