<div class="blockWrapper">
    <div class="blockMultimediaGrid blockMultimediaGrid--product">


       <div class="block columns__column">
                <a href="Image 1 link (URL)">
                <figure>
            <div class="image">
                  {{> atoms-square }}

                                    <div class="button__area">
                        <button class="button button--contrastive">Image 1 CTA (button)</button>
                    </div>
                            </div>
                                </figure>
                        </a>
            </div>
        <div class="block columns__column">
                <a href="Image 2 link (URL)">
                <figure>
            <div class="image">
                  {{> atoms-square }}

                                    <div class="button__area">
                        <button class="button button--contrastive">Image 2 CTA (button)</button>
                    </div>
                            </div>
                    </figure>
                        </a>
            </div>
        <div class="block columns__column">
                <a href="Image 3 link (URL)">
                <figure>
            <div class="image">
                  {{> atoms-square }}

                            </div>
                                </figure>
                        </a>
            </div>
        <div class="block columns__column">
                <a href="Image 4 link (URL)">
                <figure>
            <div class="image">
                  {{> atoms-square }}

                            </div>
                                </figure>
                        </a>
            </div>
    </div>
</div>
