<div class="blockBannerSplit columns blockMultimedia blockMultimedia--product">
                <div class="block">
                <a href="http://example.com">
                <figure>

            <div class="image">
                <img src="http://placehold.it/738x464" alt="">

                                    <div class="button__area">
                        <h1>Sleek and smart</h1>
                        <p>Preorder for 299€ and get your trolley before christmas</p><p>
                        <button class="button button--contrastive ">CTA 1</button>
                    </p></div>
                            </div>
                            <h3>Sleek and smart</h3>
                                        <p>Preorder for 299€ and get your trolley before christmas</p>
                                        <button class="button button--contrastive black">CTA 1</button>
                    </figure>
                        </a>
            </div>
        <div class="block">
                <a href="http://example.com">
                <figure>

            <div class="image">
                <img src="http://placehold.it/738x464" alt="">

                                    <div class="button__area">
                        <h3>Buy yours now</h3>
                        <p>Exclusive discount pre-orders</p><p>
                        <button class="button button--contrastive ">CTA 2</button>
                    </p></div>
                            </div>
                            <h3>Buy yours now</h3>
                                        <p>Exclusive discount pre-orders</p>
                                        <button class="button button--contrastive black">CTA 2</button>
                    </figure>
                        </a>
            </div>
    </div>
