<div class="section">
  <div class="section__header">
    <h2 class="section__title">Shipping method</h2>
  </div>
  <div class="section__content">
    {{> molecules-field-mixin:field--half( typeText: true, id: "text1", label: "Text Input") }}
    {{> molecules-field-mixin:field--quarter( typeTel: true, id: "tel1", label: "Tel Input") }}
    {{> molecules-field-mixin:field--quarter( typeEmail: true, id: "email1", label: "Email Input") }}
    {{> molecules-field-mixin( typeSelect: true, id: "select1", label: "Select") }}
  </div>
</div>

<div class="section">
  <div class="section__header">
    <h2 class="section__title">Shipping method</h2>
  </div>
  <div class="section__content">
    {{> molecules-radio-mixin(label: "RADIO") }}
  </div>
</div>