.policy-list {
  border-top : 1px solid $colorSilver;
  padding-top : 0.625em;
  margin-top : 1em;

  &__item {
    @include font-primary-light-uppercase();
    font-size : 0.75em;
    line-height : 2em;
    text-align : center;

    @media only screen and (min-width: $breakpointTablet) {
      text-align : left;
      display : inline-block;
      margin-right : 2.3125em;

      &:last-child {
        margin-right : 0;
      }
    }

    a {
      @extend %animationTextLinks;
    }
  }
}