<div class="checkout__footer" role="contentinfo">
    <ul class="policy-list">
        <li class="policy-list__item">
            <a title="{{ firstItemText || 'Sed consectetur' }}" href="#">{{ firstItemText || 'Sed consectetur' }}</a>
        </li>
        <li class="policy-list__item">
            <a title="{{ secondItemText || 'Duis risus tellus' }}" href="#">{{ secondItemText || 'Duis risus tellus' }}</a>
        </li>
        <li class="policy-list__item">
            <a title="{{ thirdItemText || 'Nulla facilisis tellus' }}" href="#">{{ thirdItemText || 'Nulla facilisis tellus' }}</a>
        </li>
    </ul>
</div>
