<div class="main__footer" role="contentinfo">

    <ul class="policy-list">
        <li class="policy-list__item">
            <a title="Privacy policy" href="#">Privacy policy</a>
        </li>
        <li class="policy-list__item">
            <a title="Refund policy" href="#">Refund policy</a>
        </li>
        <li class="policy-list__item">
            <a title="Terms of service" href="#">Terms of service</a>
        </li>
    </ul>

</div>
