.policy-list {
  padding-top : 0.625em;
  margin-top : 1em;
  @media only screen and (min-width: $breakpointTablet) {
    border-top : 1px solid $colorSilver;
  }

  &__item {
    @include font-primary-light-uppercase(0.75em);
    list-style-type: none;
    line-height : 2em;
    text-align : center;

    @media only screen and (max-width: $breakpointMobileEnd) {
      padding : 1em 0;
      border-top : 1px solid $colorSilver;
    }

    @media only screen and (min-width: $breakpointTablet) {
      text-align : left;
      display : inline-block;
      margin-right : 2.3125em;

      &:last-child {
        margin-right : 0;
      }
    }

    a {
      @extend %animationTextLinks;
    }
  }
}