.order-summary__section--discount,
.section--reductions {
  .fieldset {
    overflow: hidden;
    margin: 0;
    width: 100%;
  }
  .field {
    &__input {
      &-wrapper {
        margin: 0 0.9em 0 0;
        flex: 2 0;
        @media only screen and (max-width: 400px) {
          margin-bottom: 0.75em;
        }
      }
      &-btn {
        &-wrapper {
          display: flex;
          flex-direction: column;

          @media only screen and (min-width: 400px) {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
    &__message {
      &,
      &--warning {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.order-summary__section--discount {
  @media only screen and (max-width: $breakpointTabletEnd) {
    display: none !important;
  }
  .field {
    transition: margin-top $animationTimingNormal, opacity $animationTimingNormal;
    overflow: hidden;
    &:not(.field--collapsed) {
      margin-top: 0 !important;
    }
    &--collapsed {
      opacity: 0;
    }
  }
  .checkout__voucherField-label {
    position: relative;
    @include icon(chevron-up);
    font-family: $fontSecondary;
    cursor: pointer;
    padding: 1em 0 1em 1.25em;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -.05em;
    }

    &--collapsed {
      @include icon(chevron-down);
    }

    + .fieldset .field__input-btn-wrapper {
      margin-top: 1em;
    }

  }

}
