.order-summary__section--discount,
.section--reductions {
  .fieldset {
    overflow: hidden;
    margin: 0;
    width: 100%;
  }
  .field {
    &__input {
      border-color: $colorSilver;
      padding-bottom: 0.7875em;
      padding-top: 1em;
      &-wrapper {
        margin: 0 0.9em 0 0;
        flex: 2 0;
        @media only screen and (max-width: 400px) {
          margin-bottom: 0.75em;
          margin-right: 0;
        }
      }
      &-btn {
        background-color: $colorSilver;
        border-color: $colorSilver;
        min-height: none;
        &-wrapper {
          display: flex;
          flex-flow: column nowrap;
          @media only screen and (min-width: 400px) {
            flex-flow: row nowrap;
          }
        }
      }
    }
    &__message {
      &,
      &--warning {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.order-summary__section--discount {
  @media only screen and (max-width: $breakpointTabletEnd) {
    display: none !important;
  }
  .field {
    transition: margin-top $animationTimingNormal, opacity $animationTimingNormal;
    overflow: hidden;
    &:not(.field--collapsed) {
      margin-top: 0 !important;
    }
    &--collapsed {
      opacity: 0;
    }
  }
  .checkout__voucherField-label {
    position: relative;
    @include icon(chevron-up);
    font-family: $fontSecondary;
    cursor: pointer;
    padding: 1em 0 1em 1.25em;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -.05em;
    }

    &--collapsed {
      @include icon(chevron-down);
    }

    + .fieldset .field__input-btn-wrapper {
      margin-top: 1em;
    }

  }
}

.section--reductions {

  .content-box {
    &__row {
      margin-top: 1em;
      .edit_checkout {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    }
    &__emphasis {
      font-family: $fontSecondary;
      font-size: 1.125em;
    }
  }
  .section__title {
    display: none;
  }
}
