<div class="order-summary__section order-summary__section--discount" data-toggle-class="field--collapsed : .order-summary__section .field && checkout__voucherField-label--collapsed: .checkout__voucherField-label">
    <form class="edit_checkout animate-floating-labels">
        <!-- To be added with js -->
        <label class="checkout__voucherField-label" for="checkout_reduction_code">
            Do you have a discount code ?
        </label>
        <!-- add above -->
        <div class="fieldset" data-stop-propagation="click">
            <div class="field" data-set-by-height="-margin-top">
                <div class="field__input-btn-wrapper">
                    <div class="field__input-wrapper">
                        <label class="field__label" for="checkout_reduction_code">Gift card or discount code</label>
                        <input placeholder="Gift card or discount code" class="field__input">
                    </div>

                    <button class="field__input-btn btn btn--default btn--disabled">
                        <span class="btn__content visually-hidden-on-mobile">Apply</span>
                        <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                        <i class="btn__spinner icon icon--button-spinner"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>