<div class="section section--shipping-address">
  <div class="section__header">
    <h2 class="section__title">
      Shipping address
    </h2>
  </div>

  <div class="section__content">
    <div class="fieldset">
      {{> molecules-field-mixin(typeText: true,  id: '4234234234234', label : 'First name',  styleModifier: 'field--half' ) }}
      {{> molecules-field-mixin(typeText: true,  id: '3333234234', label : 'Last name',  styleModifier: 'field--half field--error', error: 'Phasellus pharetra mauris molestie arcu rutrum porttitor.' ) }}
      {{> molecules-field-mixin(typeText: true,  id: '3333234234', label : 'Company') }}
      {{> molecules-field-mixin(typeText: true,  id: '3333234234', label : 'Address', message: 'Curabitur eu aliquam risus. Aliquam vitae fermentum neque.' ) }}
      {{> molecules-field-mixin(typeText: true,  id: '3333234234', label : 'City') }}
      {{> molecules-field-mixin(typeSelect: true,  id: '3333234234', label : 'Country',  styleModifier: 'field--three-eights' ) }}
      {{> molecules-field-mixin(typeSelect: true,  id: '3333234234', label : 'State',  styleModifier: 'field--three-eights' ) }}
      {{> molecules-field-mixin(typeText: true,  id: '3333234234', label : 'Postal code',  styleModifier: 'field--quarter' ) }}
      {{> molecules-field-mixin(typeTel: true,  id: '3333234234', label : 'Phone (optional)') }}
    </div>
  </div>
</div>

