<div class="section section--contact-information">

  <div class="section__header">
    <h2 class="section__title">
      Customer information
    </h2>
  </div>

  <div class="section__content">
    <div class="fieldset">
      {{> molecules-field-mixin(typeEmail: true,  id: '4234234234234', label : 'Email') }}
    </div>
  </div>
</div>