<div class="section section--shipping-method">
  <div class="section__header">
    <h2 class="section__title">Shipping method</h2>
  </div>
  <div class="section__content">
    {{> molecules-radio-mixin(label: 'Nulla blandit tristique arcu quis lobortis.', checked: true) }}
    {{> molecules-radio-mixin(label: 'Integer ante ante, consectetur quis magna sit amet, feugiat auctor odio.', checked: false) }}

  </div>
</div>
