<div class="checkout__priceSummaryHeader">
    <div class="checkout__priceSummaryHeader--trustedShops">
        {{> atoms-checkout-trusted-shops(trustedShops_description:trustedShops_description) }}
    </div>
    <div class="checkout__priceSummaryHeader--usp">
        {{> atoms-checkout-usp(text:headerText.first || headline.mini || 'first USP') }}
        {{> atoms-checkout-usp(text:headerText.second || headline.mini || 'second USP') }}
    </div>
</div>