.checkout__priceSummaryHeader {
  display : flex;
  flex-direction : row;
  align-items : center;
  justify-content : space-between;
  padding : $checkoutSidebarVerticalPadding$checkoutSidebarHorizontalPadding;
  background: $colorAlabaster;
  position: relative;
  z-index: 2;

  &-right {
    text-align : right;
    flex-grow: 5;

  }
  &-left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}