<div class="checkout__priceSummaryHeader">
    <div class="checkout__priceSummaryHeader--trustedShops">
        {{> atoms-checkout-trusted-shops }}
    </div>
    <div class="checkout__priceSummaryHeader--usp">
        <ul>
            <li>
                {{> atoms-checkout-usp }}
            </li>
            <li>
                {{> atoms-checkout-usp }}
            </li>
        </ul>
    </div>
</div>