.checkout__priceSummaryHeader {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  &--usp {
    text-align : right;
    margin-top : 0.5em;
    ul {
      list-style-type: none;
    }
  }
}