<div class="checkout__priceSummaryFooter">
    <div class="checkout__priceSummaryFooter--usp">
        <ul>
            <li>
                {{> atoms-checkout-usp(content: 'Finest Italian leather') }}
            </li>
            <li>
                {{> atoms-checkout-usp(content: 'Free Travel Service') }}
            </li>
            <li>
                {{> atoms-checkout-usp(content: 'State-of-the art technology') }}
            </li>
        </ul>
    </div>
</div>