<div class="checkout__priceSummaryFooter">
    <div class="checkout__priceSummaryFooter--usp">
        <ul>
            <li>
                {{> atoms-checkout-usp }}
            </li>
            <li>
                {{> atoms-checkout-usp }}
            </li>
            <li>
                {{> atoms-checkout-usp }}
            </li>
        </ul>
    </div>
</div>