:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-bg: #{get-color('light')};
  --color-text: #{get-color('dark')};
  --color-stroke: #{get-color('mid')};
  --color-action-bg: #{get-color('primary')};
  --color-action-text: #{get-color('light')};
  --color-theme-primary: #{get-color('primary')};
  --color-theme-primary-glare: #{get-color('primary-glare')};
  --color-theme-highlight: #{get-color('highlight')};
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}
