/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lora Bold'), local('Lora-Bold'),
    url('/fonts/lora-v13-latin-700.woff2') format('woff2'),
    url('/fonts/lora-v13-latin-700.woff') format('woff');
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
