<div class="socialShare">
    <h3 class="navigation__footer--headline">FOLLOW US</h3>
    <a aria-label="go to Facebook" class="socialShare__link" href="#"
       onclick="
               window.open(
                 'https://www.facebook.com/sharer/sharer.php?u='+'<?php echo $page->url() ?>',
                 'facebook-share-dialog',
                 'width=626,height=436');
                 return false;">
        <span aria-hidden="true" class="socialShare__link--icon icon-facebook"></span>
    </a>
    <a aria-label="go to Instagram" class="socialShare__link" href="https://instagram.com/horiznstudios/" target="_blank">
        <span aria-hidden="true" class="socialShare__link--icon icon-instagram"></span>
    </a>
    <a aria-label="go to Twitter" class="socialShare__link share" href="http://twitter.com/intent/tweet?status=<?php echo strip_tags(html_entity_decode($page->title()->html())); ?>+<?php echo $page->url() ?>" target="_blank" data-via="HoriznStudios">
        <span aria-hidden="true" class="socialShare__link--icon icon-twitter"></span>
    </a>
</div>
