<div class="accordion">
	<ul>
		<li>
			<a href="#" class="accordion__handle">Accordion 1</a>
			<div class="accordion__panel">
			</div>
		</li>
		<li>
			<a href="#" class="accordion__handle">Accordion 2</a>
			<div class="accordion__panel">
			</div>
		</li>
		<li>
			<a href="#" class="accordion__handle">Accordion 3</a>
			<div class="accordion__panel">
			</div>
		</li>
	</ul>
</div>