@mixin accordion {
  width : 100%;
  &__handle {
    display : block;
    position : relative;
    &:before {
      @extend .iconFont;
      content:'\e60e'; // +
      position : absolute;
      right : 1em;
    }
    &--expanded {
      background-color : lighten(#c0c0c0, 20%);
      &:before {
        content:'\e60d'; // -
      }

      + [class*="accordion__panel"] {
        display:block;
      }
    }
  }
  &__panel {
    display:none;
  }
  &__panel__content {
    display:block;
    font-size : 0.875em;
    line-height : 1.625em;
    list-style-type : none;
    letter-spacing : 0.1em;
    text-transform : uppercase;
    border-bottom : 1px solid $colorSilver;
    padding-top : 1em;
    padding-bottom : 1em;
    padding-left : 0.75em;
    font-weight : 300;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }
}

.patternlab.accordion__handle--base,
.patternlab .accordion__handle--base {
  @extend .accordion__handle;
  font-family : $fontPrimary;
  font-size : 0.875em;
  font-weight : normal;
  text-transform : uppercase;
  letter-spacing : 0.1em;
  border-bottom : 1px solid $colorSilver;
  background-color : $colorGallery;
  padding-top : 1em;
  padding-bottom : 1em;
  padding-left : 0.75em;
  cursor: pointer;
  &:hover, &:active {
    background-color : lighten(#c0c0c0, 20%);
  }
}

.patternlab.mobile-accordion__handle--base,
.patternlab .mobile-accordion__handle--base {
  @extend .accordion__handle;
  @media only screen and (max-width : $breakpointTabletEnd) {
    font-family: $fontPrimary;
    font-size: 0.875em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid $colorSilver;
    background-color: $colorGallery;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.75em;
    cursor: pointer;
    &:hover, &:active {
      background-color: lighten(#c0c0c0, 20%);
    }
  }
}

.patternlab.accordion,
.patternlab .accordion {
  @include accordion;
}

@media only screen and (max-width : $breakpointTabletEnd) {
  .patternlab.mobile-accordion,
  .patternlab .mobile-accordion {
    @include accordion;
  }
  .patternlab.accordion__panel__content--link,
  .patternlab .accordion__panel__content--link {
    display : block;
    &:hover {
      background-color : $colorGallery;
      transition-timing-function: ease-out;
    }
    &:active {
      background-color : lighten(#c0c0c0, 20%);
    }
  }
}

