<div class="accordion">
	<ul>
		<li>
			<a href="#" class="accordion__handle">Accordion 1</a>
			<div class="accordion__panel">Panel 1
			</div>
		</li>
		<li>
			<a href="#" class="accordion__handle">Accordion 2</a>
            <a href="#" class="accordion__link">
                <div class="accordion__panel">Panel 2 (with link)
                </div>
            </a>
		</li>
		<li>
			<a href="#" class="accordion__handle">Accordion 3</a>
			<div class="accordion__panel">Panel 3
			</div>
		</li>
	</ul>
</div>