@mixin accordion {
  width : 100%;

  &__handle {
    display : block;
    position : relative;
    @include icon('plus');

    &:before {
      position : absolute;
      right : $marginMini;
    }

    &--expanded {
      background-color : lighten(#c0c0c0, 20%);
      @include icon('minus');

      + [class*="accordion__panel"] {
        display:block;
      }
    }
  }
  &__panel {
    display:none;
  }

  &__panel__content {
    display:block;
    font-size : 0.875em;
    line-height : 1.625em;
    list-style-type : none;
    letter-spacing : 0.1em;
    text-transform : uppercase;
    border-bottom : 1px solid $colorSilver;
    padding-top : 1em;
    padding-bottom : 1em;
    padding-left : $marginMini;
    font-weight : 300;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }
}


.accordion__handle--base {
  @extend .accordion__handle;
  font-family : $fontPrimary;
  font-size : 0.875em;
  font-weight : normal;
  text-transform : uppercase;
  letter-spacing : 0.1em;
  border-bottom : 1px solid $colorSilver;
  background-color : $colorGallery;
  padding-top : 1em;
  padding-bottom : 1em;
  padding-left : $marginMini;
  cursor: pointer;

  &:hover, &:active {
    background-color : lighten(#c0c0c0, 20%);
  }
}


.mobile-accordion__handle--base {
  @extend .accordion__handle;

  @media only screen and (max-width : $breakpointTabletEnd) {
    font-family: $fontPrimary;
    font-size: 0.875em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid $colorSilver;
    background-color: $colorGallery;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: $marginMini;
    cursor: pointer;

    &:hover, &:active {
      background-color: lighten(#c0c0c0, 20%);
    }
  }

  &:before {
    @media only screen and (min-width : $breakpointDesktop) {
      display : none;
    }
  }
}
.accordion {
  @include accordion;
}
@media only screen and (max-width : $breakpointTabletEnd) {

  .mobile-accordion {
    @include accordion;
  }

  .accordion__panel__content--link {
    display : block;

    &:hover {
      background-color : $colorGallery;
      transition-timing-function: ease-out;
    }

    &:active {
      background-color : lighten(#c0c0c0, 20%);
    }
  }
}

