<div class="accordion">
  <ul>
    <li>
      <a href="#" class="accordion__handle">Accordion 1</a>

      <div class="accordion__panel">
        <div class="accordion__panel__content">
          BLA BLA
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="accordion__handle">Accordion 2</a>

      <div class="accordion__panel">
        <a href="#" class="accordion__panel__content accordion__panel__content--link">Panel 2 (with link)</a>
      </div>
    </li>
    <li>
      <a href="#" class="accordion__handle">Accordion 3</a>

      <div class="accordion__panel">
        <div class="accordion__panel__content">Panel 3</div>
      </div>
    </li>
  </ul>
</div>