.languageSwitcher {
  display : none;

  @media only screen and (min-width: $breakpointDesktop) {
    display:block;
    font-size : 0.75em;
    text-transform : uppercase;
    letter-spacing : 1px;
    font-weight : 300;
  }

  &__item {
    &--active a {
      font-weight : 500;
    }

    & + &:before {
      content:'/ ';
    }
  }
}