<div class="languageSwitcher">
  <span class="languageSwitcher__item">
    <a href="#">en</a>
  </span>
  <span class="languageSwitcher__item languageSwitcher__item--active">
    <a href="#">de</a>
  </span>
</div>