.languageSwitcher {
  display : none;

  @media only screen and (min-width: $breakpointDesktop) {
    display : block;
    position : absolute;
    right : 3.75em;
    top : 2.95em;
    line-height : 1em;
    font-size : 0.75em;
    text-transform : uppercase;
    letter-spacing : 1px;
    transform: translateY(-50%);
    font-weight : 300;
  }

  &__item {
    &--active a {
      font-weight : 500;
    }

    & + &:before {
      content:'/ ';
    }
  }
}