.cart {
  &__link {
    position:relative;
    @include icon('bag');
    display:block;
    font-size:1.375em;

    &:before {
      position: relative;
      top: -2px;
    }
  }

  &__qty {
    display:block;
    position:absolute;
    font-size:0.5em;
    white-space:nowrap;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:0;
    color:$colorWhite;
  }
}