.cart {
  &__svg {
    position: relative;
    display: block;
    width: 1.3em;
    height: 1.3em;
    margin-top: -.4em;
    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
    @media only screen and (min-width: $breakpointDesktop) {
      margin-top: -.2em;
    }
  }

  &__qty {
    display: block;
    position: absolute;
    font-size: 0.65em;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: $colorWhite;
    margin-top: 1px;
  }
}