.emptyCart {
  text-align : center;
  position : relative;
  //padding-top : 5.125em;
  padding-top : 7.125em;
  @include icon(bag-outline);

  @media only screen and (min-width: $breakpointTablet) {
    padding-top : 7.125em;
  }

  &:before {
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    font-size : 4em;
  }

  &__headline2 {
    @include font-primary-medium-uppercase();
    font-size : 1.3125em;
    margin-bottom : 1.25em;
  }

  &__headline3 {
    @include font-primary-light-lowercase();
    font-size : 1em;
    margin-bottom : 3.125em;
  }

  &__button {
    margin : 1em 0;
    @media only screen and (min-width: $breakpointTablet) {
      margin : 1em 0.75em;
    }
  }
}

