<div class="emptyCart">
    <h2 class="emptyCart__headline2">Lorem ipsum dolor sit amet, consectetuer adipiscing.</h2>
    <h3 class="emptyCart__headline3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h3>
    <button class="emptyCart__button button button--primary">Shop Women</button>
    <button class="emptyCart__button button button--primary">Shop Men</button>
</div>