.tabs {
  display: inline-block;
  li {
    list-style-type : none;
    float: left;
    border-right: 0.063em solid $colorSilver;
    border-bottom: 0.063em solid $colorSilver;
    height: 5.375em;
    &:first-child {
      margin-right: -1px;
    }
    &:last-child {
      border-right: none;
    }
    a {
      transition: background-color .2s ease-in-out;
      padding: 2em $paddingMini;
      display: inherit;
      color: $colorSilver;
      text-align: center;
      @include font-tertiary-heavy();
    }
    &.tabs__active {
      border-bottom: 0.063em solid transparent;
      a {
        color: $colorBlack;
      }
    }
  }
}

.tab--content {
  > div {
    display: none;
    p {
      @include font-quaternary-lowercase();
    }
    &.tab--content__active {
      display: block;
    }
  }
}
