<ul class="tabs">
  <li class="tabs__active"><a href="#women" data-target="pane1">Women</a></li>
  <li><a href="#men" data-target="pane1">Men</a></li>
</ul>

<div class="tab--content" data-tab="pane1">
  <div id="women" class="tab--content__active">
    <p>Some content for women.</p>
  </div>
  <div id="men">
    <p>Some content for men in menu.</p>
  </div>
</div>


<hr>

<ul class="tabs">
  <li class="tabs__active"><a href="#whatever" data-target="pane2">Women</a></li>
  <li><a href="#whatever_2" data-target="pane2">Men</a></li>
</ul>

<div class="tab--content" data-tab="pane2">
  <div id="whatever" class="tab--content__active">
    <p>Some content for women.</p>
  </div>
  <div id="whatever_2">
    <p>Some content for men in menu.</p>
  </div>
</div>
