/*------------------------------------*\
    #PATTERN LAB STYLES
\*------------------------------------*/

/**
* NOTES:
* 1) These styles are specific to Pattern Lab and should not be modified.
* All project styles should be modified in /source/css/
*
* 2) Any !important declarations are to prevent brand styles from overriding
* pattern lab-specific styles
*/

/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS.................Variables and mixins
 * BASE......................Reset & Base elements
 * VENDOR....................Styles out of PL control
 * COMPONENTS................Components
 * THEMES....................Theming variations
 * UTILITIES.................Helper classes
 */

/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
@import 'scss/01-abstracts/variables';
@import 'scss/01-abstracts/mixins';

/*------------------------------------*\
    #BASE
\*------------------------------------*/
@import 'scss/02-base/reset';
@import 'scss/02-base/body';

/*------------------------------------*\
    #VENDOR
\*------------------------------------*/
@import 'scss/03-vendor/prism';

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

@import '../scripts/components/pl-drawer/pl-drawer.scss';
@import '../scripts/components/pl-layout/pl-layout.scss';
@import '../scripts/components/pl-search/pl-search.scss';
@import '../scripts/components/pl-toggle-info/pl-toggle-info.scss';
@import '../scripts/components/pl-toggle-layout/pl-toggle-layout.scss';
@import '../scripts/components/pl-toggle-theme/pl-toggle-theme.scss';
@import 'scss/04-components/annotations';
@import 'scss/04-components/breadcrumbs';
@import 'scss/04-components/controls';
@import 'scss/04-components/header';
@import 'scss/04-components/ish-sizing';
@import 'scss/04-components/logo';
@import 'scss/04-components/navigation';
@import 'scss/04-components/pattern-category';
@import 'scss/04-components/pattern-info';
@import 'scss/04-components/pattern-lineage';
@import 'scss/04-components/pattern-states';
@import 'scss/04-components/pattern';
@import 'scss/04-components/tabs';
@import 'scss/04-components/text-passage';
@import 'scss/04-components/tools';
@import 'scss/04-components/viewport';

/*------------------------------------*\
    #THEMES
\*------------------------------------*/
@import 'scss/05-themes/light-theme';
@import 'scss/05-themes/density-theme';
@import 'scss/05-themes/sidebar-theme';

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import 'scss/06-utilities/visibility';
