.btn {
  @extend .button;
}

.step__footer__continue-btn {
  @extend .button, .button__primary;
}

.section {
  &__header {
    margin-bottom: 20px;
  }
  &__title {
    @extend .headlineH2;
    margin-bottom: .5em;
  }
}

.section--payment-method + .section--optional {
  width: 280px;
  margin-left: auto;
  .checkbox-wrapper {
    padding: 0;
  }
}

* + .step__footer,
* + .section,
* + .content-box {
  margin-top: 30px;
}
