.visually-hidden {
  display: none;
}

.btn {
  @extend .button;
}

.step__footer__continue-btn {
  @extend .button, .button__primary;
}

.section {
  &__title {
    @extend .headlineH2;
    margin-bottom: .75em;

  }
}

* + .step__footer,
* + .section,
* + .content-box {
  margin-top: 30px;
}
