.visually-hidden {
  display: none;
}

.btn {
  @extend .button;
}

.step__footer__continue-btn {
  @extend .button, .button__primary;
}

.section {
  & + & {
    margin-top: 2em;
  }
  &__title {
    @extend .headlineH2;
    margin-bottom: .75em;

  }
}

