{{> atoms-payment-icon-amazon }}
{{> atoms-payment-icon-american-express  }}
{{> atoms-payment-icon-bitcoin }}
{{> atoms-payment-icon-bogus }}
{{> atoms-payment-icon-boleto }}
{{> atoms-payment-icon-cash }}
{{> atoms-payment-icon-dankort }}
{{> atoms-payment-icon-diners-club }}
{{> atoms-payment-icon-discover }}
{{> atoms-payment-icon-dogecoin }}
{{> atoms-payment-icon-litecoin }}
{{> atoms-payment-icon-generic }}
{{> atoms-payment-icon-gift-card }}
{{> atoms-payment-icon-google-wallet }}
{{> atoms-payment-icon-jcb }}
{{> atoms-payment-icon-laser }}
{{> atoms-payment-icon-maestro }}
{{> atoms-payment-icon-master }}
{{> atoms-payment-icon-paypal }}
{{> atoms-payment-icon-sofort }}
{{> atoms-payment-icon-unionpay }}
{{> atoms-payment-icon-visa }}