.checkoutUsp {
  @include font-quaternary-lowercase($fontSizeSmall);
  @include icon(check);
  position : relative;
  margin-bottom : 0.25em;
  text-transform : none;
  color: $colorSilverChalice;
  &:last-child {
    margin-bottom : 0;
  }

  &:before {
    left : 0;
    top : -3px;
    font-size : 1em;
    margin-right : 0.5em;
  }
}
