.checkoutUsp {
  @include font-primary-light-uppercase(0.75em);
  @include icon(check);
  position : relative;
  margin-bottom : 0.25em;
  text-transform : none;

  &:last-child {
    margin-bottom : 0;
  }

  &:before {
    left : 0;
    top : -3px;
    font-size : 1em;
    margin-right : 0.5em;
  }
}