.checkoutUsp {
  @include font-primary-light-uppercase(0.75em);
  @include icon(check);
  position : relative;
  margin-bottom : 1em;

  &:before {
    left : 0;
    top : -3px;
    font-size : 1.125em;
    margin-right : 1em;
  }
}