<div class="checkout__trustedShops">
    <div class="checkout__trustedShops--badge">

    </div>
    <div class="checkout__trustedShops--description">
        <span>{{ headline.mini }}</span>
    </div>
</div>