.checkout__trustedShops {
  display : flex;
  flex-direction : row;
  color: $colorSilverChalice;
  &__badge {
    width : 2em;
    height : 2em;
    @media only screen and (min-width : $breakpointTablet) {
      width : 3em;
      height : 3em;
    }
  }

  &__description {
    @include font-quaternary-lowercase($fontSizeSmall);
    margin-top : 0.75em;
    margin-left : 0.5em;
    width : 9.5em;
    text-transform : none;
    @media only screen and (min-width : $breakpointTablet) {
      margin-left : 1em;
    }
  }
}
