.checkout__trustedShops {
  display : flex;
  flex-direction : row;
  align-items : center;

  &__badge {
    width : 3.5em;
    height : 3.5em;
  }

  &__description {
    @include font-primary-light-uppercase(0.75em);
    line-height : 2.5em;
    margin-top : 0.5em;
    margin-left : 1em;
    width : 5.5em;
  }
}