<div class="checkout__trustedShops">
    <div class="checkout__trustedShops__badge">
        {{> atoms-trusted-shops }}
    </div>
    <div class="checkout__trustedShops__description">
        {{ trustedShops_description || 'Lorem ipsum' }}
    </div>
</div>