<div class="checkout__trustedShops">
    <div class="checkout__trustedShops__badge">
        {{> atoms-trusted-shops }}
    </div>
    <div class="checkout__trustedShops__description">
        {{ headline.mini }}
    </div>
</div>