<span tabindex="0" class="field__icon icon icon--{{ icon || 'question' }} has-tooltip" role="tooltip">
  <span class="tooltip">
    <span data-cvv-tooltip="unknown">
      {{ tooltipText || 'Phasellus nunc tellus, eleifend vitae quam et' }}
    </span>
  </span>
</span>