.blank-slate {
  padding: 2em;
  line-height: 5em;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  p {
    line-height: 1.5em;
    display: inline-block;
  }
  p:last-child {
    margin-bottom: 0;
  }
}