/*------------------------------------*\
    #ANNOTATIONS
\*------------------------------------*/

/**
 * Annotated elements styles
 * 1) Annotation styles that appear inside the iframe
 * 2) For elements in the DOM that have an annotation, we want to
 * provide styles that help the user understand that annotations are available.
 * We do this with some cursor helpers and a
 */
.pl-has-annotation {
    cursor: help !important;
    outline: 1px dotted $pl-color-gray-50;
    outline-offset: -4px;
    transition: box-shadow $pl-animate-quick ease;

    a, input {
        cursor: help !important;
    }

    &:hover {
        box-shadow: 0 0 3px $pl-color-gray-50;
    }

    &.active {
        box-shadow: inset 0 0 6px $pl-color-gray-70;
        outline: 1px dotted $pl-color-gray-50;
        outline-offset: -1px;
    }
}

/**
 * Annotation tooltip
 * 1) Appears inside the iframe over any element that has an
 *    anootation attached to it. 
 * 2) Annotation tip gets dynamically set to `display: none` via
 *    JavaScript
 */
.pl-c-annotation-tip {
    display: flex; /* 2 */
    align-items: center;
    justify-content: center;
    width: 24px !important;
    height: 24px !important;
    margin-top: 6px !important;
    margin-left: 6px !important;
    border-radius: 50% !important;
    background: $pl-color-gray-87 !important;
    color: $pl-color-white !important;
    font-size: 16px !important;
    position: absolute;
    z-index: 100;
}





/*------------------------------------*\
    #ANNOTATIONS INSIDE MODAL
\*------------------------------------*/

/**
 * Annotations area
 * 1) Appears inside of modal  
 */
.pl-c-annotations {
    margin: 1rem 0;
}

/**
 * Annotations Title
 * Says the world "Annotations" 
 */
.pl-c-annotations__title {
    font-size: 1.2rem !important;
    margin: 0 0 0.5rem;
}

/**
 * Annotations list
 * 1) Ordered list of annotations 
 * 2) Presented with parent selector to force styles
 *    over pl-c-text-passage
 */
.pl-c-annotations .pl-c-annotations__list {
    counter-reset: the-count;
    padding: 0;
    margin: 0;
    list-style: none;
}

/**
 * Annotations list item
 * 1) Displays each item as a number
 */
.pl-c-annotations__item {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    border-radius: $pl-border-radius-med;
    transition: background $pl-animate-quick ease;

    &:before {
        content: counter(the-count);
        counter-increment: the-count;
        font-size: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
        background: $pl-color-gray-50;
        color: $pl-color-white;
        position: absolute;
        top: 4px;
        left: 0;
    }

    &.pl-is-active {
        outline: 1px dotted $pl-color-gray-50;
        outline-offset: -1px;
    }
}

.pl-c-annotations .pl-c-annotations__item-title {
    margin-bottom: 0;
}