/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Navigation container
 * 1) Collapse height on small screens. Menu trigger button
 *    activates nav
 */
.pl-c-nav {
    @media all and (max-width: $pl-bp-med) {
        position: absolute;
        top: 100%;
        width: 100%;
        overflow: hidden;
        max-height: 0; /* 1 */
        background: $pl-color-black;
        display: flex;
        flex-direction: column;
        transition: max-height $pl-animate-quick ease-out;

        /**
         * Active navigaiton
         * 1) Slide 
         * 2) Set the height to the vierport height minus the height
         *    of the header
         */
        &.pl-is-active {
            max-height: 50rem;  /* 1 */
            height: calc(100vh - #{$offset-top}); /* 2 */
            overflow: auto;
            @include hideScrollBar();
        }
    }

    @media all and (min-width: $pl-bp-med) {
        display: flex;
    }
}

/**
 * Nav list
 * 1) appears as an <ol>
 * 2) display as a horizontal list on larger screens
 * 3) On small screens, move the nav list after the typeahead form field
 */
.pl-c-nav__list {
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;

    @media all and (max-width: $pl-bp-med) {
        order: 2; /* 3 */
    }

    @media all and (min-width: $pl-bp-med) {
        display: flex; /* 2 */
    }
}

/**
 * Nav list item
 */
.pl-c-nav__item {
    cursor: pointer;
    position: relative;
}

/**
 * Last sublist item
 */
.pl-c-nav__sublist > .pl-c-nav__item:last-child {
    @media all and (min-width: $pl-bp-med) {
        overflow: hidden;
        border-bottom-left-radius: $pl-border-radius-med;
        border-bottom-right-radius: $pl-border-radius-med;
    }
}

/**
 * Nav link
 */
.pl-c-nav__link {
    display: flex;
    align-items: center;
    @include linkStyle();
}

/**
 * Nav sublink
 * 1) Visually differentiate sub-item links from
 *    the other links. Creates better hierarchy.
 */
.pl-c-nav__link--sublink {
    text-transform: none;
    padding-left: 1rem;
}

/**
 * Nav link
 */
.pl-c-nav__link--dropdown {

    /**
     * Dropdown caret after accordion handle
     */
    &:after {
        content: '\25bc';
        color: $pl-color-trans-white-25;
        display: inline-block;
        font-size: 7px;
        position: relative;
        top: 1px;
        right: -2px;
        transition: all $pl-animate-quick ease-out;
    }

    &:hover, &:focus {
        &:after {
            color: $pl-color-gray-50;
        }
    }

    /**
     * Active dropdown
     */
    &.pl-is-active {
        color: $pl-color-white;
        background: $pl-color-gray-87;

        /**
         * Caret rotation and positioning in active dropdown
         */
        &:after {
            color: $pl-color-gray-50;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}

/**
 * Nav sublist
 * 1) On larger screens, display as dropdowns that
 *    hang over the header
 */
.pl-c-nav__sublist {
    @include listReset();

    @media all and (min-width: $pl-bp-med) {
        position: absolute;
        top: 100%; /* 1 */
        left: 0;
        min-width: 10rem;
        overflow: hidden;
        border-bottom-left-radius: $pl-border-radius-med;
        border-bottom-right-radius: $pl-border-radius-med;
    }
}

/**
 * Dropdown sublist
 */
.pl-c-nav__sublist--dropdown, .pl-c-nav__subsublist--dropdown {
    @include listReset();
    @include accordionPanel();
}

/**
 * Dropdown sublist
 * 1) Set the height to the viewport height minus the height of the header
 */
.pl-c-nav__sublist--dropdown.pl-is-active {
    @media all and (min-width: $pl-bp-med) {
        height: calc(100vh - #{$offset-top}); /* 1 */
    }
}

/**
 * Sub-navigation
 * 1) Third-level links are stylistically different
 * than first and second nav links.
 */
.pl-c-nav__subsublist {
    @include listReset();
}

