/*------------------------------------*\
    #PATTERN INFO
\*------------------------------------*/

/**
 * 1) Pattern info contains two sidy-by-side panels that
 *    house a pattern's information, such as title, lineage,
 *    code, annotations, and more.
 */
.pl-c-pattern-info {

    @media all and (min-width: $pl-bp-large) {
        display: flex;
    }

    /**
     *  Pattern info inside the "view all" template
     */
    .pl-c-pattern & {
        max-height: 20rem;
        overflow: scroll;

        @media all and (min-width: $pl-bp-large) {
            max-height: none;
            height: 18rem;
            overflow: visible;
        }
    }

    /**
     *  Pattern info inside modal
     */
     .pl-c-modal & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: scroll;

        @media all and (min-width: $pl-bp-large) {
            position: static;
            overflow: visible;
        }
    }
}

/**
 * Pattern Info Panel
 * 1) Individual panel. Left side contains pattern info
 *    Right side contains pattern code
 */
.pl-c-pattern-info__panel {
    padding: 1rem;

    @media all and (min-width: $pl-bp-large) {
        flex: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .pl-c-modal & {
        @media all and (min-width: $pl-bp-xl) {
            padding-left: 2rem;
        }
    }
}

/**
 * Pattern Info Panel
 * 1) Left panel that contains pattern title, lineage, description, annotations
 */
.pl-c-pattern-info__panel--info {

    @media all and (min-width: $pl-bp-large) {
        left: 0;
        right: 50%;
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    @media all and (min-width: $pl-bp-xl) {
        right: 55%;
    }
}

/**
 * Pattern Code Panel
 * 1) Right panel that displays the pattern's code (found in _tabs.scss)
 * 2) Using a sibling selector because the pattern info isn't always present.
 *    The sibling selector allows the code panel to occupy the full width of 
 *    the 
 * 1) Cap the height of the code panel in the modal
 */
 .pl-c-pattern-info__panel--info + .pl-c-pattern-info__panel--code {

    @media all and (min-width: $pl-bp-large) {
        right: 0;
        left: 50%;
    }

    @media all and (min-width: $pl-bp-xl) {
        left: 45%;
    }
}


/**
 * Pattern Header inside modal
 */
 .pl-c-pattern-info__header {
    margin-bottom: 0.5rem;
}

/**
 * Pattern Title inside modal
 */
.pl-c-pattern-info__title {
    font-size: 1.4rem !important;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
}

/**
 * Pattern Description inside modal
 */
 .pl-c-pattern-info__description {
    border-bottom-color: $pl-color-gray-50;
}

/**
 * Pattern Annotations inside modal
 */
.pl-c-annotations {
    border-top-color: $pl-color-gray-50;
}