/*------------------------------------*\
    #VIEWPORT
\*------------------------------------*/

/**
* To keep user code and PL code separate, and to make
* resizing the viewport possible, PL contains an iframe
* that houses all user code.
*/

/**
* Viewport
* 1) This wrapper div occupies all remaining viewport space after PL's header
*/
.pl-c-viewport {
    width: 100%;
    position: fixed;
    top: $offset-top;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/**
* Cover
* 1) This is an invisible div that sits above the iframe and is
* used in JS for manual viewport resizing purposes.
*/
.pl-c-viewport__cover {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 20;
    cursor: move;
}

/**
* Viewport iframe wrapper
* 1) This is the container that houses the
*    iframe and the manual resize handle
*/
.pl-c-viewport__iframe-wrapper {
    height: 100%;
    position: relative;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;

    &.hay-mode {
        transition: all 40s linear;
    }
}

/**
* Viewport iframe
* 1) this is the actual <iframe>
*/
.pl-c-viewport__iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $pl-color-white;

    /**
    * Hay Mode transition
    * 1) Hay Mode (disabled by default) starts with the smallest
    * viewport then slowly expands http://bradfrost.com/blog/post/ish-2-0/
    */
    &.hay-mode {
        transition: all 40s linear;
    }
}

/**
* Right pull container
* 1) Container used for manual resizing
*/
.pl-c-viewport__resizer {
    width: 14px;
    float: right;
    margin: 0;
    height: 100%;
    cursor: move;
}

/**
* Right pull
* 1) This is the handle that lets the user resize the viewport
*/
.pl-c-viewport__resizer-handle {
    margin: 0;
    width: 100%;
    height: 100%;
    background: $pl-color-gray-20;
    transition: background $pl-animate-quick ease-out;

    &:hover {
        background: $pl-color-gray-50;
    }

    &:active {
        cursor: move;
        background: $pl-color-gray-70;
    }
}

/**
* VP animate
* 1) This is an added class that is activated by JS to
*    transition the width of the viewport
*/
.vp-animate {
    transition: width 0.8s ease-out;
}