.trusted-shops {
  display:inline-block;
  width:60px;
  max-width:100%;
  height:60px;
  max-height:100%;
  background:inline('../images/trusted-shops-60px.png') center center no-repeat;
  background-size:contain;

  @media only screen and (min-width: $breakpointDesktop) {
    display : none;
  }

  &--dynamic {
    padding-top : 6px;

    @media only screen and (max-width: $breakpointTabletEnd) {
      display : none;
    }
  }
}

.checkout, .kirbyCMS {
  .trusted-shops {
    @media only screen and (min-width: $breakpointDesktop) {
      display:inline-block;
    }
  }
}